﻿<div class="well fields">
	<%= f.hidden_field :_destroy %>
	
	<%= link_to_remove_fields "<i class='glyphicon glyphicon-trash'></i>".html_safe, f %>
	
	<div>
		<div class="form-group">
			<%= f.label :nombres, class: "col-xs-1" %>
			<div class="col-xs-10">
				<%= f.text_field :nombres, class: "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :apellidos, class: "col-xs-1" %>
			<div class="col-xs-10">
				<%= f.text_field :apellidos, class: "form-control" %>
			</div>
		</div>
	</div>
	<div>
		<div class="form-group">
			<%= f.label :telefono, "Teléfono", class: "col-xs-1" %>
			<div class="col-xs-2">
				<%= f.text_field :telefono,  class: 'form-control' %>
			</div>
			<%= f.label :email, "e-mail", class: "col-xs-1" %>
			<div class="col-xs-3">
				<%= f.text_field :email,  class: 'form-control' %>
			</div>
			<%= f.label :numero_documento, "DNI", class: "col-xs-1" %>
			<div class="col-xs-2">
				<%= f.text_field :numero_documento,  class: 'form-control js-input-numero-documento' %>
			</div>
		</div>
	</div>
	<div>
		<label>&nbsp;</label>
		<small>Puede cargar varios tel&eacute;fonos y e-mails, separados por comas.</small>
	</div>
	<div class="form-group">
		<label class="apoderado-domicilio-label col-xs-12">Domicilio</label>
		<div class="col-lg-offset-0 col-lg-4 col-md-offset-3 col-md-7 col-sm-8">
			<div class="control">
				<%= f.text_field :calle, placeholder: 'Calle', class: 'form-control float-input', required: true %>
				<%= f.label :calle, 'Calle' %>
			</div>
		</div>

		<div class="col-lg-2 col-md-5 col-sm-6">
			<div class="control">
				<%= f.text_field :numero, placeholder: 'Número', class: 'form-control float-input js-numero-apoderado', required: true %>
				<%= f.label :numero, 'Número' %>
			</div>
		</div>

		<div class="col-lg-offset-0 col-lg-1 col-md-offset-1 col-md-5 col-sm-6">
			<div class="control">
				<%= f.text_field :piso, placeholder: 'Piso', class: 'form-control float-input', required: true %>
				<%= f.label :piso, 'Piso' %>
			</div>
		</div>

		<div class="col-lg-offset-0 col-lg-1 col-md-3 col-sm-4">
			<div class="control">
				<%= f.text_field :depto, placeholder: 'Depto', class: 'form-control float-input', required: true %>
				<%= f.label :depto, 'Depto' %>
			</div>
		</div>

		<div class="col-lg-offset-0 col-lg-2 col-md-offset-2 col-md-5 col-sm-6">
			<div class="control">
				<%= f.select :comuna, COMUNAS, { prompt: 'Comuna' }, { class: 'form-control float-input', required: true } %>
				<%= f.label :comuna, 'Comuna' %>
			</div>
		</div>

		<div class="col-lg-offset-0 col-lg-2 col-md-3 col-sm-4">
			<div class="control">
				<%= f.text_field :codigo_postal, placeholder: 'CP', class: 'form-control float-input js-cp-apoderado', required: true %>
				<%= f.label :codigo_postal, 'CP' %>
			</div>
		</div>
	</div>
</div>

<br/>