
<div class="well fields">
	<div class="input-group">
		<span class="input-group-addon">Elecci&oacute;n</span>
		<%= f.select :eleccion_id, options_from_collection_for_select(@elecciones, :id, :descripcion, f.object.eleccion_id), {}, class: 'form-control' %>
	</div>

	<br>

	<div class="input-group col-xs-12 archivo-campo">
		<label class="control-label">Archivo</label>
		<%= f.file_field :archivo %>
		<%= link_to("<i class='glyphicon glyphicon-download'></i> #{f.object.archivo.nombre}".html_safe, "#{root_url}/archivos/descargar/#{f.object.archivo.id}", class: 'btn btn-default') unless f.object.archivo.nil? %>
		<%= link_to_remove_fields "<i class='glyphicon glyphicon-trash'></i>".html_safe, f %>
	</div>
</div>
