
<%= form_for(@fuerza, html: {class: "form-horizontal fuerzas-new-form float-label-form", multipart: true, id: 'fuerza_form', novalidate: true}) do |f| %>

	<%= hidden_field_tag :back_to, (@back_to || params[:back_to]) %>

	<div class="well">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="row">

					<div class="col-md-3 col-xs-12">
						<div class="form-group">
							<%= f.label :numero, "Número", class: "col-md-4" %>
							<div class="col-md-8"><%= f.number_field :numero, class: "form-control" %></div>
						</div>
					</div>

					<div class="col-md-6 col-xs-12">
						<div class="form-group">
							<%= f.label :expediente, 'Nro. Expte. TSJ', class: "col-md-3" %>
							<div class="col-md-9">
								<div class="input-group">
									<%= f.text_field :expediente, class: "form-control js-input-expediente", validate: false %>
									<span class="input-group-btn v-align-top">
										<%= link_to "<i class='glyphicon glyphicon-search'></i> Buscar".html_safe, "#busqueda_expedientes", {class: "btn btn-default", id: "modal_button", role: "button", :"data-toggle" => "modal"} %>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-xs-12">
						<div class="form-group">
							<%= f.label :estado, class: "col-md-3" %>
							<div class="col-md-9"><%= f.select :estado, options_for_select(Fuerza::ESTADOS.map {|e| [e.capitalize, e]}, f.object.estado), {}, {class: "form-control"} %></div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<%= f.label :nombre, class: "col-md-1" %>
					<div class="col-md-5"><%= f.text_field :nombre, class: "form-control" %></div>

					<%= f.label :escudo, class: "col-md-1" %>
					<%= f.file_field :escudo, class: 'col-md-3 padding-left-15' %>
					<%= image_tag f.object.escudo.url, size: "100x100", class: "pull-right" %>
				</div>
			</div>
		</div>

		<%= f.fields_for :fuerza_elecciones do |fe| %>
			<% if fe.object.eleccion_id == Eleccion.actual.id %>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<%= fe.hidden_field :eleccion_id %>
							<%= fe.label :umbral, "Umbral Interno (%)", class: "col-md-2" %>
							<div class="col-md-4">
								<%= fe.text_field :umbral, value: fe.object.umbral.to_s.gsub(".", ","), class: "form-control js-input-umbral" %>
							</div>
							<div class="col-md-3">
								<%= fe.select :eleccion_id, options_for_select(Eleccion.all.map { |eleccion| [eleccion.descripcion, eleccion.id]}, fe.object.eleccion_id), {}, {class: "form-control", disabled: true} %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>

		<a href="#" data-toggle="modal" data-target="#HistoricoUmbrales">
		  Histórico de Umbrales
		</a>

		<br>
		<br>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<%= f.label :web, "Sitio Web", class: "col-md-1" %>
					<div class="col-md-5"><%= f.text_field :web, class: "form-control" %></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<%= f.label :domicilio_constituido, class: "col-md-1" %>
					<div class="controls">
						<%= f.fields_for(:domicilio_constituido) do |df| %>
							<%= render partial: 'domicilios/form', locals: { f: df } %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<%= f.label :domicilio_real, class: "col-md-1" %>
					<div class="controls">
						<%= f.fields_for(:domicilio_real) do |df| %>
							<%= render partial: 'domicilios/form', locals: { f: df } %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="form-group">
					<%= f.label :tipo, class: "col-md-1" %>
					<div class="col-md-11"><%= f.select :tipo, options_for_select(Fuerza::TIPOS.map {|t| [t.capitalize, t]}, f.object.tipo), {}, {class: "form-control"} %></div>
				</div>

			</div>
			<div class="col-md-12">

				<div id="panel_alianza">
					<div class="form-group">
						<%= f.label :eleccion, 'Elección', class: 'col-md-1' %>
						<div class="col-md-11"><%= f.select :eleccion_id, options_from_collection_for_select(@elecciones, :id, :descripcion, f.object.eleccion_id), {include_blank: true}, class: 'form-control' %></div>
					</div>
					<div class="form-group">
						<%= f.label :partidos, class: 'col-md-1' %>
						<%= f.hidden_field :ids_partidos %>
						<div class="row">
							<div class="col-md-8">
								<%= select_tag :partidos, options_from_partidos(@partidos), class: "select2", style: 'width: 100%;', prompt: 'Seleccione un partido' %>
							</div>
							<div class="col-md-2">
								<a href="#" id="agregar_partido" class="btn btn-block btn-info"><i class="glyphicon glyphicon-plus"></i> Agregar</a>
							</div>
						</div>
						<br/>
						<div class="well <%= 'borde-rojo' if f.object.errors.key?(:sin_partidos) %>">
							<ul class="no-list-style" id="lista_partidos">
								<% @fuerza.partidos.each do |p| %>
									<li id="partido_<%= p.id %>">
										<%= p.nombre %>
										<a href="javascript: remove_partido(<%= p.id %>)"><i class="glyphicon glyphicon-remove"></i></a>
									</li>
								<% end %>
							</ul>
						</div>
						<% if f.object.errors.key?(:sin_partidos) %>
							<p class="rojo">Partidos no puede quedar vacío</p>
						<% end %>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="form-group">
					<%= f.label :observaciones, class: "col-md-2" %>
					<div class="col-md-10"><%= f.text_area :observaciones, rows: 3, class: "form-control" %></div>
				</div>

			</div>
		</div>

	</div>

	<br>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<h4>Boletas</h4>

				<hr/>

				<%= f.fields_for :boletas do |b| %>
					<%= render "boleta_fields", f: b %>
				<% end %>
				<label><%= link_to_add_fields "<i class='glyphicon glyphicon-plus'></i> Agregar Boleta".html_safe, f, :boletas %></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<h4>Documentos</h4>

				<hr/>

				<%= f.fields_for :documentos_fuerzas do |b| %>
					<%= render "documento_fuerza_fields", f: b %>
				<% end %>
				<label><%= link_to_add_fields "<i class='glyphicon glyphicon-plus'></i> Agregar Documento".html_safe, f, :documentos_fuerzas %></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-12 no-padding-left">
					<h4>Apoderados</h4>
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 no-padding-left">

					<%= f.fields_for :apoderados do |builder| %>
						<%= render "apoderado_fields", f: builder %>
					<% end %>

					<label class="js-agregar-apoderado">
						<%= boton('plus', '<i class="glyphicon glyphicon-plus"></i> Agregar Apoderado'.html_safe, '#', 'btn-info', id: 'link_agregar_apoderado', onclick: "agregar_apoderado(this, '#{@fuerza.id}'); return false;") %>
					</label>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-offset-1">
			<div class="form-actions">
				<%= link_to "<i class='glyphicon glyphicon-ok'></i> Grabar".html_safe, '#', class: 'btn btn-primary', id: 'grabar_fuerza' %>
				<%= link_to("<i class='icon-arrow-left'></i> Volver".html_safe, fuerzas_path, class: 'btn') %>
			</div>
		</div>
	</div>

<% end %>

<%= render "busqueda_expedientes" %>

<%= render "modal_historico_umbrales", fuerza: @fuerza %>
