
<tr class="<%= (!fuerza.eleccion.nil? and !fuerza.eleccion.vigente?) ? "warning": "" %>">
    <td><%= fuerza.numero %></td>
    <td><%= fuerza.expediente %></td>
    <td>
        <%= fuerza.nombre %>
        <%= (fuerza.miembro_alianza?) ? "<i class='glyphicon glyphicon-flag' title='#{(fuerza.miembro_alianza?) ? "Miembro de: #{fuerza.alianzas.map(&:nombre).join(',')}": ""}'></i>".html_safe: "" %>
        <% unless fuerza.eleccion.nil? %>
            <i class="<%= (fuerza.eleccion.vigente?) ? "glyphicon glyphicon-ok-sign" : "glyphicon glyphicon-remove-sign" %>" title="<%= (fuerza.eleccion.vigente?) ? "La alianza pertenece a una elección vigente": "La elección a la que pertenece la alianza ya no está vigente" %>"></i>
        <% end %>
    </td>
    <td nowrap>
        <% fuerza.nombres_archivos_expedientes.each do |nombre| %>
            <%= link_to nombre, "#{EXP_BASE_URL}/#{nombre}", class: 'btn btn-default', target: '_blank' %>
        <% end %>
    </td>
    <td><%= fuerza.estado.capitalize %></td>
    <td><%= fuerza.tipo.capitalize %></td>
    <td style="text-align: right;" nowrap>
        <%= link_to "<i class='glyphicon glyphicon-#{fuerza.infracciones.empty? ? 'ok' : 'warning-sign'}'></i> #{texto_infracciones(fuerza)}".html_safe, fuerza_infracciones_path(fuerza), class: "btn #{fuerza.infracciones.empty? ? 'btn-success' : 'btn-warning'}" %>
        <%= link_to "<i class='glyphicon glyphicon-user'></i> Candidaturas".html_safe, listas_path(eleccion_id: @actual.id, fuerza_id: fuerza.id), class: 'btn btn-primary' %>
        <%= link_to "<i class='glyphicon glyphicon-pencil'></i> Detalle".html_safe, edit_fuerza_path(fuerza), class: 'btn btn-default' %>
    </td>
</tr>
