
<tr class="<%= (!fuerza.tiene_personeria_juridica?) ? 'danger' : (!fuerza.eleccion.nil? and !fuerza.eleccion.vigente?) ? 'warning': '' %>">
    <td><p class="text-center"><%= fuerza.numero %></p></td>
    <!-- <td><p class="text-center"><%= fuerza.expediente %></p></td> -->
    <td>
        <%= fuerza.nombre %>
        <%= (!fuerza.tiene_personeria_juridica?) ? '<i class="fa fa-exclamation-triangle" aria-hidden="true" title="Falta presentar personería jurídica"></i>'.html_safe : '' %>
        <%= (fuerza.miembro_alianza?(@filtros[:eleccion_id])) ? "<i class='glyphicon glyphicon-flag' title='#{(fuerza.miembro_alianza?(@filtros[:eleccion_id])) ? "Miembro de: #{fuerza.alianzas.alianzas_eleccion(@filtros[:eleccion_id]).map(&:nombre).join(',')}": ""}'></i>".html_safe: "" %>
        <% unless fuerza.eleccion.nil? %>
            <i class="<%= (fuerza.eleccion.vigente?) ? "glyphicon glyphicon-ok-sign" : "glyphicon glyphicon-remove-sign" %>"></i>
        <% end %>
    </td>
    <td nowrap>
        <% fuerza.nombres_archivos_expedientes.each do |nombre| %>
            <%= link_to nombre, "#{EXP_BASE_URL}/#{nombre}", class: 'btn btn-default', target: '_blank' %>
        <% end %>
    </td>
    <td nowrap><%= fuerza.estado.capitalize %></td>
    <td><%= fuerza.tipo.capitalize %></td>
    <td style="text-align: right;" nowrap>
        <%= link_to "<i class='glyphicon glyphicon-#{fuerza.infracciones.empty? ? 'ok' : 'warning-sign'}'></i> #{texto_infracciones(fuerza)}".html_safe, fuerza_infracciones_path(fuerza), class: "btn #{fuerza.infracciones.empty? ? 'btn-success' : 'btn-warning'} fuerza-infraccion-boton" %>
        <%= link_to "<i class='glyphicon glyphicon-pencil'></i> Detalle".html_safe, edit_fuerza_path(fuerza), class: 'btn btn-default' %>
        <%= link_to "<i class='glyphicon glyphicon-user'></i> Candidaturas".html_safe, listas_path(eleccion_id: @filtros[:eleccion_id], fuerza_id: (fuerza.alianzas.alianzas_eleccion(@filtros[:eleccion_id]).empty? ? fuerza.id : fuerza.alianzas.alianzas_eleccion(@filtros[:eleccion_id]).first.try(:id))), class: 'btn btn-primary' %>
        <%= link_to "<i class='glyphicon glyphicon-remove'></i> Baja".html_safe, baja_fuerza_path(fuerza), class: 'btn btn-danger', method: :delete, data: { confirm: "Está seguro que desea dar de baja #{fuerza.es_alianza? ? 'la Alianza' : 'el Partido'}?" } %>
    </td>
    <td></td>
</tr>
