<div class="modal fade" id="HistoricoUmbrales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Histórico de Umbrales</h4>
      </div>

      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Elección</th>
              <th>Umbral</th>
            </tr>
          </thead>

          <tbody>
            <% fuerza.fuerza_elecciones.each do |fuerza_eleccion| %>
              <tr>
                <td><%= fuerza_eleccion.eleccion_descripcion %></td>
                <td><%= number_to_percentage(fuerza_eleccion.umbral, precision: 2, strip_insignificant_zeros: true) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>