
contenido = '<%= apoderado_fields(@fuerza) %>';

$('#link_agregar_apoderado').closest(".js-agregar-apoderado").before(contenido);

inicializar_numero_documento_con_mascara();
inicializar_cp_apoderado();
inicializar_numero_apoderado();