
<h2>Baja</h2>
<hr/>

<%= form_for(@fuerza, html: {class: 'form-horizontal', id: 'form_baja_fuerza'}) do |f| %>
	<div class="form-group">
		<%= f.label :nombre, class: 'control-label' %>
		<div class="controls"><%= f.text_field :nombre, disabled: true %></div>
	</div>
	<div class="form-group">
		<%= f.label :fecha_baja, 'Fecha de Baja', class: 'control-label' %>
		<div class="controls"><%= f.text_field :fecha_baja, value: (f.object.fecha_baja.nil?)? nil: l(f.object.fecha_baja), class: 'datepicker' %></div>
	</div>
	<div class="form-group">
		<%= f.label :observaciones, class: 'control-label' %>
		<div class="controls"><%= f.text_area :observaciones, rows: 3 %></div>
	</div>
	<div class="form-actions">
		<%= link_to "<i class='glyphicon glyphicon-ok'></i> Confirmar".html_safe, '#', class: 'btn btn-primary', id: 'confirmar_baja_fuerza' %>
		<%= back_button %>
	</div>
<% end %>
