<div class="row">
  <div class="col-md-12">
    <%= titulo_con_linea "Registro de Partidos" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_tag({action: :index}, {id: 'filtrar_fuerzas_form', class: 'form-inline form-horizontal well fuerzas-form', style: 'padding-bottom: 0px;', method: :get}) do %>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <label class="control-label">Partido / Alianza</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="input-group col-md-12 col-xs-12">
                    <span class="input-group-addon">Nombre</span>
                    <%= text_field_tag :nombre, @filtros.try(:[], :nombre), class: "form-control", id: "prependedInput", name: "filtros[nombre]", id: 'fuerza_filtros_nombre' %>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="input-group col-md-12 col-xs-12">
                    <span class="input-group-addon">N&uacute;mero</span>
                    <%= text_field_tag :numero, @filtros.try(:[], :numero), class: "form-control", id: "prependedInput", name: "filtros[numero]", id: 'fuerza_filtros_numero' %>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="input-group col-md-12 col-xs-12">
                    <span class="input-group-addon">Expediente</span>
                    <%= text_field_tag :expediente, @filtros.try(:[], :expediente), class: "form-control", id: "prependedInput", name: "filtros[expediente]", id: 'fuerza_filtros_expediente' %>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="input-group col-md-12 col-xs-12">
                    <span class="input-group-addon">Estado</span>
                    <%= select_tag :estado, options_for_select(([nil] + Fuerza::ESTADOS).map { |e| [e.nil? ? '': e.capitalize, e] }, @filtros.try(:[], :estado)), class: 'form-control col-md-10', name: "filtros[estado]", id: 'fuerza_filtros_estado' %>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="input-group col-md-12 col-xs-12">
                    <span class="input-group-addon observaciones-addon">Observaciones</span>
                    <%= text_field_tag :observaciones, @filtros.try(:[], :observaciones), class: 'form-control', id: 'prependedInput', name: "filtros[observaciones]", id: 'fuerza_filtros_observaciones' %>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="input-group col-md-12 col-xs-12">
                    <span class="input-group-addon elecciones-addon">Elecci&oacute;n</span>
                    <%= select_tag :eleccion_id, options_for_select((@elecciones).map { |e| [e.nil? ? '': e.descripcion, e.nil? ? nil: e.id] }, @filtros.try(:[], :eleccion_id)), include_blank: false, class: 'form-control', name: "filtros[eleccion_id]", id: 'fuerza_filtros_eleccion_id' %>
                </div>
            </div>

            <br>
        </div>

        <br>

        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="input-group col-md-12 col-xs-12">
              <span class="input-group-addon observaciones-addon">Apoderado</span>
              <%= text_field_tag :apoderado, @filtros.try(:[], :apoderado), class: 'form-control', id: 'prependedInput', name: "filtros[apoderado]", id: 'fuerza_filtros_apoderado' %>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="input-group col-md-12 col-xs-12">
              <span class="input-group-addon observaciones-addon">Tipo</span>
              <%= select_tag :tipo, options_for_select([['Partido', 'PARTIDO'], ['Alianza', 'ALIANZA']], @filtros.try(:[], :tipo)), include_blank: true, class: 'form-control', name: "filtros[tipo]", id: 'fuerza_filtros_tipo' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="input-group col-md-12 col-xs-12">
              <label class="checkbox">
                <%= check_box_tag("filtros[con_infracciones]", "1", @filtros.try(:[], :con_infracciones)) %>
                Con Infracciones
              </label>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2">
                <%= submit_tag "Filtrar", class: "btn btn-block btn-default" %>
            </div>
            <div class="col-md-2">
                <%= link_to "<i class='glyphicon glyphicon-asterisk'></i> Limpiar".html_safe, fuerzas_path, class: "btn btn-block btn-warning" %>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <em>Cantidad de partidos encontrados: <strong class="cantidad_partidos"><%= @cantidad_fuerzas %></strong></em>
            </div>
            <div class="col-md-offset-1 col-md-7">
                <span class="pull-right">
                    <%= boton('list-alt', 'Descargar Excel Apoderados', "#", 'btn-success', id: 'descargar_apoderados_top') %>
                    <%= boton('list-alt', 'Descargar Registro', '#', 'btn-success', id: 'descargar_registro_top') %>
                    <%= link_to "<i class='glyphicon glyphicon-plus'></i> Nuevo".html_safe, new_fuerza_path, class: 'btn btn-success' %>
                </span>
                <br/>
                <br/>
            </div>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
      <caption>
        <i class='glyphicon glyphicon-flag'></i> - El partido es miembro de una alianza
      </caption>
      <thead>
        <tr>
          <th width="1%">N&uacute;mero</th>
          <!-- <th nowrap># Expediente</th> -->
          <th>Nombre</th>
          <th nowrap wdith="1%">Exp. Digitalizado</th>
          <th>Estado</th>
          <th>Tipo</th>
          <th width="1%">&nbsp;</th>
          <th width="1%">&nbsp;</th>
        </tr>
      </thead>
      <tbody id="body_table_fuerzas">
          <%= render @fuerzas %>
      </tbody>
    </table>

    <div class="text-center js-paginador">
      <%= paginate @fuerzas %>
    </div>
  </div>
</div>

<div class="row well">
    <div class="col-md-4 col-md-offset-1">
      <em>Cantidad de partidos encontrados: <strong class="cantidad_partidos"><%= @cantidad_fuerzas %></strong></em>
    </div>

    <div class="col-md-7">
      <span class="pull-right">
        <%= boton('list-alt', 'Descargar Excel Apoderados', "#", 'btn-success', id: 'descargar_apoderados_bottom') %>
        <%= boton('list-alt', 'Descargar Registro', '#', 'btn-success', id: 'descargar_registro_bottom') %>&nbsp;
        <%= link_to "<i class='glyphicon glyphicon-plus'></i> Nuevo".html_safe, new_fuerza_path, class: 'btn btn-success pull-right' %>
      </span>
    </div>
</div>

<%= form_tag({action: :index, format: :xls}, {method: :get, target: '_blank', id: 'descargar_registro_form'}) do %>
  <%= hidden_field_tag 'filtros[nombre]', @filtros.try(:[], :nombre) %>
  <%= hidden_field_tag 'filtros[numero]', @filtros.try(:[], :numero) %>
  <%= hidden_field_tag 'filtros[expediente]', @filtros.try(:[], :expediente) %>
  <%= hidden_field_tag 'filtros[estado]', @filtros.try(:[], :estado) %>
  <%= hidden_field_tag 'filtros[observaciones]', @filtros.try(:[], :observaciones) %>
  <%= hidden_field_tag 'filtros[eleccion_id]', @filtros.try(:[], :eleccion_id) %>
  <%= hidden_field_tag 'filtros[apoderado]', @filtros.try(:[], :apoderado) %>
  <%= hidden_field_tag 'filtros[tipo]', @filtros.try(:[], :tipo) %>
  <%= hidden_field_tag 'filtros[con_infracciones]', @filtros.try(:[], :con_infracciones) %>
  <%= hidden_field_tag 'filtros[template]' %>
<% end %>
