<?xml version="1.0"?>

<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Worksheet ss:Name="Candidaturas">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Número</Data></Cell>
        <Cell><Data ss:Type="String"># Expediente</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Estado</Data></Cell>
        <Cell><Data ss:Type="String">Domicilio Constituído</Data></Cell>
        <Cell><Data ss:Type="String">Código Postal</Data></Cell>
      </Row>
      <% @fuerzas_totales.each do |f| %>
        <Row>
          <Cell><Data ss:Type="Number"><%= f.numero %></Data></Cell>
          <Cell><Data ss:Type="String"><%= f.expediente %></Data></Cell>
          <Cell><Data ss:Type="String"><%= f.nombre %></Data></Cell>
          <Cell><Data ss:Type="String"><%= f.estado.capitalize %></Data></Cell>
          <Cell><Data ss:Type="String"><%= f.domicilio_constituido.descripcion unless f.domicilio_constituido.nil? %></Data></Cell>
          <Cell><Data ss:Type="String"><%= f.domicilio_constituido.codigo_postal unless f.domicilio_constituido.nil? %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>

</Workbook>
