<?xml version="1.0"?>

<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Worksheet ss:Name="Apoderados">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Agrupación Política</Data></Cell>
        <Cell><Data ss:Type="String">DNI</Data></Cell>
        <Cell><Data ss:Type="String">Nombre y Apellido</Data></Cell>
        <Cell><Data ss:Type="String">e-mail</Data></Cell>
        <Cell><Data ss:Type="String">Teléfono</Data></Cell>
        <Cell><Data ss:Type="String">Domicilio Constituído Agrupación</Data></Cell>
        <Cell><Data ss:Type="String">Código Postal</Data></Cell>
      </Row>
      <% @fuerzas.each do |f| %>
        <% f.apoderados.each do |apo| %>
          <Row>
            <Cell><Data ss:Type="String"><%= apo.fuerza.nombre %></Data></Cell>
            <Cell><Data ss:Type="String"><%= apo.numero_documento %></Data></Cell>
            <Cell><Data ss:Type="String"><%= apo.nombres %> <%= apo.apellidos %></Data></Cell>
            <Cell><Data ss:Type="String"><%= apo.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= apo.telefono %></Data></Cell>
            <Cell><Data ss:Type="String"><%= apo.fuerza.domicilio_constituido.descripcion unless apo.fuerza.domicilio_constituido.nil? %></Data></Cell>
            <Cell><Data ss:Type="String"><%= apo.fuerza.domicilio_constituido.codigo_postal unless apo.fuerza.domicilio_constituido.nil? %></Data></Cell>
          </Row>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>

</Workbook>
