<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Detalle de Agrupación Política</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-3">
        <p><strong>Número:</strong></p>
      </div>
      <div class="col-xs-9">
        <%= @fuerza.numero %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <p><strong>Nombre:</strong></p>
      </div>
      <div class="col-xs-9">
        <%= @fuerza.nombre %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <p><strong>Sitio Web:</strong></p>
      </div>
      <div class="col-xs-9">
        <% if @fuerza.web.present? %>
          <%= link_to @fuerza.web, @fuerza.web, target: :_blank %>
        <% else %>
          No tiene un sitio web registrado
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-3">
        <p><strong>Expediente:</strong></p>
      </div>
      <div class="col-xs-9">
        <%= @fuerza.expediente %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <p><strong>Tipo:</strong></p>
      </div>
      <div class="col-xs-9">
        <%= @fuerza.tipo %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <p><strong>Domicilio constituido:</strong></p>
      </div>
      <div class="col-xs-9">
        <div class="well">
          <p><strong>Calle: </strong><%= @fuerza.domicilio_constituido_calle_nombre %></p>
          <p><strong>Piso: </strong><%= @fuerza.domicilio_constituido_piso %></p>
          <p><strong>Depto: </strong><%= @fuerza.domicilio_constituido_depto %></p>
          <p><strong>Comuna: </strong><%= @fuerza.domicilio_constituido_comuna %></p>
          <p><strong>Código Postal: </strong><%= @fuerza.domicilio_constituido_codigo_postal %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <a href="#" data-toggle="modal" data-target="#HistoricoUmbrales">
          Histórico de Umbrales
        </a>
      </div>
    </div>
  </div>

  <div class="col-xs-3 col-xs-offset-1">
    <div class="thumbnail">
      <%= image_tag @fuerza.escudo.url, size: "450x550" %>
      <hr>
      <div class="caption">
        <div class="text-center">
          <%= link_to "#", class: "btn btn-success js-editar-escudo" do %>
            Editar
            <i class="glyphicon glyphicon-edit"></i>
          <% end %>

          <%= link_to fuerza_eliminar_escudo_path(@fuerza), class: "btn btn-danger", method: :delete do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="row">
  <div class="col-xs-2">
    <p><strong>Observaciones:</strong></p>
  </div>
  <div class="col-xs-10">
    <%= @fuerza.observaciones %>
  </div>
</div>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><strong>Boletas</strong></h4>
  </div>

  <% if @fuerza.boletas.empty? %>
    <br>
    <h4 class="text-center text-warning">No hay boletas para mostrar</h4>
    <br>
  <% else %>
    <table class="table">
      <thead>
        <th>Elección</th>
        <th>Archivo</th>
      </thead>

      <tbody>
        <% @fuerza.boletas.each do |boleta| %>
          <tr>
            <td><%= boleta.eleccion_descripcion %></td>
            <td><%= link_to boleta.archivo_nombre, "#{root_url}/archivos/descargar/#{boleta.archivo_id}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><strong>Documentos</strong></h4>
  </div>

  <% if @fuerza.documentos_fuerzas.empty? %>
    <br>
    <h4 class="text-center text-warning">No hay documentos para mostrar</h4>
    <br>
  <% else %>
    <table class="table">
      <thead>
        <th>Descripción</th>
        <th>Archivo</th>
      </thead>

      <tbody>
        <% @fuerza.documentos_fuerzas.each do |documento_fuerza| %>
          <tr>
            <td><%= documento_fuerza.descripcion %></td>
            <td><%= link_to documento_fuerza.archivo_nombre, "#{root_url}/archivos/descargar/#{documento_fuerza.archivo_id}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
-->

<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><strong>Apoderados</strong></h4>
  </div>

  <% if @fuerza.apoderados.empty? %>
    <br>
    <h4 class="text-center text-warning">No hay apoderados para mostrar</h4>
    <br>
  <% else %>
    <table class="table">
      <thead>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Número Documento</th>
      </thead>

      <tbody>
        <% @fuerza.apoderados.each do |apoderado| %>
          <tr>
            <td><%= apoderado.nombres%></td>
            <td><%= apoderado.apellidos %></td>
            <td><%= apoderado.telefono %></td>
            <td><%= apoderado.email %></td>
            <td><%= apoderado.numero_documento %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="hidden">
  <%= form_for @fuerza, url: fuerza_editar_escudo_path(@fuerza), html: { class: "js-editar-fuerza", multipart: true } do |f| %>
    <%= f.file_field :escudo %>
  <% end %>
</div>

<%= render "modal_historico_umbrales", fuerza: @fuerza %>