<!-- FIXME ver si se usa este archivo, sino borrarlo... -->
<tr>
  <td><%= archivo_persona.archivo.nombre %></td>
  <td><%= archivo_persona.archivo.descripcion %></td>
  <td nowrap><%= link_to "<i class='glyphicon glyphicon-download'></i> Descargar".html_safe, "#{personas_path}/descargar_documento/#{archivo_persona.id}", class: 'btn btn-default' %></td>
</tr>
