<%= form_for :archivo_persona, url: archivo_personas_path, html: {multipart: true, id: "formulario_archivo_persona_requerido_#{tipo_archivo}"} do |f| %>
  <%= f.hidden_field :persona_id, value: persona.id %>
  <%= f.hidden_field :lista_cargo_id, value: lista_cargo.id %>
  <%= f.hidden_field :tipo_archivo, value: tipo_archivo %>

  <div class="well fields" style="padding: 10px 19px 0px;">
    <div class="form-group"style="margin-bottom: 5px;" >
      <%= label_archivo_persona_requerido(tipo_archivo, persona, lista_cargo).html_safe %>

      <div class="row">
        <div class="col-md-12">
          <%= f.file_field :archivo, value: 'Seleccione archivo', class: 'form-control', required: true %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit 'Agregar', class: 'btn btn-info'%>
    </div>
    
    <% archivo_requerido =  persona.archivo_requerido_por_tipo_archivo(tipo_archivo, lista_cargo) %>
    <div class="row" style="margin-top: 5px; margin-bottom: 5px; display: <%= (!archivo_requerido.try(:persisted?)) ? 'none': '' %>" id="div_descarga_<%=tipo_archivo%>">
      <div class="col-md-10">
        <%= link_to "Descargar Documento Adjunto <i class='fa fa-download'></i>".html_safe, 
          "#{root_url}archivos/descargar/#{archivo_requerido.try(:archivo).try(:id)}", id: "link_descarga_#{tipo_archivo}" %>
      </div>
      <div class="col-md-2">
        <div class="pull-right">
          <%= link_to "<span class='label label-danger'> <i class='fa fa-trash'></i> </span>".html_safe, 'javascript:;',
              :rel => 'tooltip', :title => 'Eliminar', onclick: "borrarArchivoPersona(this, false);", id: "link_eliminar_#{tipo_archivo}",
              :'data-reference' => archivo_requerido.try(:id) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('form#formulario_archivo_persona_requerido_<%=tipo_archivo%>').on('submit', function(event) {
    event.preventDefault();
    var that = this;
    
    if ($('<%= "div#div_descarga_#{tipo_archivo}" %>').is(":visible") === true) {
      swal({
        title: 'Archivo cargado!',
        text: "El documento que desea adjuntar ya esta cargado, desea actualizarlo?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, actualizar!',
        cancelButtonText: 'Cancelar'
      }).then(function() {
        crearActualizarArchivoPersona('/archivo_personas/' + $("a#link_eliminar_<%= tipo_archivo %>")[0].getAttribute('data-reference'), 'PUT', new FormData(that), false);
      });
    } else {
      crearActualizarArchivoPersona('/archivo_personas', 'POST', new FormData(that), false);
    }
  });
</script>
