<%= form_for :archivo_persona, url: archivo_personas_path, html: {multipart: true, id: 'formulario_archivo_persona'} do |f| %>
  <%= f.hidden_field :persona_id, value: persona.id %>
  <%= f.hidden_field :lista_cargo_id, value: lista_cargo.id %>
  <div class="well fields" style="padding: 10px 19px 0px;">
    <div class="form-group">
      <%= f.label 'Agregar Archivo para Subsanar Observación' %>
      <div class="row">
        <div class="col-md-12">
          <%= f.select :tipo_archivo, options_for_select(ArchivoPersona.archivos_subsanar_cargo(lista_cargo.cargo)), {:prompt => 'Seleccione tipo de archivo..'}, class: 'form-control', id: 'select-tipo-archivo', required: true %>
        </div>
        <br/>
        <br/>
        <div class="col-md-12">
          <%= f.file_field :archivo, value: 'Seleccione archivo', required: true %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit 'Agregar', class: 'btn btn-info'%>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$('#formulario_archivo_persona').on('submit', function(event) {
  event.preventDefault();
  var that = this;
  var tipoArchivo = $('select#select-tipo-archivo option:selected').val();
  var tipoArchivoReferencia = existeTipoArchivo(tipoArchivo);

  if (tipoArchivoReferencia != null) {
    swal({
      title: 'Archivo cargado!',
      text: "El documento que desea adjuntar ya esta cargado, desea actualizarlo?",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, actualizar!',
      cancelButtonText: 'Cancelar'
    }).then(function() {
      crearActualizarArchivoPersona('/archivo_personas/' + tipoArchivoReferencia['referencia'], 'PUT', new FormData(that));
    });
  } else {
    crearActualizarArchivoPersona('/archivo_personas', 'POST', new FormData(that));
  }
});
</script>
