<table class="table table-striped table-bordered table-condensed" id="tabla-archivos-persona">
  <thead>
    <tr>
      <th style="width: 55%;"> Archivo </th>
      <th style="width: 35%;"> Documento </th>
      <th style="width: 10%;"> Eliminar </th>
    </tr>
  </thead>

  <tbody>
    <tr id="tabla_archivos_persona_vacia" style="<%= (!archivos_persona.empty?) ? 'display: none;' : ''%>">
      <td colspan="3" style="text-align: center;">
          <strong> No hay archivos cargados. </strong>
      </td>
    </tr>
    <% unless archivos_persona.empty? %>
      <% archivos_persona.each do |ap| %>
        <tr data-tipo-archivo="<%= ap.tipo_archivo%>" data-referencia="<%= ap.id%>">
          <td> <%= link_to(ap.archivo.nombre, "#{root_url}/archivos/descargar/#{ap.archivo.id}") %> </td>
          <td> <%= ArchivoPersona::TIPO_ARCHIVO.values.reduce(Hash.new, :merge).key(ap.tipo_archivo) %> </td>
          <td style="text-align: center">
            <%= link_to "<span class='label label-danger'> <i class='fa fa-trash'></i> </span>".html_safe, 'javascript:;',
                        :rel => 'tooltip', :title => 'Eliminar', onclick: "borrarArchivoPersona(this)",
                        :'data-reference' => ap.id %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
