
<% unless lista_oficializada(fuerza, eleccion) %>
	<%= form_tag({action: :agregar_candidatura}, {remote: true, id: 'form_agregar_candidatura'}) do %>
		<%= hidden_field_tag :eleccion_id %>
		<%= hidden_field_tag :fuerza_id %>
		<tr>
			<td width="5%">-</td>
			<td width="8%"><%= select_tag :cargo_id, options_from_collection_for_select(cargos, :id, :nombre), class: 'form-control' %></td>
			<td width="12%"><%= number_field_tag :numero_documento, nil, class: 'form-control', placeholder: 'DNI' %></td>
			<td width="19%"><%= text_field_tag :nombres, nil, class: 'form-control', placeholder: 'Nombres' %></td>
			<td width="19%"><%= text_field_tag :apellidos, nil, class: 'form-control', placeholder: 'Apellidos' %></td>
			<td widht="8%"><%= select_tag :sexo, options_for_select([['Femenino', 'F'], ['Masculino', 'M']]), class: 'form-control' %></td>
			<td width="25%" colspan="3" nowrap>
				<%= link_to "<i class='glyphicon glyphicon-plus'></i> Agregar".html_safe, '#', class: 'btn btn-default', id: 'link_agregar_candidatura' %>
			</td>
		</tr>
	<% end %>
<% end %>
