<div class="row">
	<div class="col-md-12">

		<table class="table table-bordered table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>DNI</th>
					<th>Apellidos y Nombres</th>
					<th>Cambio Realizado</th>
					<th>Responsable</th>
				</tr>
			</thead>
			<tbody>
				<% versiones.each do |v| %>
					<% object = v.reify %>
					<tr>
						<td><%= l(v.created_at.to_date) %></td>
						<% if object.kind_of?(Candidatura) %>
							<td><%= object.persona.numero_documento %></td>
							<td><%= object.persona.apellidos %>, <%= object.persona.nombres %></td>
						<% elsif object.kind_of?(Persona) %>
							<td><%= object.numero_documento %></td>
							<td><%= object.apellidos %>, <%= object.nombres %></td>
						<% end %>
						<td>
							<% if v.event == 'destroy' %>
								<strong>- BORRADA -</strong>
								<%= leyenda(object) %>
							<% else %>
								<% cambios_significativos(v.changeset).each do |k, v| %>								
									<strong><%= t(k) %></strong>: Cambi&oacute; de 
									<%= (k == 'orden') ? orden(object) : valor_cambio_version(v[0]) %> a 
									<%= (k == 'orden') ? orden(object.next_version) : valor_cambio_version(v[1]) %>.<br/>
								<% end %>
							<% end %>
						</td>
						<td><%= v.whodunnit %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>
