
<%= boton('random', 'Sugerir Orden', '#', '', id: 'link_sugerir_orden', class: 'btn btn-primary', onclick: "sugerir_orden(); return false;") unless (lista_oficializada(fuerza, eleccion) or not @ids_deshacer_ordenamiento.nil?) %>

<%= link_to("<i class='glyphicon glyphicon-repeat'></i> Deshacer Ordenamiento".html_safe, '#', id: 'link_deshacer_ordenamiento', class: 'btn btn-warning', onclick: "deshacer_ordenamiento();") unless @ids_deshacer_ordenamiento.nil? %>

<% unless fuerza.nil? || fuerza.posee_candidaturas_invalidas?(eleccion) || !fuerza.cumple_ley_cupos?(eleccion) || !fuerza.cumple_minimos?(eleccion) %>
  <%= link_to("<i class='glyphicon glyphicon-ok'></i> Oficializar".html_safe, '#', class: 'btn btn-success', id: 'link_oficializar_lista') unless lista_oficializada(fuerza, eleccion) %>
<% else %>
  <% unless fuerza.nil? or eleccion.nil? or lista_oficializada(fuerza, eleccion) %>
    <span class='btn btn-danger'><i class='glyphicon glyphicon-ban-circle'></i> No se puede oficializar</span>
  <% end %>
<% end %>

<%= link_to("<i class='glyphicon glyphicon-remove'></i> Desoficializar".html_safe, '#', class: 'btn btn-inverse', id: 'link_desoficializar_lista') if (lista_oficializada(fuerza, eleccion) and miembro_de?(GRUPOS_ADMIN)) %>

<%= form_tag({controller: 'candidaturas', action: 'importar_lista', format: :xls},{method: 'get', id: 'form_exportar_lista', class: 'pull-right', target: '_blank'}) do %>
  <%= hidden_field_tag :eleccion_id, params[:eleccion_id] %>
  <%= hidden_field_tag :fuerza_id, params[:fuerza_id] %>

  <%= boton('list-alt', 'Exportar a Excel', '#', 'btn-success', id: 'link_exportar_lista') %>
<% end %>

<input type="hidden" id="ids_deshacer_ordenamiento" name="ids_deshacer_ordenamiento" />
