
<tr <%= atributos_tr_armado_lista(candidatura) %>>
	<td><%= orden(candidatura) %></td>
	<td nowrap><%= descripcion_cargo(candidatura) %></td>
	<td class="numero_documento">
		<%= candidatura.persona.numero_documento %>
		<%= " <i class='glyphicon glyphicon-warning-sign' title='No se encuentra en el padrón'></i>".html_safe unless candidatura.figura_en_padron? %>
	</td>
	<td>
		<%= candidatura.persona.nombres.upcase unless candidatura.persona.nombres.nil? %>
		<%= leyenda(candidatura) %>
	</td>
	<td><%= candidatura.persona.apellidos.upcase unless candidatura.persona.apellidos.nil? %></td>
	<td class="<%= candidatura.incumple_cupo ? 'error': '' %>"><%= letra_sexo(candidatura.persona) %></td>
	<td nowrap>
		<%= link_to "<i class='#{icono_estado(candidatura)}'></i>".html_safe, edit_candidatura_path(candidatura), class: "btn #{css_class_estado(candidatura)}" %>
		<%= link_to "<i class='glyphicon glyphicon-pencil'></i> Detalle".html_safe, edit_persona_path(candidatura.persona), class: 'btn btn-default' %>
		<%= link_to("<i class='glyphicon glyphicon-remove'></i> Borrar".html_safe, candidatura, remote: true, method: :delete, data: { confirm: 'Está seguro que desea borrar la candidatura?' }, class: 'btn btn-default') unless candidatura.oficializada? %>
	</td>
	<td>
		<%= link_to("<i class='glyphicon glyphicon-chevron-up'></i>".html_safe, "#", class: 'btn btn-default', onclick: "subir(#{candidatura.id}); return false;") unless candidatura.primero? or candidatura.oficializada? %>
	</td>
	<td>
		<%= link_to("<i class='glyphicon glyphicon-chevron-down'></i>".html_safe, "#", class: 'btn btn-default', onclick: "bajar(#{candidatura.id}); return false;") unless candidatura.ultimo? or candidatura.oficializada? %>
	</td>
</tr>
