<tr>
	<td><%= number_with_delimiter(candidatura.persona_numero_documento, delimiter: '.') %></td>
	<td><%= candidatura.persona_nombres %> <%= candidatura.persona_apellidos %></td>
	<td><%= descripcion_cargo(candidatura) %></td>
	<td><%= candidatura.persona_sexo %></td>
	<td><%= candidatura.fuerza_nombre %></td>
	<td><%= candidatura.eleccion_fecha.year %></td>
	<td>
		<%= link_to "<i class='#{icono_estado(candidatura)}'></i>".html_safe, edit_candidatura_path(candidatura), class: "btn #{css_class_estado(candidatura)}" %>
		<%= link_to "<i class='glyphicon glyphicon-pencil'></i> Detalle".html_safe, edit_persona_path(candidatura.persona), class: 'btn btn-default' %>
	</td>
</tr>
