<%= form_for(@candidatura) do |f| %>

  <%= render "shared/error_messages", :target => @candidatura %>

  <div class="field">
    <%= f.label :persona %><br />
    <%= f.text_field :persona %>
  </div>
  <div class="field">
    <%= f.label :eleccion_cargo %><br />
    <%= f.text_field :eleccion_cargo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
