
<% if lista_oficializada(@fuerza, @eleccion) %>
	<div class="alert alert-warning">
		La lista de candidatos de <em><%= @fuerza.nombre %></em> para la elecci&oacute;n <em><%= @eleccion.descripcion %></em>
		se encuentra oficializada.
	</div>
<% else %>
	<div class="well col-xs-span-12">
		<label class="col-xs-offset-1">Plantilla del listado</label>&nbsp;&nbsp;
		<%= link_to "<i class='glyphicon glyphicon-download'></i> Descargar archivo".html_safe, "#{root_url}/descargas/candidatos.xls", class: 'btn btn-default' %>&nbsp;&nbsp;
		<label class="col-xs-offset-1">Archivo</label>&nbsp;&nbsp;
		<%= file_field_tag :archivo, class: 'inline' %>&nbsp;&nbsp;
		<%= submit_tag "Precargar lista", class: 'btn btn-primary pull-right' %>
	</div>
<% end %>
