
<thead>
	<tr>
		<th width="5%">Orden</th>
		<th width="8%">Cargo</th>
		<th width="9%">DNI</th>
		<th width="21%">Nombres</th>
		<th width="21%">Apellidos</th>
		<th width="4%">Sexo</th>
		<th width="22%">&nbsp;</th>
		<th width="5%">&nbsp;</th>
		<th width="5%">&nbsp;</th>
	</tr>
</thead>
<tbody id="candidatos_tbody">
	<%= render partial: 'candidatura_lista', collection: candidaturas, as: :candidatura %>
</tbody>
