﻿<small>
	<div class="row">
		<div class="col-md-7">

			<table class="table table-condensed table-hover table-bordered table-striped">
				<thead>
					<tr>
						<th>Orden</th>
						<th>Cargo</th>
						<th>Precandidato/a</th>
						<th>Sexo</th>
						<th>DNI</th>
					</tr>
				</thead>
				<tbody>
					<% @originales.each_with_index do |c, i| %>
						<tr class="<%= (@ordenadas[i].persona != @originales[i].persona) ? "success": "" %>">
							<td><%= orden(c) %></td>
							<td nowrap>
								<%= c.cargo.nombre %>&nbsp;
								<%= (c.titular? ? "Titular": "Suplente") unless c.cargo.nombre == Cargo::CARGOS[:jefe] or c.cargo.nombre == Cargo::CARGOS[:vicejefe] %>
							</td>
							<td><%= c.persona.nombres %> <%= c.persona.apellidos %></td>
							<td><%= c.persona.sexo %></td>
							<td><%= c.persona.numero_documento %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

		</div>
		<div class="col-md-7">

			<table class="table table-condensed table-hover table-bordered table-striped">
				<thead>
					<tr>
						<th>Orden</th>
						<th>Cargo</th>
						<th>Precandidato/a</th>
						<th>Sexo</th>
						<th>DNI</th>
					</tr>
				</thead>
				<tbody>
					<% @ordenadas.each_with_index do |c, i| %>
						<tr class="<%= css_class_sugerido(@originales[i], @ordenadas[i], @incorregible) %>">
							<td><%= orden(c) %></td>
							<td nowrap>
								<%= c.cargo.nombre %>&nbsp;
								<%= (c.titular? ? "Titular": "Suplente") unless c.cargo.nombre == Cargo::CARGOS[:jefe] or c.cargo.nombre == Cargo::CARGOS[:vicejefe] %>
							</td>
							<td><%= c.persona.nombres %> <%= c.persona.apellidos %></td>
							<td><%= c.persona.sexo %></td>
							<td><%= c.persona.numero_documento %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

		</div>
	</div>
</small>