
$('#tabla_diputados').html('<%= escape_javascript(mensaje_cupos(@diputados)) %><%= escape_javascript(render(partial: 'tabla_candidaturas', locals: { candidaturas: @diputados })) %>');
$('#tabla_jefaturas').html('<%= escape_javascript(render(partial: 'tabla_candidaturas', locals: { candidaturas: @jefaturas })) %>');
$('#tabla_comuneros').html('<%= escape_javascript(render(partial: 'tabla_candidaturas', locals: { candidaturas: @comuneros })) %>');

$('#form_agregar_candidatura')[0].reset();

<% if @ya_existe_persona %>
	pop_info('La persona con número de documento <%= params[:numero_documento] %> ya figuraba en la base. Se tomó la información de la base y no la ingresada manualmente.');
<% end %>

<% unless flash[:warning].nil? or flash[:warning].empty? %>
	pop_info('<%= flash[:warning] %>');
<% end %>

$('#botonera_candidaturas').html('<%= escape_javascript(render(partial: "botonera_candidaturas", locals: { fuerza: @fuerza, eleccion: @eleccion })) %>');
