
<div class="row">
  <div class="col-md-12">
    <%= titulo_con_linea "Validaciones de Candidaturas - Proceso finalizado" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-bordered table-hover table-striped">
      <caption>
        Candidaturas marcadas como
        <strong><%= Candidatura::VALIDACIONES[params[:validacion].to_sym] %></strong>
      </caption>
      <thead>
        <tr>
          <th>Partido / Alianza</th>
          <th>Cargo</th>
          <th>Orden</th>
          <th>DNI</th>
          <th>Nombre y Apellido</th>
          <th>Sexo</th>
        </tr>
      </thead>
      <tbody>
        <% @candidaturas.each do |c| %>
          <tr>
            <td><%= c.fuerza.nombre %></td>
            <td><%= descripcion_cargo(c) %></td>
            <td><%= orden(c) %></td>
            <td><%= c.persona.numero_documento %></td>
            <td><%= c.persona.nombres %> <%= c.persona.apellidos %></td>
            <td><%= c.persona.sexo %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>