
<div class="row">
  <div class="col-md-12">
    <%= titulo_con_linea "Validaciones de Candidaturas - Seleccionar Candidaturas a Modificar" %>
  </div>
</div>

<div class="row">

  <div class="col-md-3 well text-danger">
    <p>Documentos no encontrados como candidatos para la elecci&oacute;n <strong><%= @eleccion.descripcion %></strong></p>
    <ul>
      <% @numeros_no_encontrados.each do |num| %>
        <li><%= num %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-9">

    <%= form_tag({action: :aplicar_validaciones}, {method: :put, class: 'form-horizontal', id: 'form_aplicar_validaciones'}) do %>
      <%= hidden_field_tag :validacion, params[:validacion] %>

      <table class="table table-bordered table-hover table-striped">
        <caption>
          Todas las candidaturas que seleccione se marcar&aacute;n como 
          <strong><%= Candidatura::VALIDACIONES[params[:validacion].to_sym] %></strong>
        </caption>
        <thead>
          <tr>
            <th>Partido / Alianza</th>
            <th>Cargo</th>
            <th>Orden</th>
            <th>DNI</th>
            <th>Nombre y Apellido</th>
            <th>Sexo</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @candidaturas.each do |c| %>
            <tr>
              <td><%= c.fuerza.nombre %></td>
              <td><%= descripcion_cargo(c) %></td>
              <td><%= orden(c) %></td>
              <td><%= c.persona.numero_documento %></td>
              <td><%= c.persona.nombres %> <%= c.persona.apellidos %></td>
              <td><%= c.persona.sexo %></td>
              <td><%= check_box_tag "[candidaturas][#{c.id}]", "selected", true %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-12 well right">

      <%= boton('ok', 'Aplicar', '#', 'btn-primary', id: 'link_aplicar_validaciones') unless @candidaturas.empty? %>
      <%= link_to("<i class='glyphicon glyphicon-remove'></i> Cancelar".html_safe, (request.env['HTTP_REFERER'] || root_url), class: 'btn btn-default') %>

  </div>
</div>