
<div class="row">
	<h2>Validaciones de Candidatura</h2>
	<hr/>

	<%= render "shared/error_messages", :target => @candidatura %>

</div>

<div class="row">
	<% if @renglon.nil?  %>

		<div class="alert alert-danger">
			<strong>Atenci&oacute;n</strong>
			<p>No se ha encontrado ning&uacute;n registro del padr&oacute;n con matr&iacute;cula <%= @candidatura.persona.numero_documento %>.</p>
		</div> 

	<% else	%>
			
		<table class="table table-bordered">
			<caption>Informaci&oacute;n del Padr&oacute;n</caption>
			<thead>
				<tr>
					<th>Apellido</th>
					<th>Nombre</th>
					<th>Clase</th>
					<th>Profesi&oacute;n</th>
					<th>Domicilio</th>
					<th>Analfabeto</th>
					<th>Tipo Documento</th>
					<th>Secci&oacute;n</th>
					<th>Circuito</th>
					<th>Mesa</th>
					<th>Sexo</th>
					<th>Matr&iacute;cula</th>
				</tr>											
			</thead>		
			<tbody>
				<tr>
					<td><%=@renglon.apellido%></td>
					<td><%=@renglon.nombre%></td>
					<td><%=@renglon.clase%></td>
					<td><%=@renglon.profesion%></td>
					<td><%=@renglon.domicilio%></td>
					<td><%=@renglon.analfabeto%></td>
					<td><%=@renglon.tipo_documento%></td>
					<td><%=@renglon.seccion%></td>
					<td><%=@renglon.circuito%></td>
					<td><%=@renglon.mesa%></td>
					<td><%=@renglon.sexo%></td>
					<td><%=@renglon.matricula%></td>
				</tr>
			</tbody>
		</table>	
	<% end %>
</div>

<div class="row">

	<div class="col-md-4 well">
		<dl class="dl-horizontal">
			<dt>Elecci&oacute;n:</dt>
			<dd><%=@candidatura.eleccion_cargo.eleccion.descripcion %></dd>
			<dt>Cargo:</dt>
			<dd><%=@candidatura.eleccion_cargo.cargo.nombre %></dd>
			<dt>Orden:</dt>
			<dd><%= orden(@candidatura) %></dd>
		</dl>
		<dl class="dl-horizontal">
			<dt>Apellidos:</dt>
			<dd><%= best_in_place @candidatura.persona, :apellidos %></dd>
			<dt>Nombres:</dt>
			<dd><%= best_in_place @candidatura.persona, :nombres %></dd>
			<dt>Domicilio:</dt>
			<dd><%=@candidatura.persona.domicilio.descripcion unless @candidatura.persona.domicilio.nil? %>&nbsp;</dd>
			<dt>Sexo:</dt>
			<dd><%= sexo(@candidatura.persona.sexo).capitalize %></dd>
			<dt>N&uacute;mero Documento:</dt>
			<dd><%= best_in_place @candidatura.persona, :numero_documento %></dd>
			<dt>Lugar de Nacimiento:</dt>
			<dd><%= best_in_place @candidatura.persona, :lugar_nacimiento, inner_class: 'form-control' %></dd>
			<dt>Fecha de Nacimiento:</dt>
			<dd><%= best_in_place @candidatura.persona, :fecha_nacimiento, display_with: 'l', inner_class: 'form-control', html_attrs: {placeholder: 'DD/MM/YYYY'} %></dd>
		</dl>
	</div>

	<%= form_for(@candidatura, html:{id: 'form_validaciones'}) do |f| %>

		<div class="col-md-8 well">

			<div class="row">
					<div class="col-md-5">
					<dl class="dl-horizontal">
						<dt>Argentino</dt>
						<dd>
							<% Candidatura::TIPOS_NACIONALIDAD.each do |tn| %>
										<label class="radio">
											<%= f.radio_button :tipo_nacionalidad, tn, onclick: "cambio_nacionalidad('#{tn}');" %> <%= tipo_nacionalidad(tn) %>
										</label>			      
							<% end %>
						</dd>
					</dl>
				</div>
				<div class="col-md-6">
						<div>
								<label class="checkbox">
									<%= f.check_box 'edad_valida?', disabled: true %> <%= etiqueta_edad_valida(@candidatura.eleccion_cargo.cargo) %>
								</label>			      
						</div>
					<br/>
				
					<% if @candidatura.eleccion_cargo.cargo.nombre == Cargo::CARGOS[:comunero] %>
						<div>
							<label class="checkbox">					
								<%= f.check_box 'reside_en_comuna?', id: 'reside_en_comuna' %> Residencia en comuna
							</label>			      
						</div>
					<% else %>				 			
						<div>
							<%= f.fields_for(:persona) do |fp| %>
								<label class="checkbox">
									<%= fp.check_box 'nativo_caba?', id: 'nativo_caba', disabled: (f.object.nativo? || f.object.tipo_nacionalidad.nil? ? nil: 'disabled') %> Es nativo C.A.B.A.								
								</label>			      
							<% end %>
						</div>
					<% end %>			  
						<div>
							<label class="checkbox" id="label_constancia_domicilio">
								<%= f.check_box 'constancia_domicilio?', id: 'constancia_domicilio' %> 
								<span class="badge badge-warning"><strong><%= Candidatura::VALIDACIONES[:constancia_domicilio] %></strong> </span><br/>
								(<em>debe ser mayor a 4 a&ntilde;os</em>)
							</label>			      
						</div>
						<br/>

						<div>
								<label class="checkbox">
									<%= f.check_box 'fotocopia_dni?' %> <%= Candidatura::VALIDACIONES[:fotocopia_dni] %>
								</label>			      
						</div>
						<div>
								<label class="checkbox">
									<%= f.check_box 'dni_tarjeta?' %> <%= Candidatura::VALIDACIONES[:dni_tarjeta] %>
								</label>			      
						</div>
						<div>
						<label class="checkbox">
									<%= f.check_box 'aceptacion_firmada?' %> <%= Candidatura::VALIDACIONES[:aceptacion_firmada] %>
								</label>			      
						</div>
						<br/>
						
						<div>
								<label class="checkbox text-danger">
									<%= f.check_box 'cargo_dos_periodos?' %> <%= Candidatura::VALIDACIONES[:cargo_dos_periodos] %>
								</label>			      
					</div>
						<div>
								<label class="checkbox text-danger">
									<%= f.check_box 'deudor_alimentario?' %> <%= Candidatura::VALIDACIONES[:deudor_alimentario] %>
								</label>			      
						</div>
						<div>
						<label class="checkbox text-danger">
									<%= f.check_box 'inhabilitado?' %> <%= Candidatura::VALIDACIONES[:inhabilitado] %>
								</label>			      
						</div>
					</div>
			</div>
		</div>

	<% end %>

</div>

<div class="row">
	<%= link_to "<i class='glyphicon glyphicon-ok'></i> Grabar".html_safe, "#", class: "btn btn-primary", id: 'link_grabar_validaciones' %>
	<%= link_to "<i class='glyphicon glyphicon-pencil'></i> Detalle del Candidato".html_safe, edit_persona_path(@candidatura.persona), class: 'btn btn-info' %>
	<%= back_button %>	
</div>
