
$('#cantidad_candidaturas_top').html('<%= @candidaturas.size %>');
$('#cantidad_candidaturas_bottom').html('<%= @candidaturas.size %>');
$('#candidaturas_tbody').html('<%= escape_javascript(render(@candidaturas)) %>');
