<?xml version="1.0"?>

<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Worksheet ss:Name="Candidaturas">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">DNI</Data></Cell>
        <Cell><Data ss:Type="String">Nombre y Apellido</Data></Cell>
        <Cell><Data ss:Type="String">Cargo</Data></Cell>
        <Cell><Data ss:Type="String">Sexo</Data></Cell>
        <Cell><Data ss:Type="String">Agrupación</Data></Cell>
        <Cell><Data ss:Type="String">Año</Data></Cell>
      </Row>
    <% @candidaturas.each do |c| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= c.persona.numero_documento %></Data></Cell>
        <Cell><Data ss:Type="String"><%= c.persona.nombres %> <%= c.persona.apellidos %></Data></Cell>
        <Cell><Data ss:Type="String"><%= c.cargo.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= c.persona.sexo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= c.fuerza.nombre %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= c.eleccion_cargo.eleccion.fecha.year %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>

</Workbook>
