
<%= form_tag({action: :procesar_archivo}, {multipart: true, remote: true, class: "form-inline"}) do %>

	<div class="row">
		<div class="page-header">
			<h2>
				Candidaturas para las elecciones
				<%= select_tag :eleccion, options_from_collection_for_select(@elecciones, :id, :descripcion, params[:eleccion_id]), include_blank: true, class: 'form-control' %>
				del partido / alianza
				<%= select_tag :fuerza, options_from_collection_for_select(@fuerzas, :id, :nombre, params[:fuerza_id]), include_blank: true, class: 'select2 form-control' %>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<%= render partial: 'candidaturas/precarga_archivo', locals: { fuerza: @fuerza, eleccion: @eleccion, cargos: @cargos } %>
		</div>
	</div>
	<div class="row">
		<div class="text-center">
			<%= boton('thumbs-down', '', '#', 'btn-danger') %> Inválido <span class="spacer"></span>
			<%= boton('eye-open', '', '#', 'btn-warning') %> Falta información o documentación <span class="spacer"></span>
			<%= boton('thumbs-up', '', '#', 'btn-success') %> Válido
		</div>
	</div>

<% end %>

<% unless (@cargos.map { |c| c.nombre } & [Cargo::CARGOS[:jefe], Cargo::CARGOS[:vicejefe]]).empty? %>
	<div class="row">
		<h3>Jefe y Vicejefe</h3>
		<hr/>

		<table class="table table-striped table-hover table-condensed" id="tabla_jefaturas">
			<%= render partial: 'tabla_candidaturas', locals: { candidaturas: @jefaturas } %>
		</table>
	</div>
<% end %>

<% if @cargos.map { |c| c.nombre }.include? Cargo::CARGOS[:diputado] %>
	<div class="row">
		<h3>Legisladores</h3>
		<hr/>

		<table class="table table-striped table-hover table-condensed" id="tabla_diputados">
			<%= mensaje_cupos(@diputados) %>
			<%= render partial: 'tabla_candidaturas', locals: { candidaturas: @diputados } %>
		</table>
	</div>
<% end %>

<% if @cargos.map { |c| c.nombre }.include? Cargo::CARGOS[:comunero] %>
	<div class="row">
		<h3>Comuneros</h3>
		<hr/>

		<table class="table table-striped table-hover table-condensed" id="tabla_comuneros">
			<%= render partial: 'tabla_candidaturas', locals: { candidaturas: @comuneros } %>
		</table>
	</div>
<% end %>

<div class="row">
	<table class="table table-striped">
		<%= render partial: 'agregar_candidatura', locals: { cargos: @cargos, eleccion: @eleccion, fuerza: @fuerza } %>
	</table>
</div>

<div class="row">
	<div class="col-xs-12 well" id="botonera_candidaturas">
		<%= render partial: 'botonera_candidaturas', locals: { fuerza: @fuerza, eleccion: @eleccion } %>
	</div>
</div>
