
<div class="row">
  <div class="col-lg-12">
    <h2>Consulta de Candidaturas</h2>
    <hr/>
  </div>
</div>
<div class="row well">

  <%= form_tag(candidaturas_path, method: :get, class: "form-horizontal candidaturas-form", id: 'form_search_candidaturas') do %>

    <div class="col-lg-3 col-md-12">
      <div class="form-group">
        <label class="control-label">Elecci&oacute;n</label>
        <div class="controls">
          <%= select :filtro, :eleccion, options_for_select(@elecciones.map { |e| e.nil? ? [nil, nil]: [e.descripcion, e.id] }, params[:filtro].try(:[], :eleccion)), {}, { id: 'eleccion_id', class: 'form-control' } %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Persona</label>
        <div class="controls">
          <div class="input-group col-xs-12 col-md-12 col-lg-12">
            <span class="input-group-addon">DNI</span><%= text_field_tag "filtro[numero_documento]", params[:filtro].try(:[], :numero_documento), class: 'form-control' %>
          </div>
          <br/>
          <br>
          <div class="input-group col-xs-12 col-md-12 col-lg-12">
            <span class="input-group-addon">Apellido</span><%= text_field_tag "filtro[apellido]", params[:filtro].try(:[], :apellido), class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-offset-1 col-lg-3">
      <div class="form-group">
        <%= label_tag :constancia_domicilio, '&iquest;Acredita residencia en CABA?'.html_safe, class: 'control-label' %>
        <div class="controls"><%= select :filtro, :constancia_domicilio, options_for_select(opciones_booleanas, params[:filtro].try(:[], :constancia_domicilio)), {}, { class: 'form-control' } %></div>
      </div>
      <div class="form-group">
        <%= label_tag :figura_en_padron, '&iquest;Figura en padr&oacute;n?'.html_safe, class: 'control-label' %>
        <div class="controls"><%= select :filtro, :figura_en_padron, options_for_select(opciones_booleanas, params[:filtro].try(:[], :figura_en_padron)), {}, { class: 'form-control' } %></div>
      </div>
      <div class="form-group">
        <%= label_tag :nativo_caba, '&iquest;Es nativo CABA?'.html_safe, class: 'control-label' %>
        <div class="controls"><%= select :filtro, :nativo_caba, options_for_select(opciones_booleanas, params[:filtro].try(:[], :nativo_caba)), {}, { class: 'form-control' } %></div>
      </div>
    </div>

    <div class="col-lg-offset-1 col-lg-3">
      <div class="form-group">
        <label class="control-label">Cargo</label>
        <div class="controls"><%= select :filtro, :cargo, options_for_select(@cargos.map { |c| c.nil? ? [nil, nil]: [c.nombre, c.id]}, params[:filtro].try(:[], :cargo)), {}, { class: 'form-control' } %></div>
      </div>
      <div class="form-group">
        <%= label_tag :cargo_dos_periodos, '&iquest;Mismo cargo en &uacute;ltimos 2 per&iacute;odos?'.html_safe, class: 'control-label' %>
        <div class="controls"><%= select :filtro, :cargo_dos_periodos, options_for_select(opciones_booleanas, params[:filtro].try(:[], :cargo_dos_periodos)), {}, { class: 'form-control' } %></div>
      </div>
      <div class="form-group">
        <%= label_tag :dni_tarjeta, '&iquest;Present&oacute; DNI tarjeta?'.html_safe, class: 'control-label' %>
        <div class="controls"><%= select :filtro, :dni_tarjeta, options_for_select(opciones_booleanas, params[:filtro].try(:[], :dni_tarjeta)), {}, { class: 'form-control' } %></div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= link_to "<i class='glyphicon glyphicon-search'></i> Buscar".html_safe, '#', class: 'btn btn-default', id: 'link_search_candidaturas' %>
      </div>
    </div>

    <em class="pull-right">Candidaturas encontradas: <strong id="cantidad_candidaturas_top">0</strong></em>
  <% end %>

</div>
<div class="row">
  <div class="col-lg-12">

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombre y Apellido</th>
          <th>Cargo</th>
          <th>Sexo</th>
          <th>Agrupación</th>
          <th>A&ntilde;o</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody id="candidaturas_tbody">
        <%= render @candidaturas %>
      </tbody>
      <tfoot>
        <tr class="well">
          <td colspan="1">&nbsp;</td>
          <td colspan="3">
            <em>Candidaturas encontradas: <strong id="cantidad_candidaturas_bottom"><%= @candidaturas_sin_paginar.count %></strong></em>
          </td>
          <td colspan="3" class="well">
            <%= link_to "<i class='glyphicon glyphicon-list-alt'></i> Exportar a Excel".html_safe, '#', class: 'btn btn-success pull-right', id: 'link_exportar_candidaturas' %>
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="text-center" id="js_paginador">
      <%= paginate @candidaturas if params[:filtro].present? %>
    </div>
  </div>
</div>
