
$('#tabla_diputados').html('<%= escape_javascript(mensaje_cupos(@diputados)) %><%= escape_javascript(render(partial: 'tabla_candidaturas', locals: { candidaturas: @diputados })) %>');
$('#tabla_jefaturas').html('<%= escape_javascript(render(partial: 'tabla_candidaturas', locals: { candidaturas: @jefaturas })) %>');
$('#tabla_comuneros').html('<%= escape_javascript(render(partial: 'tabla_candidaturas', locals: { candidaturas: @comuneros })) %>');

$('#botonera_candidaturas').html('<%= escape_javascript(render(partial: "botonera_candidaturas", locals: { fuerza: @fuerza, eleccion: @eleccion })) %>');

<% if @ids_deshacer_ordenamiento.nil? %>
	$('#link_auto_ordenamiento').show();
	$('#link_deshacer_ordenamiento').hide();
<% else %>
	$('#link_auto_ordenamiento').hide();
	$('#link_deshacer_ordenamiento').show();
	$('#ids_deshacer_ordenamiento').val('<%= @ids_deshacer_ordenamiento %>');
<% end %>

$('#windowDialog').modal('hide');
