<p id="notice"><%= notice %></p>

<p>
  <b>Persona:</b>
  <%= @candidatura.persona %>
</p>

<p>
  <b>Eleccion cargo:</b>
  <%= @candidatura.eleccion_cargo %>
</p>

<%= link_to 'Edit', edit_candidatura_path(@candidatura) %> |
<%= link_to 'Back', candidaturas_path %>
