﻿
<% unless @originales == @ordenadas && @incorregible.nil? %>
  pop_window("<%= escape_javascript(render(partial: 'tabla_comparativa')) %>", '<div class=row><div class=col-md-7>Listado de Candidaturas</div><div class=col-md-6>Cambios Sugeridos</div></div>', 'Aplicar Cambios Sugeridos');

  $('#windowDialogFooterLeft').html('<strong>Referencia</strong>: <span class="badge badge-success">&nbsp;</span> movimiento sugerido | <span class="badge badge-important">&nbsp;</span> no se puede resolver');

  $('#windowDialogOkButton').on('click', function()
  {
    auto_ordenamiento();
  });
<% else %>
  pop_info('No hay ajustes automáticos para hacer al listado.');
<% end %>
