<div class="col-lg-offset-0 col-lg-4 col-md-offset-3 col-md-7 col-sm-8">
	<div class="control">
		<%= f.text_field :calle_referencia, placeholder: 'Calle', class: 'form-control float-input', required: true %>
		<%= f.label :calle_referencia, 'Calle' %>
	</div>
</div>

<div class="col-lg-2 col-md-5 col-sm-6">
	<div class="control">
		<%= f.text_field :numero, placeholder: 'Número', class: 'form-control float-input', required: true %>
		<%= f.label :numero, 'Número' %>
	</div>
</div>

<div class="col-lg-offset-0 col-lg-1 col-md-offset-1 col-md-5 col-sm-6">
	<div class="control">
		<%= f.text_field :piso, placeholder: 'Piso', class: 'form-control float-input', required: true %>
		<%= f.label :piso, 'Piso' %>
	</div>
</div>

<div class="col-lg-offset-0 col-lg-1 col-md-3 col-sm-4">
	<div class="control">
		<%= f.text_field :depto, placeholder: 'Depto', class: 'form-control float-input', required: true %>
		<%= f.label :depto, 'Depto' %>
	</div>
</div>

<div class="col-lg-offset-0 col-lg-2 col-md-offset-2 col-md-5 col-sm-6">
	<div class="control">
		<%= f.select :comuna, COMUNAS, { prompt: 'Comuna' }, { class: 'form-control float-input', required: true } %>
		<%= f.label :comuna, 'Comuna' %>
	</div>
</div>

<div class="col-lg-offset-0 col-lg-1 col-md-3 col-sm-4">
	<div class="control">
		<%= f.text_field :codigo_postal, placeholder: 'CP', class: 'form-control float-input', required: true %>
		<%= f.label :codigo_postal, 'CP' %>
	</div>
</div>