<div class="modal fade" id="bitacoraModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center" id="myModalLabel">Bitácora de Cambios</h2>
      </div>

      <div class="modal-body">
        <%= render 'listas/modals/tabla_versiones', versiones: versiones %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
