<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Autor</th>
      <th>Fecha</th>
      <th>Cambios</th>
    </tr>
  </thead>

  <tbody>
    <% VersionListaDecorator.decorate_collection(versiones).each do |version| %>
      <tr class="tabla-fila-hover">
        <td><%= version.whodunnit %></td>
        <td><%= version.created_at.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= version.cambios %></td>
      </tr>
    <% end %>
  </tbody>
</table>