
<tr>
  <td><%= expediente.numero %></td>
  <td><%= expediente.caratula %></td>
  <td><a href='#' onclick='$(".js-input-expediente").val("<%= expediente.numero %>"); $("#busqueda_expedientes").modal("hide");' class='btn btn-default'>Seleccionar</a></td>
</tr>
