<table class="table table-striped table-bordered table-hovered">
  <thead>
    <tr>
      <th>N&uacute;mero</th>
      <th>Car&aacute;tula</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% expedientes.each do |expediente| %>
      <tr>
        <td><%= expediente.numero %></td>
        <td><%= expediente.caratula %></td>
        <td><a href='#' onclick='$(".js-input-expediente").val("<%= expediente.numero %>"); $("#busqueda_expedientes").modal("hide");' class='btn btn-default'>Seleccionar</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <% unless expedientes.empty? %>
    <%= paginate expedientes, params: { controller: 'expedientes', action: 'buscar', be_numero: @numero, be_caratula: @caratula }, remote: true %>
  <% end %>
</div>