<div class="row">
  <div class="col-md-12">

    <% if archivos.blank? %>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="js-alerta-conformidad-adhesion-vacio alert alert-info" role="alert">
            No hay archivos de conformidad de adhesiones cargados en el sistema.
          </div>
        </div>
      </div>

    <% else %>
      <table id="lista_afiliaciones" class="table table-striped table-condensed">
        <thead>
          <tr>
            <th> Nombre </th>
            <th> Fecha de Carga </th>
            <th class="text-center"> Activo </th>
            <th class="text-right"> Acciones </th>
          </tr>
        </thead>

        <tbody class="js-tabla-archivos-conformidad-adhesion">
          <% archivos.each do |archivo_conformidad_adhesion| %>
            <tr>
              <td> <%= link_to(archivo_conformidad_adhesion.archivo.nombre, "#{root_url}/archivos/descargar/#{archivo_conformidad_adhesion.archivo.id}") %> </td>
              <td> <%= archivo_conformidad_adhesion.created_at.strftime('%d/%m/%Y %H:%M') %> </td>
              <td class="text-center text-<%= archivo_conformidad_adhesion.activo ? 'success' : 'danger' %>"><strong> <%= archivo_conformidad_adhesion.activo ? "Si" : "No" %> </strong></td>
              <td class="text-right">
                <% if archivo_conformidad_adhesion.activo %>
                  <a href="javascript:;" class="btn btb-default" disabled="disabled"> <i class='fa fa-check-square-o text-success'></i> </a>
                <% else %>
                  <%= link_to "<i class='fa fa-check-square-o'></i>".html_safe, siel_archivo_path(archivo_conformidad_adhesion, tab: 'conformidad_adhesiones'),
                      data: { confirm: 'Desea activar este archivo?', toggle: "tooltip", placement: "top" }, title: "Activar", method: :patch, :class => 'btn btn-info' %>
                <% end %>
                <%= link_to "<i class='fa fa-trash'></i>".html_safe, siel_archivo_path(archivo_conformidad_adhesion, tab: 'conformidad_adhesiones'),
                      data: { confirm: 'Desea eliminar este archivo?', toggle: "tooltip", placement: "top" }, title: "Eliminar", method: :delete, :class => 'btn btn-danger' %>
              <td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>