<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Documentos en SIEL</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cargar Documento</h3>
      </div>
      <div class="panel-body">
        <%= form_for :siel_archivo, url: siel_archivos_path, html: { multipart: true, class: "form-inline", role: "form" } do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label> Seleccione Archivo </label> &nbsp;&nbsp;
                <%= f.file_field :archivo, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label> Tipo Archivo </label> &nbsp;&nbsp;
                <%= f.select :archivo_type_cd, enum_option_pairs(SielArchivo, :archivo_type, true), 
                    {:include_blank => 'Seleccione...'}, class: 'form-control', required: true, required: true %>
              </div>
            </div>

            <div class="col-md-2">
              <div class="pull-right">
                <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                  Cargar
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li class="<%= @tab == 'conformidad_adhesiones' ? 'active' : '' %>" role="presentation" aria-expanded="<%= @tab == 'conformidad_adhesiones' ? 'true' : 'false' %>">
        <a id="boton-tab-conformidad-adhesiones" data-toggle="tab" role="tab" href="#conformidadAdhesiones"> <b>CONFORMIDAD ADHESIONES</b> </a>
      </li>

      <li class="<%= @tab == 'aceptacion_candidaturas' ? 'active' : '' %>" role="presentation" aria-expanded="<%= @tab == 'aceptacion_candidaturas' ? 'true' : 'false' %>">
        <a id="boton-tab-aceptacion-candidaturas" data-toggle="tab" role="tab" href="#aceptacionCandidaturas"> <b>ACEPTACIÓN CANDIDATURAS</b> </a>
      </li>

      <li class="<%= @tab == 'acordada_electoral' ? 'active' : '' %>" role="presentation" aria-expanded="<%= @tab == 'acordada_electoral' ? 'true' : 'false' %>">
        <a id="boton-tab-acordada-electoral" data-toggle="tab" role="tab" href="#acordadaElectoral"> <b>ACORDADA ELECTORAL</b> </a>
      </li>
    </ul>

    <br>
    
    <div class="tab-content">
      <div id="conformidadAdhesiones" class="tab-pane fade <%= @tab == 'conformidad_adhesiones' ? 'active in' : '' %>">
        <%= render 'tab_conformidad_adhesiones', archivos: @siel_archivos[:conformidad_adhesiones] %>
      </div>

      <div id="aceptacionCandidaturas" class="tab-pane fade <%= @tab == 'aceptacion_candidaturas' ? 'active in' : '' %>">
        <%= render 'tab_aceptacion_candidaturas', archivos: @siel_archivos[:aceptacion_candidaturas] %>
      </div>

      <div id="acordadaElectoral" class="tab-pane fade <%= @tab == 'acordada_electoral' ? 'active in' : '' %>">
        <%= render 'tab_acordada_electoral', archivos: @siel_archivos[:acordada_electoral] %>
      </div>
    </div>
  </div>
</div>
