<%= form_for(@padron) do |f| %>
  <% if @padron.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@padron.errors.count, "error") %> prohibited this padron from being saved:</h2>

      <ul>
      <% @padron.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
