
<tr id="padron_<%= padron.id %>" <%= (padron.fecha == @ultima_fecha)? 'class=warning': '' %>>
	<td>
		Padr&oacute;n importado el <%=l padron.fecha.to_date %>&nbsp;<%=l padron.fecha.localtime %> por <strong><%= padron.created_by %></strong>
		&nbsp;-&nbsp;
		<%= number_to_human(padron.cantidad_renglones) %> registros.
		<%= link_to "<i class='glyphicon glyphicon-trash'></i> Borrar".html_safe, padron, method: :delete, remote: true, data: { confirm: '¿Está seguro?' }, class: 'btn btn-danger pull-right' %>

		<% unless padron.importacion_completa? %>
			<br/>
			<br/>
			<em>Importaci&oacute;n en progreso - <span id="porcentaje_<%= padron.id %>">0</span>%</em>
				<div class="progress progress-striped active">
					<div id="progress_bar_<%= padron.id %>" class="progress-bar" style="width: 0%;"></div>
				</div>
				<script>
					var updater_<%= padron.id %> = setInterval(function(){ update_progress(<%= padron.id %>) }, 3000);
				</script>
			<% end %>
	</td>
</tr>
