
<div class="row">
  <div class="col-md-12">
    <h2>Importaci&oacute;n del Padr&oacute;n Electoral</h2>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-7">

    <table class="table table-bordered table-condensed table-hover">
      <caption>
        Padrones importados al sistema <em>(el &uacute;ltimo es el vigente)</em>
      </caption>
      <tbody id="padrones">
        <%= render @padrones %>
      </tbody>
    </table>

  </div>
  <div class="col-md-5 well">

    <fieldset>
      <legend>Importar nuevo padr&oacute;n</legend>

      <p class="text-danger">
        <strong>PRECAUCI&Oacute;N</strong>: La importaci&oacute;n de un padr&oacute;n completo es un proceso largo (aproximadamente 15 minutos), y puede provocar respuestas lentas del sistema durante su ejecuci&oacute;n.
      </p>
      <br/>
      <br/>

      <table class="table table-bordered table-condensed table-hover">
        <thead>
          <th>Archivos disponibles</th>
        </thead>
        <tbody>
          <% unless @files.nil? %>
            <% @files.each_with_index do |f, i| %>
              <tr id="archivo_<%= i %>">
                <td>
                  <%= f %>
                  <%= link_to "Importar", "#{padrones_url}/importar/#{i}", class: "btn btn-primary pull-right", remote: true %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr class="warning">
              <td>Por un problema interno del sistema no se pueden cargar los archivos de importaci&oacute;n</td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </fieldset>

  </div>
</div>
