
<% unless @progreso > 98 %>
	$('#progress_bar_<%= params[:id] %>').width('<%= @progreso %>%');
	$('#porcentaje_<%= params[:id] %>').html('<%= @progreso %>');
<% else %>
	clearInterval(updater_<%= params[:id] %>);
	alert('Proceso de importación completado');
	$('#padrones').html('<%= escape_javascript(render(@padrones)) %>');
<% end %>