<div class="row">
  <div class="col-md-5">
    <% color_reloj_div = color_reloj(@eleccion.tiempo_pendiente(current_user.apoderado?), 'clockdiv') %>
    <% color_reloj_span = color_reloj(@eleccion.tiempo_pendiente(current_user.apoderado?), 'clockspan') %>

    <div id="clockdiv" title="Tiempo restante para cerrar las listas. Al expirar dicho tiempo ya no se podrán modificar las mismas">
      <div class="<%=color_reloj_div %>">
        <span class="days <%= color_reloj_span %>"></span>
        <div class="smalltext">Dias</div>
      </div>
      <div class="<%= color_reloj_div %>">
        <span class="hours <%= color_reloj_span %>"></span>
        <div class="smalltext">Horas</div>
      </div>
      <div class="<%= color_reloj_div %>">
        <span class="minutes <%= color_reloj_span%>"></span>
        <div class="smalltext">Minutos</div>
      </div>
      <div class="<%= color_reloj_div %>">
        <span class="seconds <%= color_reloj_span%>"></span>
        <div class="smalltext">Segundos</div>
      </div>

      <script type="text/javascript" language="javascript" charset="utf-8">
        var deadline = new Date('<%= @eleccion.calcular_fecha_limite(current_user.apoderado?).strftime('%Y-%m-%dT%H:%M:%S-03:00') %>');
        initializeClock('clockdiv', deadline);
      </script>
    </div>
  </div>

  <div class="col-md-7">
    <% if @eleccion.habilitar_carga_candidaturas %>
      <div class="alert alert-danger" style="padding: 15px 10px; margin: 10px 0px;">
        <%= image_tag '/warning.gif', size: '35x35' %>
        Se habilitó temporalmente la actualización de listas
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 style="color: <%= (color_reloj_div.try(:include?, 'orange')) ? '#f37e21': (@eleccion.tiempo_pendiente(current_user.apoderado?) < 2) ? '#9A3333' : '#396'%>;">
      <%= (color_reloj_div.try(:include?, 'orange')) ? "Tiempo restante de verificación de listas" : "Tiempo restante para el cierre de listas" %>
    </h4>
  </div>
</div>