<% candidaturas_sin_validar = lista.decorate.cargos_candidaturas_sin_validar %>
<% candidaturas_invalidas   = lista.decorate.cargos_candidaturas_invalidos %>
<% candidaturas_incompletas = lista.decorate.cargos_candidaturas_incompletos %>

<% adhesiones_sin_validar = lista.decorate.cargos_adhesiones_sin_validar %>
<% adhesiones_invalidas   = lista.decorate.cargos_adhesiones_invalidos %>
<% adhesiones_incompletas = lista.decorate.cargos_adhesiones_incompletos %>

<% candidaturas_observadas = lista.decorate.cargos_candidaturas_observadas %>
<% adhesiones_observadas = lista.decorate.cargos_adhesiones_observadas %>

<% unless candidaturas_invalidas.empty? && candidaturas_incompletas.empty? && adhesiones_invalidas.empty? && candidaturas_sin_validar.empty? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <%= notificaciones_lista_cargos('Listas Precandidatos sin validar:', candidaturas_sin_validar) %>
      <%= notificaciones_lista_cargos('Listas Precandidatos invalidas:', candidaturas_invalidas) %>
      <%= notificaciones_lista_cargos('Listas Precandidatos incompletos:', candidaturas_incompletas) %>

      <%= notificaciones_lista_cargos('Listas Adherentes sin validar:', adhesiones_sin_validar) %>
      <%= notificaciones_lista_cargos('Listas Adherentes invalidas:', adhesiones_invalidas) %>
      <%= notificaciones_lista_cargos('Listas Adherentes incompletos:', adhesiones_incompletas) %>
    </ul>
  </div>
<% end %>

<% unless candidaturas_observadas.empty? && adhesiones_observadas.empty? %>
  <div class="alert alert-warning">
    <ul>
      <%= notificaciones_lista_cargos('Listas Precandidatos observados:', candidaturas_observadas) %>
      <%= notificaciones_lista_cargos('Listas Adherentes observados:', adhesiones_observadas) %>
    </ul>
  </div>
<% end %>