<%= form_for lista, html: {class: "form-horizontal", id: "crear_lista_form"}, remote: true do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel"><%= lista.persisted? ? 'Guardar' : 'Crear' %> Lista de Prencandidatas/os</h4>
  </div>

  <div class="modal-body" id="modal_body_form_lista">
    <div class="form-group">
      <label for="inputEleccion" class="col-md-4 control-label">Elección</label>
      <div class="col-md-8">
        <%= f.select :eleccion_id, options_from_collection_for_select(Eleccion.por_tipo(Eleccion::TIPOS[:paso]), :id, :descripcion, lista.eleccion_id), {}, class: "form-control js-select-elecciones", disabled: (lista.persisted? || current_user.apoderado?) %>
      </div>
    </div>

    <div class="form-group">
      <label for="inputAgrupacionPolitica" class="col-md-4 control-label">Agrupación Política</label>
      <div class="col-md-8">
        <%= f.select :fuerza_id, options_from_collection_for_select(Fuerza.partidos_y_alianzas(Eleccion.find(lista.eleccion_id)), :id, :nombre, lista.fuerza_id), {include_blank: "Seleccione Agrupación..."}, class: "select2 form-control", disabled: (lista.persisted? || current_user.apoderado?), style: "width: 100%;" %>
      </div>
    </div>

    <div class="form-group">
      <label for="inputListaNombre" class="col-md-4 control-label">Denominación de la lista</label>
      <div class="col-md-8">
        <%= f.text_field :nombre, class: 'form-control', placeholder: "Nombre lista..." %>
        <p class="help-block">Según lo establecido en el art. 19, inciso f de la Ley 4894, anexo I</p>
      </div>
    </div>

    <hr/>

    <div class="js-seccion-cargos-habilitados">
      <%= render 'seccion_checkbox_cargos_habilitados', lista: lista, cargos_habilitados: cargos_habilitados %>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <%= f.submit "#{lista.persisted? ? 'Guardar' : 'Crear'} Lista", class: "btn btn-primary" %>
  </div>
<% end %>
