<div class="panel panel-default js-lista-<%= lista.id %>">
  <div class="panel-heading" >
    <h4 class="panel-title">
      <div class="row">
        <div class="col-md-5" role="tab" id="heading<%=lista.id%>" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=lista.id%>" aria-controls="collapse<%=lista.id%>">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=lista.id%>" aria-controls="collapse<%=lista.id%>" class="js-boton-toggle-lista" style="font-size: 20px;">
            <%= lista.decorate.nombre_con_estado %>
          </a>
        </div>

        <div class="col-md-7">
          <div class="pull-right">
            <% if can?(:descargar_excel_lista, lista) %>
              <%= link_to "Observaciones &nbsp; <i class='fa fa-download'></i>".html_safe, imprimir_lista_prototipo_lista_path(lista, format: "xls"), 
                class: 'btn btn-sm btn-default' %>
            <% end %>
            
            <% if can?(:descargar_excel_lista, lista) %>
              <%= link_to "Descargar Lista &nbsp; <i class='fa fa-download'></i>".html_safe, 
                  imprimir_acta_presentacion_lista_path(lista, format: "docx"), class: 'btn btn-sm btn-default' %>
            <% end %>
            
            <% if can?(:edit, lista) %>
              <%= link_to "Editar &nbsp; <i class='fa fa-cog'></i>".html_safe, edit_lista_path(lista), remote: true, class: 'btn btn-sm btn-default' %>
            <% end %>
            
            <!--
            <% if lista.abierta? %>
              <%= link_to "Validar &nbsp; <i class='fa fa-check'></i>".html_safe, validar_lista_path(lista), remote: true, method: :post, class: 'btn btn-sm btn-success' %>
            <% end %>
            -->

            <% if (current_user.interno? && !lista.oficializada_tsj?) || (current_user.apoderado? && (lista.cerrada? || lista.reabierta?)) %>
              <% nombre_boton_oficializar = (current_user.interno?) ? 'Oficializar' : 'Finalizar' %>
              <% text_alert_oficializar = (current_user.interno?) ? '¿Esta seguro que desea oficializar?' : 'Finalizada la lista ya no la podrá modificar. ¿Esta seguro de finalizar?' %>

              <%= link_to "#{nombre_boton_oficializar} &nbsp; <i class='fa fa-file-text'></i>".html_safe, oficializar_lista_path(lista), remote: true, method: :post, 
                  class: 'btn btn-sm btn-primary', data: { confirm: text_alert_oficializar } %>
            <% end %>

            <% if current_user.interno? && lista.oficializada? %>
              <%= link_to "Desoficializar &nbsp; <i class='fa fa-file-text'></i>".html_safe, desoficializar_lista_path(lista), remote: true, method: :post, class: 'btn btn-sm btn-danger' %>
            <% end %>

             <% if current_user.interno? %>
              <%= link_to "Borrar Lista &nbsp; <em class='fa fa-trash-o'></em>".html_safe, lista_path(lista, fuerza_id: fuerza.id), class: 'btn btn-sm btn-danger', data: { confirm: 'Desea borrar la Lista?' }, :method => :delete, title: 'Eliminar' %>
             <% end %>
          </div>
        </div>
      </div>
    </h4>
  </div>

  <div id="collapse<%=lista.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=lista.id%>">
    <div class="panel-body">
      <%= render 'estado_general_listas_cargos', lista: lista %>

      <br>

      <h4 style="color: #9E9E9E; margin: 0 0 15px"> Seleccione la categoría sobre la que desea operar </h4>

      <div class="row">
        <% agrupar_lista_cargos(lista.lista_cargos_habilitados).each do |nombre_cargo, lista_cargos| %>
          <% if nombre_cargo != Cargo::CARGOS[:vicejefe] %>
            <%= mostrar_lista_cargo(nombre_cargo, lista_cargos, lista, true) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
