<!-- Modal -->
<div class="modal fade js-modal-lista" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render 'form', eleccion: eleccion, fuerza: fuerza, lista: lista, cargos_habilitados: cargos_habilitados %>
    </div>
  </div>
</div>
