<% if lista.eleccion.cargos_seleccionados.size > 1 %>
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 style="margin: 0px;">Cargos</h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4">
              <label class="checkbox cargos-checkbox">
                <%= check_box_tag("", "1", !lista.cargos_habilitados.empty? || cargos_habilitados.try(:keys).try(:size).try(:==, 17), class: 'js-todos-cargos-habilitados') %>
                Todos
              </label>
            </div>
          </div>

          
          <div class="row">
            <% lista.eleccion.cargos_seleccionados.each do |cargo| %>
              <% if Cargo::CARGOS.key(cargo.nombre) != :vicejefe %>
                <div class="col-xs-4">
                  <label class="checkbox cargos-checkbox">
                    <%= check_box_tag("cargos_habilitados[#{Cargo::CARGOS.key(cargo.nombre)}]", "1", !lista.persisted? && !lista.errors.empty? ? cargos_habilitados.keys.include?(Cargo::CARGOS.key(cargo.nombre).to_s) : lista.cargos_habilitados.include?(Cargo::CARGOS.key(cargo.nombre)), class: "js-cargo-habilitado") %>
                    <%= cargo.nombre.gsub(Cargo::CARGOS[:diputado], 'Legisladores') %>
                  </label>
                </div>
              <% end %>
            <% end %>
          </div>

          <% if lista.errors.messages.has_key?(:lista_cargos) %>
            <br/>
            <div class="row">
              <div class="col-xs-12">
                <label class="error_message"> <%= lista.errors.messages[:lista_cargos].try(:first) %> </label>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>