<% if @lista.errors.empty? %>
  if($("#eleccion_id option:selected").val() !== "<%= @lista.eleccion_id %>" || $("#fuerza_id option:selected").val() !== "<%= @lista.fuerza_id %>") {
    window.location.href = "/listas?eleccion_id=<%= @lista.eleccion_id %>&fuerza_id=<%= @lista.fuerza_id %>";
  } else {
    $(".js-listas-vacias").remove();
    $(".js-tabla-listas").removeClass("hidden");
    $(".js-tabla-listas").append("<%= escape_javascript(render 'listas/lista', lista: @lista, cargos: @cargos, fuerza: @fuerza) %>");
    $(".js-lista-<%= @lista.id %> .js-boton-toggle-lista").click();
    $(".js-modal-lista").modal("toggle");
    swal({text: "<%= flash[:notice] %>", type: 'success', confirmButtonText: 'Cerrar'});
  }
<% else %>
  $(".js-seccion-modal-lista .modal-content").html("<%= escape_javascript(render(partial: 'listas/form', locals: { eleccion: @eleccion, fuerza: @fuerza, lista: @lista, cargos_habilitados: @cargos_habilitados })) %>");
  inicializar_checkbox_masivo();
  inicializar_select_elecciones();
  inicializar_input_numero();
<% end %>
