swal('Lista Desoficializada', 'La lista se encuentra desoficializada', 'success');

$(".js-lista-<%= @lista.id %>").parent().html("<%= escape_javascript(render 'listas/lista', lista: @lista, fuerza: @fuerza) %>");
$(".js-lista-<%= @lista.id %> .js-boton-toggle-lista").click();

inicializar_tooltips();
inicializar_popover();