$(".js-seccion-modal-lista").html("<%= escape_javascript(render(partial: 'listas/modal_create_lista', locals: { eleccion: @lista.eleccion, fuerza: @lista.fuerza, lista: @lista, cargos_habilitados: @cargos_habilitados })) %>");
$(".js-modal-lista").modal("show");
inicializar_checkbox_masivo();
inicializar_select_elecciones();
inicializar_input_numero();
inicializar_select_2();