<% listas_por_cargo = @lista.lista_cargos_habilitados.group_by { |lc| lc.cargo.nombre } %>

<% listas_por_cargo.each do |cargo, lista_cargo| %>
  <h2>
    <strong>
<%= "Agrupación Política #{@lista.fuerza_nombre.camelize} - Lista #{@lista.nombre.camelize}" %>
    </strong>
  </h2>

  <strong>
  <% if cargo.eql?(Cargo::CARGOS[:jefe]) %>
Precandidato/s Jefe/a de Gobierno de la Ciudad Autónoma de Buenos Aires para la elección del <%= l(@lista.eleccion.fecha, format: '%d de %B de %Y')%>
  <% elsif cargo.eql?(Cargo::CARGOS[:diputado]) %>
Lista de precandidatos/as a Diputados/as de la Legislatura de la Ciudad de Buenos Aires para la elección del <%= l(@lista.eleccion.fecha, format: '%d de %B de %Y')%>
  <% else %>
Lista de precandidatos/as a miembros de la Junta Comunal de la Comuna n° <%= cargo.scan(/\d+/).join('') %> de la Ciudad de Buenos Aires para la elección del <%= l(@lista.eleccion.fecha, format: '%d de %B de %Y')%>
  <% end %>
  </strong>
  <br/>

  <% lista_cargo.first.candidaturas.each_slice(lista_cargo.first.cargo_cantidad_minima).with_index do |listado_candidaturas, index| %>

    <div style="text-align: center;" align="center">
    <% if index > 0 %>
      <br/>
      <strong> 
SUPLENTES 
      </strong>
    <% else %>
      <strong> 
TITULARES 
      </strong>
    <% end %>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <% if cargo.eql?(Cargo::CARGOS[:jefe]) %>
            <th> Cargo </th>
            <th> Apellido/s </th>
            <th> Nombre/s </th>
            <th>           DNI </th>
          <% else %>
            <th>      N° de Orden </th>
            <th> Apellido/s </th>
            <th> Nombre/s </th>
            <th>           DNI </th>
            <th>      Sexo (M o F) </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        
        <% listado_candidaturas.each do |candidatura| %>
          <tr>
            <% if cargo.eql?(Cargo::CARGOS[:jefe]) %>
              <td> <%= cargo %> </td>
              <td> <%= candidatura.persona.apellidos.camelize %> </td>
              <td> <%= candidatura.persona.nombres.camelize %> </td>
              <td>       <%= candidatura.persona.numero_documento %> </td>
            <% else %>
              <td>              <%= candidatura.decorate.orden %> </td>
              <td> <%= candidatura.persona.apellidos.camelize %> </td>
              <td> <%= candidatura.persona.nombres.camelize %> </td>
              <td>       <%= candidatura.persona.numero_documento %> </td>
              <td>              <%= candidatura.persona.sexo.upcase %> </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="-page-break"></div>
<% end %>
