<% @listas.each do |lista| %>
  <div style="text-align: right;" align="right">
    <strong>
    Junta Electoral del <br/>
    Partido / Alianza <br/>
    <%= @fuerza.nombre.upcase%> <br/>
    s/ oficialización de listas <br/>
    de precandidatos/as” <br/>
    </strong>
  </div>

  <br/><br/>

  <div style="text-align: center;" align="center">
    <strong> Buenos Aires </strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; de <%= l(Time.now, format: '%d de %B de %Y') %>
  </div>

  <br/><br/>

  <div style="text-align: left;" align="left">
    Visto: la solicitud de oficialización de los/las precandidatos/as a Diputados/as de la Legislatura de la Ciudad Autónoma de Buenos Aires efectuada por la lista interna <%= lista.nombre.upcase %> de acuerdo con lo establecido por los arts. 1, 3, 9 y cc, del Anexo I, ley nº 4894. 
  </div>

  <br/><br/>

  <div style="text-align: center;" align="center">
    <strong> resulta: </strong>
  </div>

  <br/><br/>

  <div style="text-align: left;" align="left">
    1. El/la apoderado/a de la lista solicitó la oficialización de las precandidaturas para diputados/as de la Legislatura de la Ciudad Autónoma de Buenos Aires para las Primarias Abiertas Simultáneas y Obligatorias previstas para el día 13/08/2017.
    <br/>
    2.  Las validaciones electrónicas efectuadas por el sistema informático otorgado por el Tribunal Superior de Justicia en los términos del art. 21, el Anexo I, de la ley nº 4894 y la documentación acompañada dan cuenta del cumplimiento de los requisitos constitucionales y legales. 
  </div>

  <br/><br/>

  <div style="text-align: center;" align="center">
    <strong> Fundamentos: </strong>
  </div>

  <br/><br/>

  <div style="text-align: left;" align="left">
    1. La denominación de la lista “<%= lista.nombre.upcase%>“ cumple con las condiciones  establecidas por el art. 19, inciso f, del anexo i, ley nº 4894.
    <br/>
    2. Los precandidatos y precandidatas a diputados y diputadas de la Legislatura de la Ciudad Autónoma de Buenos Aires se encuentran habilitados/as para postularse de acuerdo con lo establecido en los arts. 69, tercer párrafo, in fine y 70, 72 y cc. de la CCBA; art. 9, in fine, de la ley n° 269 y artículos 9, 10, 12, 13 y 19 del Anexo I, ley nº 4894 . 	
    <br/>
    Por ello, de acuerdo a las competencias atribuidas por el art. 20, 22, 23, y cc del Anexo I, de la ley nº 4894,
  </div>

  <br/><br/>

  <div style="text-align: center;" align="center">
    <strong> La Junta Electoral Partidaria <br/> resuelve: </strong>
  </div>

  <br/><br/>

  <div style="text-align: left;" align="left">
    1. <strong>Oficializar</strong> las precandidaturas a diputados y diputadas de la Legislatura de la Ciudad Autónoma de Buenos Aires de la lista denominada (“<%=lista.nombre.upcase%>”) por la agrupación política ("<%=@fuerza.nombre.upcase%>") para los comicios del <%= l(lista.eleccion.fecha, format: '%d de %B de %Y')%>, que como Anexo I integran esta resolución.
    <br/>
    2. <strong>Mandar</strong> que se registre, se notifique a todas las listas internas con habilitación de día, se publique en la página web institucional de la agrupación política y, oportunamente, se comunique al Tribunal Superior de Justicia.
  </div>

  <div class="-page-break"></div>

  <div style="text-align: center;" align="center">
    <strong> ANEXO I </strong>
  </div>

  <br/><br/>

  <% listas_por_cargo = lista.lista_cargos_habilitados.group_by { |lc| lc.cargo.nombre } %>

  <% listas_por_cargo.each do |cargo, lista_cargo| %>
    <div style="text-align: center;" align="center">
      <strong>
        <%= "Agrupación Política #{lista.fuerza_nombre.upcase}" %>
      </strong>
      <br>
      <strong>
        <%= "Lista #{lista.nombre.upcase}" %>
      </strong>
      <br>
    </div>

    <strong>
    <% if cargo.eql?(Cargo::CARGOS[:jefe]) %>
  Precandidato/s Jefe/a de Gobierno de la Ciudad Autónoma de Buenos Aires para la elección del <%= l(lista.eleccion.fecha, format: '%d de %B de %Y')%>
    <% elsif cargo.eql?(Cargo::CARGOS[:diputado]) %>
  Lista de precandidatos/as a Diputados/as de la Legislatura de la Ciudad de Buenos Aires para la elección del <%= l(lista.eleccion.fecha, format: '%d de %B de %Y')%>
    <% else %>
  Lista de precandidatos/as a miembros de la Junta Comunal de la Comuna n° <%= cargo.scan(/\d+/).join('') %> de la Ciudad de Buenos Aires para la elección del <%= l(lista.eleccion.fecha, format: '%d de %B de %Y')%>
    <% end %>
    </strong>
    <br/>

    <% lista_cargo.first.candidaturas.each_slice(lista_cargo.first.cargo_cantidad_minima).with_index do |listado_candidaturas, index| %>

      <div style="text-align: center;" align="center">
      <% if index > 0 %>
        <br/>
        <strong> 
  SUPLENTES 
        </strong>
      <% else %>
        <strong> 
  TITULARES 
        </strong>
      <% end %>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <% if cargo.eql?(Cargo::CARGOS[:jefe]) %>
              <th> Cargo </th>
              <th> Apellido/s </th>
              <th> Nombre/s </th>
              <th>           DNI </th>
            <% else %>
              <th>      N° de Orden </th>
              <th> Apellido/s </th>
              <th> Nombre/s </th>
              <th>           DNI </th>
              <th>      Sexo (M o F) </th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          
          <% listado_candidaturas.each do |candidatura| %>
            <tr>
              <% if cargo.eql?(Cargo::CARGOS[:jefe]) %>
                <td> <%= cargo %> </td>
                <td> <%= candidatura.persona.apellidos.camelize %> </td>
                <td> <%= candidatura.persona.nombres.camelize %> </td>
                <td>       <%= candidatura.persona.numero_documento %> </td>
              <% else %>
                <td>              <%= candidatura.decorate.orden %> </td>
                <td> <%= candidatura.persona.apellidos.camelize %> </td>
                <td> <%= candidatura.persona.nombres.camelize %> </td>
                <td>       <%= candidatura.persona.numero_documento %> </td>
                <td>              <%= candidatura.persona.sexo.upcase %> </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  <% end %>

  <div class="-page-break"></div>
<% end %>