<% @listas.each do |lista| %>
  <div style="text-align: right;" align="right">
    Ciudad de Buenos Aires, <%= l(Time.now, format: '%d de %B de %Y') %>
  </div>

  <br/><br/><br/>

  <p>Sr Presidente del Tribunal Superior de Justicia</p>  
  <p>de la Ciudad Autónoma de Buenos Aires</p>
  <p>Dr. Luis Francisco Lozano</p>
  <p>S_________________/_________________D</p>

  <br/><br/><br/>

  <div style="text-align: left;" align="left">
    La Junta Electoral de la Agrupación Política <%= @fuerza.nombre.upcase %>, constituyendo domicilio en _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _, se dirige a Ud. a los fines de comunicar, en los términos y con el alcance establecido por el art. 26 del Anexo I de la ley n° 4894, la resolución de admisión de la/las lista/s interna/s  de precandidatos/as a Diputados de la Legislatura de la Ciudad Autónoma de Buenos Aires que participarán en las elecciones Primarias Abiertas Simultáneas y Obligatorias previstas para el día <%= l(lista.eleccion.fecha, format: '%d de %B') %> del corriente que se acompaña.
    <br/>
    Esta Junta Electoral Partidaria ha evaluado la documentación de respaldo presentada por las listas —además de verificar la que se encuentra cargada en el sistema informático puesto a disposición por el Tribunal— a los fines de tener por satisfecha la aptitud de cada uno de los precandidatos/as de acuerdo con lo exigido por el bloque de juridicidad de la Ciudad Autónoma de Buenos Aires (cf. art. 9, Anexo I, ley n° 4894).
    <br/>
    La resolución de oficialización ha sido notificada y se encuentra firme en los términos de los arts. 22 y 23 de la ley citada.
	<br/>
    Se solicita al Presidente del Tribunal que emita la correspondiente resolución de admisión de oficialización.
  </div>

  <br/><br/><br/><br/><br/><br/>

  <div style="text-align: left;" align="left">
    Firma Apoderados/as:
    <br/><br/><br/>
    Teléfonos
    <br/><br/><br/>
    Nombre/s y Apellido/s
    <br/><br/><br/>
    Correo Electrónico
    <br/><br/><br/>
    Tipo y número de documento
    <br/><br/><br/>
  </div>

  <div class="-page-break"></div>

  <div style="text-align: center;" align="center">
    <strong> ANEXO I </strong>
  </div>

  <br/><br/>

  <% listas_por_cargo = lista.lista_cargos_habilitados.group_by { |lc| lc.cargo.nombre } %>

  <% listas_por_cargo.each do |cargo, lista_cargo| %>
    <div style="text-align: center;" align="center">
      <strong>
        <%= "Agrupación Política #{lista.fuerza_nombre.upcase}" %>
      </strong>
      <br/>
      <strong>
        <%= "Lista #{lista.nombre.upcase}" %>
      </strong>
    </div>

    <br/><br/>

    <strong>
    <% if cargo.eql?(Cargo::CARGOS[:jefe]) %>
  Precandidato/s Jefe/a de Gobierno de la Ciudad Autónoma de Buenos Aires para la elección del <%= l(lista.eleccion.fecha, format: '%d de %B de %Y')%>
    <% elsif cargo.eql?(Cargo::CARGOS[:diputado]) %>
  Lista de precandidatos/as a Diputados/as de la Legislatura de la Ciudad de Buenos Aires para la elección del <%= l(lista.eleccion.fecha, format: '%d de %B de %Y')%>
    <% else %>
  Lista de precandidatos/as a miembros de la Junta Comunal de la Comuna n° <%= cargo.scan(/\d+/).join('') %> de la Ciudad de Buenos Aires para la elección del <%= l(lista.eleccion.fecha, format: '%d de %B de %Y')%>
    <% end %>
    </strong>

    <br/><br/>

    <% lista_cargo.first.candidaturas.each_slice(lista_cargo.first.cargo_cantidad_minima).with_index do |listado_candidaturas, index| %>

      <div style="text-align: center;" align="center">
      <% if index > 0 %>
        <br/>
        <strong> 
  SUPLENTES 
        </strong>
      <% else %>
        <strong> 
  TITULARES 
        </strong>
      <% end %>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <% if cargo.eql?(Cargo::CARGOS[:jefe]) %>
              <th> Cargo </th>
              <th> Apellido/s </th>
              <th> Nombre/s </th>
              <th>           DNI </th>
            <% else %>
              <th>      N° de Orden </th>
              <th> Apellido/s </th>
              <th> Nombre/s </th>
              <th>           DNI </th>
              <th>      Sexo (M o F) </th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          
          <% listado_candidaturas.each do |candidatura| %>
            <tr>
              <% if cargo.eql?(Cargo::CARGOS[:jefe]) %>
                <td> <%= cargo %> </td>
                <td> <%= candidatura.persona.apellidos.camelize %> </td>
                <td> <%= candidatura.persona.nombres.camelize %> </td>
                <td>       <%= candidatura.persona.numero_documento %> </td>
              <% else %>
                <td>              <%= candidatura.decorate.orden %> </td>
                <td> <%= candidatura.persona.apellidos.camelize %> </td>
                <td> <%= candidatura.persona.nombres.camelize %> </td>
                <td>       <%= candidatura.persona.numero_documento %> </td>
                <td>              <%= candidatura.persona.sexo.upcase %> </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  <% end %>

  <div class="-page-break"></div>
<% end %>