<div class="row">
  <div class="col-md-12">
    <%= render partial: 'filters'%>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to "CREAR LISTA", new_lista_path(eleccion_id: @eleccion.id, fuerza_id: @fuerza.try(:id)), remote: true, class: "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="js-seccion-modal-lista">
  <%= render 'modal_create_lista', eleccion: @eleccion, fuerza: @fuerza, lista: @lista_nueva, cargos_habilitados: @cargos_habilitados %>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 style="color: #31708f">
      Listas de Precandidaturas
      <% if @fuerza.present? %>
        <% if @fuerza.escudo.present? %>
          <%= image_tag @fuerza.escudo.url, size: "70x70" %>
        <% end %>
        
        <% if current_user.interno? && !@fuerza.infracciones.empty? %>
          <%= link_to fuerza_infracciones_path(fuerza_id: @fuerza.id) do %>
            <%= image_tag '/warning.gif', size: '35x35', data: { toggle: "tooltip", placement: "top" }, title: "El partido tiene infracciones presentes" %>
          <% end %>
        <% end %>

        <% if current_user.interno? || current_user.apoderado?  %>
          <%= link_to "Resolución de Oficialización <i class='fa fa-download'></i>".html_safe, imprimir_resolucion_oficializacion_listas_path(fuerza_id: @fuerza.id, format: "docx"), class: 'btn btn-sm btn-default' %>
          <%= link_to "Comunicación al Tribunal (art.26) <i class='fa fa-download'></i>".html_safe, imprimir_comunicado_articulo_26_listas_path(fuerza_id: @fuerza.id, format: "docx"), class: 'btn btn-sm btn-default' %>
        <% end %>
      <% end %>
    </h2>

    <% if @listas.blank? %>
      <div class="js-listas-vacias alert alert-info" role="alert">
        <strong>Sin resultados!</strong>
        <% if @fuerza %>
          La Agrupación Política seleccionada no posee listas.
        <% else %>
          Falta seleccionar la Agrupación Política para mostrar las listas de precandidaturas.
        <% end %>
      </div>

      <div class="hidden panel-group js-tabla-listas" id="accordion" role="tablist" aria-multiselectable="true">
      </div>

    <% else %>
      <div class="panel-group js-tabla-listas" id="accordion" role="tablist" aria-multiselectable="true">
        <% @listas.each do |lista| %>
          <div class="js-seccion-lista" style="margin-bottom: 5px;">
            <%= render 'lista', lista: lista, fuerza: @fuerza %>
          </div>
        <% end %>
      </div>

      <%= paginate @listas %>

      <script type="text/javascript" language="javascript" charset="utf-8">
        setTimeout(function(){
          $('#collapse0').collapse('show');
        }, 600);
      </script>
    <% end %>
  </div>
</div>

<%= render 'listas/modals/bitacora_modal', versiones: [] %>
