<% if @lista.oficializada? %>
  swal('<%= current_user.interno? ? "Lista Oficializada" : "Lista Finalizada" %>', 'La lista se encuentra <%= current_user.interno? ? "oficializada" : "finalizada" %>', 'success');
<% else %>
  swal('Lista No <%= current_user.interno? ? "Oficializada" : "Finalizada" %>', 'Revisar las observaciones encontradas', 'error');
<% end %>

$(".js-lista-<%= @lista.id %>").parent().html("<%= escape_javascript(render 'listas/lista', lista: @lista, fuerza: @fuerza) %>");
$(".js-lista-<%= @lista.id %> .js-boton-toggle-lista").click();

inicializar_tooltips();
inicializar_popover();