$(".js-seccion-cargos-habilitados").html("<%= escape_javascript(render(partial: 'listas/seccion_checkbox_cargos_habilitados', locals: { lista: @lista, cargos_habilitados: @cargos_habilitados })) %>");
inicializar_checkbox_masivo();