<div class="row">
  <div class="col-md-12">
    <div class="well well-sm well-primary" style="font-size: 16px; margin-bottom: 10px;">
      <strong><%= "#{@eleccion.descripcion.upcase} - #{@fuerza.nombre.upcase} - #{@lista.nombre.upcase}"%></strong>
    </div>
  </div>
</div>

<h2 style="color: #31708f"> Precandidaturas PASO Lista <%= @lista.nombre %></h2>

<div class="js-seccion-modal-lista">
  <%= render 'modal_create_lista', eleccion: @eleccion, fuerza: @fuerza, lista: @lista, cargos_habilitados: @cargos_habilitados %>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="js-tabla-listas">
      <%= render @lista %>
    </div>
  </div>
</div>
