<% if @lista.errors.empty? %>
  swal({text: "<%= flash[:notice] %>", type: 'success', confirmButtonText: 'Cerrar'});
  $(".js-lista-<%= @lista.id %>").parent().html("<%= escape_javascript(render(partial: 'listas/lista', locals: { lista: @lista, cargos: @cargos, fuerza: @fuerza })) %>");
  $(".js-lista-<%= @lista.id %> .js-boton-toggle-lista").click();
  $(".js-modal-lista").modal("toggle");
<% else %>
  $(".js-seccion-modal-lista .modal-content").html("<%= escape_javascript(render(partial: 'listas/form', locals: { eleccion: @eleccion, fuerza: @fuerza, lista: @lista, cargos_habilitados: @lista.cargos_habilitados })) %>");
  inicializar_checkbox_masivo();
  inicializar_select_elecciones();
<% end %>
