<% if @lista.valida? %>
  swal('Lista Valida', 'La lista se encuentra valida', 'success');
<% else %>
  swal('Lista inválida', 'Revisar las observaciones encontradas', 'error');
<% end %>

$(".js-lista-<%= @lista.id %>").parent().html("<%= escape_javascript(render(partial: 'listas/lista', locals: { lista: @lista })) %>");
$(".js-lista-<%= @lista.id %> .js-boton-toggle-lista").click();

inicializar_tooltips();
inicializar_popover();