
<div class="panel panel-default" style="border-color: #f5f5f5;">
  <div class="panel-heading" style="padding: 10px 25px; border-color: #f5f5f5;">
		<div class="row" style="background-color: white;">
			<div class="col-md-4">
				<%= image_tag("site-logo.png") %>
			</div>

			<div class="col-md-8">
				<h3 style="color: #8C8C8C; margin-top: 6%; margin-left: 25px; padding: 0px 30px;">
					Sistema informático de uso obligatorio artículo 21 del Anexo I de la ley n° 4894 para la presentación y verificación de adhesiones, precandidaturas y toda documentación pertinente relativa al proceso electoral del año 2017.
				</h3>
			</div>
    
		</div>
  </div>

  <div class="panel-body" style="background-color: #f5f5f5; padding: 10px 25px;">
		<div class="row" style="background-color: white;">
			<div class="col-md-7">
				<h2 style="color: #5A523A;"> Introducción al Sistema Integral Electoral (SIEL)</h2>
				<br/>
				<br/>
				<p class="justificado">
					El Sistema Integral Electoral (SIEL) es un sistema informático de uso obligatorio para la presentación y verificación de adhesiones y precandidaturas. En consecuencia podrá ser utilizado por los/las apoderados/as de lista y de Junta Partidaria que hayan solicitado al Tribunal Superior de Justicia su usuario y contraseña, previa inscripción en el registro creado a tal efecto por <%= link_to "<strong>Acordada Electoral n° 1</strong>".html_safe, "https://www.eleccionesciudad.gob.ar/uploads/resoluciones/Acordada_Electoral_1-17_completa.pdf", target: "_blank" %>.
				</p>
				<p class="justificado">
					El SIEL permite que los apoderados/as de lista completen los datos de precandidatos/as y adherentes  mediante la importación de plantillas que pueden descargarse <%= link_to "<strong>aquí</strong>".html_safe, "#{root_url}/descargas/plantillas.zip" %> o al ingresar el sistema. También tiene la posibilidad de completar los datos de precandidatos/as y adhesiones uno por uno.
				</p>
				<p class="justificado">
				  El SIEL está habilitado para los/as apoderados/as de lista hasta el momento en que procedan al cierre de las listas. A partir de ese momento los datos cargados en el SIEL serán visibles para los apoderados/as de Junta Partidaria, quienes podrán efectuar modificaciones y agregar la documentación que aporten las listas para subsanar observaciones, hasta que procedan a finalizar.
				</p>
				<p class="justificado">
					El SIEL es amigable y lo irá guiando paso a paso.
				</p>
				<!-- <p>
					Pero si tiene dudas o surge algún inconveniente, puede dirigirse a la Mesa de Entradas Electoral del Tribunal Superior de JustiEl SIEL está habilitado para los/as apoderados/as de lista hasta el momento en que procedan al cierre de las listas. A partir de ese momento los datos cargados en el SIEL serán visibles para los apoderados/as de Junta Partidaria, quienes podrán efectuar modificaciones y agregar la documentación que aporten las listas para subsanar observaciones, hasta que dicten la resolución de oficialización.cia, sita en Cerrito 760 Planta Baja, donde se atenderán todas las consultas personalmente o por teléfono 4370-8500 interno 1903 o interno 777 de lunes a viernes de 9 a 16. También podrán solicitar ayuda enviando un mensaje al correo electrónico siel@tsjbaires.gov.ar consignando las inquietudes y sus datos de contacto y recibirá rápida respuesta.
				</p> -->

				<p><%= link_to "<strong><i class='fa fa-download'></i> Manual de Uso </strong>".html_safe, "#{root_url}/descargas/manual_de_usuario.pdf", target: '_blank' %></p>
			</div>

			<div class="col-md-5">
				<%= form_tag(nil, class: "well", style: "margin-top: 20px; background-color: #E0DDDC; border: 1px solid #E0DDDC;") do %>
					<h3><%= image_tag("logo.png") %> Ingresar al Sistema (SIEL)</h3>
					<hr/>
				
					<% if flash[:notice] %>
						<div class="alert alert-warning"><%= flash[:notice] %></div>
					<% end %>
					
					<fieldset>
						<div class="form-group">
							<label>Nombre de usuario</label>
							<%= text_field_tag :username, params[:username], class: "form-control" %>
						</div>
						<div class="form-group">
							<label>Contrase&ntilde;a</label>
							<%= password_field_tag :password, params[:password], class: "form-control" %>
						</div>
						<%= submit_tag "Entrar", class: "btn btn-primary btn-block" %>
					</fieldset>
					<br/>
					<p>
						Ante cualquier inconveniente, puede dirigirse a la Mesa de Entradas Electoral, sita en Cerrito 760 Planta Baja, donde se atenderán todas las consultas personalmente o por teléfono 4370-8500 interno 1903 o interno 777 de lunes a viernes de 9 a 16 hs.
					</p>
					<p>
						También podrán solicitar ayuda enviando un mensaje al correo electrónico siel@tsjbaires.gov.ar.
					</p>
				<% end %>
			</div>
		</div>
  </div>
</div>

<script type="">
	document.getElementById("username").focus();
	crear_flying_alertas(<%= alertas_flash_json %>);
</script>
