<div class="modal fade" id="modal-observacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content js-modal-observacion">
      <%= render 'lista_cargos/modals/observacion_form', observacion: observacion %>
    </div>
  </div>
</div>