<div class="modal fade" id="ImportarPrecandidatosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cargar Lista de Precandidatos</h4>
      </div>

      <div class="modal-body">
        <%= form_tag(importar_personas_lista_lista_cargo_path(@lista, @lista_cargo, tipo: 'Candidatura'), method: :post, remote: true, multipart: true, class: 'form-horizontal', id: 'importar_precandidatos_form') do %>

          <%= hidden_field_tag :limpiar_cargo, false, class: 'js-limpiar-cargo' %>

          <div class="form-group">
            <label for="inputListaNombre" class="col-md-4 control-label"> Descargar plantilla </label>
            <div class="col-md-8">
              <%= link_to "<i class='glyphicon glyphicon-download'></i> Descargar archivo".html_safe, "#{root_url}/descargas/precandidatos.xls", class: 'btn btn-default' %>
            </div>
          </div>

          <div class="form-group" style="margin-bottom: 0px;">
            <label for="exampleInputFile" class="js-archivo-importar-candidaturas-label col-md-4 control-label">Archivo a Importar</label>
            <div class="col-md-8">
              <%= file_field_tag :archivo, onchange: "validarArchivosImportacion(this);", data: { max_file_size: 5.megabytes }, require: true, class: "js-archivo-importar-candidaturas" %>
              <p class="help-block">Carge el listado de precandidatos que desea importar aquí.</p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="submit_limpiar_importar_precandidatos_form();">Limpiar Lista e Importar Precandidatos</button>
        <button type="button" class="btn btn-primary" onclick="submit_importar_precandidatos_form();">Importar Precandidatos</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function submit_limpiar_importar_precandidatos_form() {
  if($(".js-archivo-importar-candidaturas")[0].files.length === 0) {
    $(".js-archivo-importar-candidaturas-incompleto").remove();
    $(".js-archivo-importar-candidaturas").after("<p class='js-archivo-importar-candidaturas-incompleto rojo'>Falta especificar el archivo a utilizar</p>");
    $(".js-archivo-importar-candidaturas-label").addClass("rojo");
  } else {
    $('#importar_precandidatos_form .js-limpiar-cargo').val("true");
    $('#importar_precandidatos_form').submit();
    $('#ImportarPrecandidatosModal').modal('hide')
  }
}

function submit_importar_precandidatos_form() {
  if($(".js-archivo-importar-candidaturas")[0].files.length === 0) {
    $(".js-archivo-importar-candidaturas-incompleto").remove();
    $(".js-archivo-importar-candidaturas").after("<p class='js-archivo-importar-candidaturas-incompleto rojo'>Falta especificar el archivo a utilizar</p>");
    $(".js-archivo-importar-candidaturas-label").addClass("rojo");
  } else {
    $('#importar_precandidatos_form').submit();
    $('#ImportarPrecandidatosModal').modal('hide')
  }
}
</script>
