<%= form_for observacion, url: observacion_path, method: :put, remote: true do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Añadir Comentarios</h4>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <div class="row">
        <label class="col-md-4 control-label">Comentarios</label>
        <div class="col-md-8">
          <%= f.text_area :comentarios, class: "form-control" %>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <%= f.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>