<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Ordenamiento Sugerido - Cargo <%= originales.first.cargo.nombre.gsub(Cargo::CARGOS[:diputado], 'Legisladores') %></h4>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">

          <div class="panel-heading bg-rojo">
            <h3 class="blanco">
              <strong>
                Lista Original
              </strong>
            </h3>
          </div>

          <div class="panel-body">
            <table class="table table-condensed table-hover table-bordered table-striped">
              <thead>
                <tr>
                  <th class="text-center">Orden</th>
                  <th class="text-center">DNI</th>
                  <th class="text-center">Precandidato/a</th>
                  <th class="text-center">Sexo</th>
                </tr>
              </thead>
              <tbody>
                <% originales.each_with_index do |c, i| %>
                  <% if i == c.cargo.cantidad_minima %>
                    <tr><td colspan=4></td></tr>
                  <% end %>
                  <tr class="<%= (ordenadas[i].persona != originales[i].persona) ? "remarcado-verde": "" %> <%= originales[i].decorate.color_sexo %>">
                    <!-- <td><%= orden(c) %></td> -->
                    <td class="text-center"><%= c.decorate.orden %></td>
                    <td class="text-right"><%= c.persona.numero_documento %></td>
                    <td class="text-left"><%= c.persona.nombres %> <%= c.persona.apellidos %></td>
                    <td class="text-center"><%= c.persona.sexo %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div class="col-md-6">

        <div class="panel panel-default">

          <div class="panel-heading bg-verde">
            <h3 class="blanco">
              <strong>
                Lista Sugerida
              </strong>
            </h3>
          </div>

          <div class="panel-body">
            <table class="table table-condensed table-hover table-bordered table-striped">
              <thead>
                <tr>
                  <th class="text-center">Orden</th>
                  <th class="text-center">DNI</th>
                  <th class="text-center">Precandidato/a</th>
                  <th class="text-center">Sexo</th>
                </tr>
              </thead>
              <tbody>
                <% ordenadas.each_with_index do |c, i| %>
                  <% if i == c.cargo.cantidad_minima %>
                    <tr><td colspan=4></td></tr>
                  <% end %>
                  <tr class="<%= (ordenadas[i].persona != originales[i].persona) ? "remarcado-verde": "" %> <%= ordenadas[i].decorate.color_sexo %>">
                    <!-- <td><%= orden(c) %></td> -->
                    <td class="text-center"><%= c.decorate.orden %></td>
                    <td class="text-right"><%= c.persona.numero_documento %></td>
                    <td class="text-left"><%= c.persona.nombres %> <%= c.persona.apellidos %></td>
                    <td class="text-center"><%= c.persona.sexo %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <%= link_to "Aceptar Sugerencia", candidaturas_auto_ordenamiento_path(lista_cargo_id: lista_cargo.id), method: :post, remote: true, class: 'btn btn-primary' %>
    <%= link_to "Descargar Sugerencia <i class='fa fa-download'></i>".html_safe, imprimir_auto_ordenamiento_lista_lista_cargo_path(lista_cargo.lista, lista_cargo, format: :pdf), class: "btn btn-sm btn-default" %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  </div>
</div>