<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filtros</h3>
  </div>
  <div class="panel-body">
    <%= form_for @filtro_afiliaciones, url: afiliaciones_path, method: "get", html: {class: "form-inline", role: "form"} do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.select :eleccion_id, options_for_select(Eleccion.por_tipo(Eleccion::TIPOS[:paso]).collect {|el| [el.descripcion, el.id]}, f.object.eleccion_id), {}, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= f.select :fuerza_codigo, options_for_select(Fuerza.vigentes.activos.collect {|fuerza| [fuerza.nombre, fuerza.numero]}, f.object.try(:fuerza_codigo)), {include_blank: "Seleccione Agrupación..."}, class: 'select2 form-control', style: 'width: 250px !important;' %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= f.text_field :numero_documento, placeholder: "Número documento", class: "form-control", pattern: '[0-9]*' %>
          </div>
        </div>


        <div class="col-md-3">
          <div class="pull-right">
            <%= link_to "Borrar Filtro", afiliaciones_path , :class => "btn"%>

            <%= button_tag(type: "submit", class: "btn btn-info") do %>
              Buscar <i class='glyphicon glyphicon-search'></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
