<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Listado de Afiliaciones</h1>
    </div>
  </div>
</div>

<%= render partial: 'filters' %>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to "Borrar Afiliaciones <i class='fa fa-minus-circle'></i>".html_safe, 'javascript:;',
                  class: 'btn btn-danger', onclick: "borrarAfiliaciones();" %>
      <%= link_to "Cargar Afiliaciones <i class='fa fa-plus'></i>".html_safe, new_afiliacion_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">

    <% if @afiliaciones.empty? %>
      <div class="alert alert-info" role="alert">
        No hay afiliaciones cargadas en el sistema.
      </div>
    <% else %>
      <table id="lista_afiliaciones" class="table table-striped table-condensed">
        <thead>
          <tr>
            <th> Nro. </th>
            <th> <input name="borrar_afiliaciones" id="borrar_afiliaciones" type="checkbox" value="" onclick="seleccioneMultipleAfiliado();" /> </th>
            <th> Número Documento </th>
            <th> Tipo Documento </th>
            <th> Sexo </th>
            <th> Agrupación </th>
            <th> Elección </th>
            <th style="text-align: center;"> Acciones </th>
          </tr>
        </thead>

        <tbody>
          <% @afiliaciones.each_with_index do |afiliacion, index| %>
            <tr>
              <td> <%= index + ((@afiliaciones.current_page - 1) * @afiliaciones.limit_value) + 1 %> </td>
              <td> <%= check_box_tag 'borrar_afiliacion', afiliacion.id, false %> </td>
              <td> <%= afiliacion.numero_documento %> </td>
              <td> <%= afiliacion.tipo_documento %> </td>
              <td> <%= afiliacion.sexo %> </td>
              <td> <%= @fuerzas_hash[afiliacion.fuerza_codigo].to_s.upcase%> </td>
              <td> <%= afiliacion.eleccion.descripcion %> </td>
              <td style="text-align: center;">
                <%= link_to "<i class='glyphicon glyphicon-remove'></i>".html_safe, afiliacion_path(afiliacion),
                      data: { confirm: 'Desea borrar al afiliado?' }, :method => :delete, :class => 'btn btn-danger', :rel => 'tooltip', :title => 'Borrar Afiliado' %>
              <td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @afiliaciones %>
    <% end %>
  </div>
</div>
