<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Cargar Afiliaciones</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <%= form_for(@afiliacion, html: {class: 'form-horizontal', role: 'form', onsubmit: "$('.loading').show();"}) do |f| %>
      <div class="form-group">
        <%= f.label :eleccion_id, class: 'col-md-2 control-label' %>
        <div class="col-sm-3">
          <%= f.select :eleccion_id, options_for_select(Eleccion.por_tipo(Eleccion::TIPOS[:paso]).collect {|el| [el.descripcion, el.id]}, selected: @afiliacion.eleccion_id),
                                     {:include_blank => 'Seleccione...'}, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag 'Datos Implicados', nil, class: 'col-md-2 control-label' %>
        <div class="col-sm-8">
          <div class='<%= "#{'field_with_errors' if @afiliaciones_invalidas.present? && !@afiliaciones_invalidas.empty?}" %>'>
            <%= text_area_tag 'datos', @afiliaciones_invalidas.try(:join, "\n"), rows: 6, class: "form-control", required: true %>
          </div>
          <p class="help-block">
            El formato para la carga de afiliaciones es la siguiente: <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<b> NUMERO DOCUMENTO, TIPO DOCUMENTO [DNI, LC, ...],SEXO [M,F], CODIGO PARTIDO</b> <br/>
            &nbsp;&nbsp;&nbsp;&nbsp; 123456789, DNI, M, 123 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp; 122377273, DNI, F, 321 <br/>
          </p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= button_tag(type: "submit", class: "btn btn-primary") do %>
            Cargar Afiliaciones
          <% end %>

          <%= link_to "Cancelar", afiliaciones_path, :class => "btn"%>
        </div>
      </div>
    <% end %>

  </div>
</div>
