<div class="row">
  <%= form_tag({controller: "listas_generales", action: "index"}, method: :get, remote: true) do %>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1">Elecciones</span>
        <%= select_tag("eleccion_id", options_for_select(Eleccion.por_tipo(Eleccion::TIPOS[:general]).collect{ |e| [e.descripcion, e.id] }, @eleccion.try(:id)),
                       class: "form-control", onchange: "this.form.submit();", disabled: current_user.apoderado? )%>
      </div>
    </div>

    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1">Agrupaciones Políticas</span>
        <%= select_tag("fuerza_id", options_for_select(@fuerzas.collect{ |f| [f.nombre, f.id] }, @fuerza.try(:id)),
                       {class: "form-control select2", prompt: "Seleccione...", onchange: "this.form.submit();", disabled: current_user.apoderado?})%>
      </div>
    </div>
  <% end %>
</div>
<br>
