<div class="panel panel-default js-lista-<%= lista.id %>">
  <div class="panel-heading" >
    <h4 class="panel-title">
      <div class="row">
        <div class="col-md-5" role="tab" id="heading<%=lista.id%>" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=lista.id%>" aria-controls="collapse<%=lista.id%>">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=lista.id%>" aria-controls="collapse<%=lista.id%>" class="js-boton-toggle-lista" style="font-size: 20px;">
            <%= lista.nombre %>
          </a>
        </div>
      </div>
    </h4>
  </div>

  <div id="collapse<%=lista.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=lista.id%>">
    <div class="panel-body">
      <h4 style="color: #9E9E9E; margin: 0 0 15px"> Seleccione la categoría sobre la que desea operar </h4>

      <div class="row">
        <% agrupar_lista_cargos(lista.lista_cargos_habilitados).each do |nombre_cargo, lista_cargos| %>
          <% if nombre_cargo != Cargo::CARGOS[:vicejefe] %>
            <%= mostrar_lista_cargo(nombre_cargo, lista_cargos, lista, false) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
