<div class="row">
  <div class="col-md-12">
    <%= render partial: 'filters' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 style="color: #31708f">
      Listas de Candidaturas 
      <% if @fuerza.present? %>
        <% if @fuerza.escudo.present? %>
          <%= image_tag @fuerza.escudo.url, size: "70x70" %>
        <% end %>
        <% if current_user.interno? && !@fuerza.infracciones.empty? %>
          <%= link_to fuerza_infracciones_path(fuerza_id: @fuerza.id) do %>
            <%= image_tag '/warning.gif', size: '35x35', data: { toggle: "tooltip", placement: "top" }, title: "El partido tiene infracciones presentes" %>
          <% end %>
        <% end %>
      <% end %>
    </h2>

    <% if @listas.blank? %>
      <div class="js-listas-vacias alert alert-info" role="alert">
        <strong>Sin resultados!</strong>
        <% if @fuerza %>
          La Agrupación Política seleccionada no posee listas.
        <% else %>
          Falta seleccionar la Agrupación Política para mostrar las listas de precandidaturas.
        <% end %>
      </div>
    <% else %>
      <div class="panel-group js-tabla-listas" id="accordion" role="tablist" aria-multiselectable="true">
        <% @listas.each do |lista| %>
          <div class="js-seccion-lista" style="margin-bottom: 5px;">
            <%= render 'lista', lista: lista, cargos: @cargos %>
          </div>
        <% end %>
      </div>

      <script type="text/javascript" language="javascript" charset="utf-8">
        setTimeout(function(){
          $('#collapse0').collapse('show');
        }, 600);
      </script>
    <% end %>
  </div>
</div>
