<%= form_for(persona, html: {id: "buscar_persona_form"}, remote: true, method: :get, url: busqueda_persona_fiscal_personas_path) do |f| %>
  <div class="form-group col-md-4">
    <%= hidden_field_tag :eleccion_id, eleccion.id %>
    <%= hidden_field_tag :fuerza_id, fuerza.id %>

    <%= f.label :tipo_documento, 'Tipo Documento' %>
    <%= f.select :tipo_documento, options_from_collection_for_select(Persona::DOCUMENTO_TIPOS, :first, :last), {}, {class: 'form-control', id: 'tipo_documento'}  %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :numero_documento, 'Nro. Documento' %>
    <%= f.text_field :numero_documento, class: "js-input-numero-documento form-control", id: "input_numero_documento", placeholder: "Número" %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :sexo, 'Sexo' %>
    <%= f.select :sexo, options_from_collection_for_select(PadronApi::GENEROS.to_a.map { |genero| [genero.last, genero.first.capitalize] }, :first, :last), {}, {class: 'form-control selectpicker', id: 'genero'} %>
  </div>

  <div class="col-md-12">
    <div class="pull-right">
      <%= button_tag( class: "btn btn-primary") do %>
        Buscar Padrón <i class='glyphicon glyphicon-search'></i>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$('<%= "#buscar_persona_form" %>').on('submit', function(event) {
  var that = this;

  if (validarFormularioBusquedaPersona(that)) {
    event.preventDefault();
    return false;
  }
});
</script>