<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-10">
        <h4> 
          <%= eleccion.descripcion %>
        </h4>

        <% if current_user.externo? %>
          <h5> 
            <%= @fuerza.nombre %>
          </h5>
        <% else %>
          <%= select_tag("fuerza_id", options_for_select(Fuerza.partidos_y_alianzas(eleccion).collect{ |f| [f.nombre.capitalize, f.id] }.compact, fuerza.id),
                     class: "form-control select2") %>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= image_tag fuerza.escudo.url, size: '50x50' %>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="js-seccion-fiscales">
      <div class="js-seccion-errores hidden"></div>
      <%= render 'fiscales', fiscales: fiscales %>
    </div>
  </div>
</div>
