<div class="modal fade" id="CargarFiscalesModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag(new_fiscal_path, method: :get, class: 'form-horizontal', id: 'cargar_fiscales_form') do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Cargar Fiscales</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="eleccion_id" class="col-sm-2 control-label">Elección</label>
            <div class="col-sm-10">
              <%= select_tag 'eleccion_id', options_for_select(Eleccion.por_tipo(Eleccion::TIPOS[:paso]).collect {|el| [el.descripcion, el.id]}, eleccion.try(:id)), 
                  prompt: 'Seleccione elección...', class: 'form-control', disabled: cannot?(:manejar_fiscales_otros_partidos, Fiscal) %>
            </div>
          </div>

          <div class="form-group">
            <label for="eleccion_id" class="col-sm-2 control-label">Agrupación</label>
            <div class="col-sm-10">
              <%= select_tag 'fuerza_id', options_for_select(Fuerza.partidos_y_alianzas(eleccion).collect {|fuerza| [fuerza.nombre, fuerza.id]}, fuerza.try(:id)), 
                include_blank: 'Seleccione agrupación...', class: 'select2 form-control', id: "fuerza_id_select", disabled: cannot?(:manejar_fiscales_otros_partidos, Fiscal) %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <%= submit_tag 'Cargar Fiscales', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
