<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filtros</h3>
  </div>

  <div class="panel-body">
    <%= form_for @filtro_fiscales, url: fiscales_path, method: "get", html: {class: "form-inline", role: "form"} do |f| %>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <% if current_user.externo? %>
              <%= f.select :eleccion_id, options_for_select([[@eleccion.descripcion, @eleccion.id]], @eleccion.id), {}, class: 'form-control', disabled: true %>
            <% else %>
              <%= f.select :eleccion_id, options_for_select(Eleccion.por_tipo(Eleccion::TIPOS[:paso]).collect {|el| [el.descripcion, el.id]}, 
                  (f.object.eleccion_id || Eleccion.actual.paso.id)), {}, class: 'form-control' %>
            <% end %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <% if current_user.externo? %>
              <%= f.select :fuerza_id, options_for_select([[@fuerza.nombre, @fuerza.id]], @fuerza.id), {}, class: 'form-control', disabled: true %>
            <% else %>
              <%= f.select :fuerza_id, options_for_select(Fuerza.partidos_y_alianzas(@eleccion).collect {|fuerza| [fuerza.nombre, fuerza.id]}, @fuerza.try(:id)), 
                {:include_blank => 'Seleccione Agrupación...'}, class: 'select2 form-control', style: 'width: 250px !important;' %>
            <% end %>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <%= f.text_field :numero_documento, placeholder: "Número documento", class: "js-input-numero-documento form-control", pattern: '[0-9]*', style: "width: 100%;" %>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <%= f.select :tipo_cd, options_for_select(Fiscal.tipos.hash.to_a.collect { |tipo| [tipo.first.capitalize, tipo.last]}, (f.object.tipo_cd)), {:include_blank => 'Seleccione Tipo...'}, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="pull-right">
            <%= link_to "Borrar Filtro", fiscales_path , :class => "btn"%>

            <%= button_tag(type: "submit", class: "btn btn-info") do %>
              Buscar <i class='glyphicon glyphicon-search'></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.select :comuna, options_for_select(Cargo::CARGOS.collect{|key, value| [value, key.to_s.scan(/\d+/).first] if key.to_s =~ /comuna/}.compact, f.object.comuna), 
                {:include_blank => 'Comuna...'}, class: 'form-control', id: 'comuna' %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= f.select(:codigo_establecimiento, [], {prompt: 'Establecimiento...'}, { class: 'form-control select2', id: 'codigo_establecimiento' }) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if($("#comuna").find("option:selected").val() !== "") {
      cargar_establecimientos_por_comuna_select("#comuna", "#codigo_establecimiento");
    }

    $("#comuna").on("change", function() {
      $("#codigo_establecimiento option").remove();
      cargar_establecimientos_por_comuna_select("#comuna", "#codigo_establecimiento");
    });
  });
</script>