<div class="js-totales-fiscales">
  <div class="row">
    <div class="col-md-8">
      FISCALES
    </div>

    <div class="col-md-4">
      <div class="pull-right">
        <b id="contador_adhesiones"><%= fiscales.count %></b>
      </div>
    </div>
  </div>
</div>

<hr style="margin: 10px 0px;"/>

<div class="row">
  <div class="col-md-12">
    <a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="#ImportarFiscalesModal">
      Importar
      <i class='glyphicon glyphicon-arrow-up'></i>
    </a>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <h4>Fiscales</h4>
  </div>
</div>

<br/>

<% if fiscales.empty? %>
  <div class="alert alert-warning" role="alert">
    Lista de fiscales vacia.
  </div>
<% else %>
  <table class="table table-condensed table-striped js-tabla-adhesiones" id="tabla_adhesiones">
    <thead>
      <tr>
        <th> Tipo </th>
        <th> Documento </th>
        <th> Nombre </th>
        <th> Comuna </th>
        <th> Cod. Est. </th>
        <th>  </th>
      </tr>
    <thead>
    <tbody>
      <% FiscalDecorator.decorate_collection(fiscales).each do |fiscal| %>
        <tr>
          <td><%= (te fiscal, :tipo).upcase %></td>
          <th><strong><%= fiscal.numero_documento %></strong></th>
          <td><%= fiscal.nombre_completo %></td>
          <td><%= fiscal.comuna %></td>

          <%nombre_establecimiento = (!fiscal.comuna.nil? && !fiscal.codigo_establecimiento.nil?) ? MesasComuna.instance.mesas_por_establecimiento(fiscal.comuna, fiscal.codigo_establecimiento).try(:first).try(:[], 'nombre') : '' %>
          <td title="<%= nombre_establecimiento %>"><%= fiscal.codigo_establecimiento %></td>
          
          <td style="width: 5%;"><%= fiscal.boton_eliminar %></td>
      <% end %>
    </tbody>
  </table>
<% end %>
