<div class="modal fade" id="ImportarFiscalesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Importar Lista de Fiscales</h4>
      </div>

      <div class="modal-body">
        <%= form_tag(importar_fiscales_fiscales_path(eleccion_id: eleccion.id, fuerza_id: fuerza.id), method: :post, remote: true, multipart: true, class: 'form-horizontal', id: 'importar_fiscales_form') do %>

          <%= hidden_field_tag :limpiar_fiscales, false, class: 'js-limpiar-fiscales' %>

          <div class="form-group">
            <label for="inputListaNombre" class="col-md-4 control-label"> Descargar plantilla </label>
            <div class="col-md-8">
              <%= link_to "<i class='glyphicon glyphicon-download'></i> Descargar archivo".html_safe, "#{root_url}descargas/fiscales.xls", class: 'btn btn-default', target: '_blank' %>
            </div>
          </div>

          <div class="form-group" style="margin-bottom: 0px;">
            <label for="exampleInputFile" class="col-md-4 control-label">Archivo a Importar</label>
            <div class="col-md-8">
              <%= file_field_tag :archivo, onchange: "validarArchivosImportacion(this);", data: { max_file_size: 5.megabytes }, require: true %>
              <p class="help-block">Carge el listado de fiscales que desea importar aquí.</p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="submit_limpiar_importar_fiscales_form();">Limpiar Lista e Importar Fiscales</button>
        <button type="button" class="btn btn-primary" onclick="submit_importar_fiscales_form();">Importar Fiscales</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function submit_limpiar_importar_fiscales_form() {
  $('#importar_fiscales_form .js-limpiar-fiscales').val("true");
  $('#importar_fiscales_form').submit();
  $('#ImportarFiscalesModal').modal('hide')
}

function submit_importar_fiscales_form() {
  $('#importar_fiscales_form').submit();
  $('#ImportarFiscalesModal').modal('hide')
}
</script>
