<%= form_for(objeto, html: {class: 'js-persona-form', id: "persona-formulario"}, remote: true, method: :post, url: fiscales_path) do |f| %>

  <%= f.hidden_field :eleccion_id, value: eleccion.id %>
  <%= f.hidden_field :fuerza_id, value: fuerza.id %>

  <%= f.hidden_field :tipo_documento %>
  <%= f.hidden_field :numero_documento %>
  <%= f.hidden_field :sexo %>

  <div class="form-group">
    <%= f.label :tipo_cd, "Tipo de Fiscal" %>
    <%= f.select :tipo_cd, enum_option_pairs(Fiscal, :tipo, true), {:include_blank => "Selecciones tipo Fiscal..."}, :class =>"form-control", id: 'tipo_cd', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :comuna, "Comuna" %>
    <%= f.select(:comuna, options_from_collection_for_select(Callejero.instance.secciones.collect { |c| [c['nombre'].camelize, c['id']] }, :last, :first), {prompt: 'Seleccione Comuna'}, { class: 'form-control', id: 'comuna' }) %>
  </div>

  <div class="form-group" id="div_establecimiento">
    <%= f.label :codigo_establecimiento, "Establecimiento" %>
    <%= f.select(:codigo_establecimiento, [], {prompt: 'Seleccione Establecimiento'}, { class: 'form-control select2', id: 'codigo_establecimiento' }) %>
    <p class="help-block" id="cantidad_mesas"></p>
  </div>

  <div class="form-group">
    <%= f.label :nombres, "Nombres" %>
    <%= text_field_tag(:nombres, persona.try(:nombres), class: 'form-control', disabled: true, placeholder: 'Nombres') %>
  </div>

  <div class="form-group">
    <%= f.label :apellidos, "Apellidos" %>
    <%= text_field_tag(:apellidos, persona.try(:apellidos), class: 'form-control', disabled: true, placeholder: 'Apellidos') %>
  </div>

  <div class="form-group">
    <%= f.label :domicilio_completo, "Domicilio" %>
    <%= text_field_tag(:domicilio_completo, persona.try(:domicilio_completo), class: 'form-control', disabled: true, placeholder: 'Domicilio') %>
  </div>

<% end %>

<div class="form-group">
  <div class="pull-right">
    <%= link_to 'Cancelar <i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, 'javascript:;',
                class: "btn btn-default", onclick: "limpiar_formulario('buscar_persona_form'); limpiar_formulario_persona('persona-formulario')" %>

    <%= link_to('javascript:;', class: "btn btn-primary", onclick: "submitPersonaForm('persona-formulario');") do %>
      Agregar Fiscal <i class="glyphicon glyphicon-plus-sign"></i>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    if($("#tipo_cd").find("option:selected").val() !== "1" && $("#tipo_cd").find("option:selected").val() !== "") {
      $('div#div_establecimiento').show();
      $("#codigo_establecimiento option").remove();
      cargar_establecimientos_por_comuna_select("#comuna", "#codigo_establecimiento");
    } else {
      $('div#div_establecimiento').hide();
    }

    $("#comuna").on("change", function() {
      $("#codigo_establecimiento option").remove();
      cargar_establecimientos_por_comuna_select("#comuna", "#codigo_establecimiento");
    });

    $("#tipo_cd").on("change", function() {
      if($(this).find("option:selected").val() === "0" || $(this).find("option:selected").val() === "2") {
        $('div#div_establecimiento').show();
      } else {
        $('div#div_establecimiento').hide();
      }
    });

    $("#codigo_establecimiento").on("change", function() {
      comuna = $("#comuna").find("option:selected").val();
      codigo_establecimiento = $("#codigo_establecimiento").find("option:selected").val();
      obtener_cantidad_mesas_por_establecimiento(comuna, codigo_establecimiento);
    });

  });
</script>
