$('.js-formulario-persona').html('<%= escape_javascript(render "fiscales/persona_form", objeto: @fiscal_agregar, eleccion: @eleccion, fuerza: @fuerza, persona: @persona) %>');

$('.js-seccion-fiscales').html('<%= escape_javascript(render "fiscales/fiscales", fiscales: @fiscales) %>');

inicializar_tooltips();
inicializar_popover();
inicializar_numero_documento_con_mascara();

<% if !@fiscal_agregar.errors.empty? %>
  swal('No se ha podido agregar el fiscal', '<%= flash[:sweet_alert_error] %>', 'error');
<% else %>
  crear_flying_alertas(<%= alertas_flash_json %>);
<% end %>
