$('.js-formulario-persona').html('<%= escape_javascript(render "fiscales/persona_form", objeto: @fiscal, eleccion: @eleccion, fuerza: @fuerza, persona: @persona) %>');

inicializar_validaciones_inputs();
inicializar_fecha_con_mascara();
inicializar_tooltips();

crear_flying_alertas(<%= alertas_flash_json %>);
