$('.js-seccion-fiscales').html('<%= escape_javascript(render "fiscales/fiscales", fiscales: @fiscales) %>');

inicializar_tooltips();
inicializar_popover();
inicializar_numero_documento_con_mascara();

crear_flying_alertas(<%= alertas_flash_json %>);
