<% if @objetos_con_error.empty? %>
  swal('Fiscales importados exitosamente', 'La operación realizada fue exitosa.', 'success');
<% else %>
  swal('Hubo errores al importar los fiscales', 'Reintente la operación.', 'error');
  $(".js-seccion-fiscales .js-seccion-errores").html('<%= link_to "click", archivo_errores_fiscales_path(path: @path), id: "js-archivo-errores" %>');
  document.getElementById("js-archivo-errores").click();
<% end %>

$('.js-seccion-fiscales').html('<%= escape_javascript(render "fiscales/fiscales", fiscales: @fiscales) %>');