<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Listado de Fiscales</h1>
    </div>
  </div>
</div>

<%= render partial: 'filters' %>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <% unless @fiscales.empty? %>
        <%= link_to "Borrar Fiscales <i class='fa fa-minus-circle'></i>".html_safe, 'javascript:;',
                  class: 'btn btn-danger', onclick: "borrarFiscales();" %>
        <%= link_to "Exportar <i class='glyphicon glyphicon-arrow-down'></i>".html_safe, exportar_fiscales_path(eleccion_id: @eleccion.try(:id), fuerza_id: @fuerza.try(:id)), class: 'btn btn-info' %>
      <% end %>
      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#CargarFiscalesModal">
        Cargar
        <i class='fa fa-plus'></i>
      </a>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">

    <% if @fiscales.empty? %>
      <div class="alert alert-info" role="alert">
        No hay fiscales cargados en el sistema.
      </div>
    <% else %>
      <table id="lista_fiscales" class="table table-striped table-condensed">
        <thead>
          <tr>
            <th> Nro. </th>
            <th> <input name="borrar_fiscales" id="borrar_fiscales" type="checkbox" value="" onclick="seleccioneMultipleFiscal();" /> </th>
            <th> Nombre y Apellido </th>
            <th> Número Documento </th>
            <th> Tipo Documento </th>
            <th> Sexo </th>
            <th> Agrupación </th>
            <th> Tipo de Fiscal </th>
            <th style="text-align: center;"> Acciones </th>
          </tr>
        </thead>

        <tbody>
          <% @fiscales.each_with_index do |fiscal, index| %>
            <tr>
              <td> <%= index + 1 %> </td>
              <td> <%= check_box_tag 'borrar_fiscal', fiscal.id, false %> </td>
              <td> <%= fiscal.nombre_completo %> </td>
              <td> <%= fiscal.numero_documento %> </td>
              <td> <%= fiscal.tipo_documento %> </td>
              <td> <%= fiscal.sexo %> </td>
              <td> <%= fiscal.fuerza_nombre %> </td>
              <td> <%= fiscal.tipo.upcase %> </td>
              <td style="text-align: center;">
                <%= link_to "<i class='glyphicon glyphicon-remove'></i>".html_safe, fiscal_path(fiscal),
                      data: { confirm: 'Desea borrar al fiscal?' }, :method => :delete, :class => 'btn btn-danger', :rel => 'tooltip', :title => 'Borrar Fiscal' %>
              <td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= page_entries_info @fiscales, entry_name: 'Fiscales' %>
    <% end %>
  </div>
</div>

<!-- Modal para cargar fiscales -->
<%= render 'cargar_fiscales_modal', eleccion: @eleccion, fuerza: @fuerza %>