<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Carga de Fiscales

        <%= link_to fiscales_path(fiscal: { eleccion_id: @eleccion, fuerza_id: @fuerza }), class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-circle-arrow-left"></i>
          Ir a Listado de Fiscales
        <% end %>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <h3 style="color: #31708f"> Registro y validación de fiscales</h3>

        <div class="js-busqueda-persona-form">
          <%= render 'busqueda_persona_form', persona: Persona.new, eleccion: @eleccion, fuerza: @fuerza %>
        </div>
      </div>
    </div>

    <br/>
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h4>Información del Padrón</h4>
        </div>

        <div class='js-formulario-persona'>
          <%= render 'persona_form', objeto: @fiscal, eleccion: @eleccion, fuerza: @fuerza, persona: @persona %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7" data-spy="scroll">
    <%= render 'carga_fiscales', eleccion: @eleccion, fuerza: @fuerza, fiscales: @fiscales %>
  </div>
</div>

<!-- Modal para importar fiscales -->
<%= render 'importar_fiscales_modal', eleccion: @eleccion, fuerza: @fuerza %>