<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filtros</h3>
  </div>
  <div class="panel-body">
    <%= form_for @filtro_incidencias, url: incidencias_path, method: "get", html: {class: "form-inline", role: "form"} do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.select :eleccion_id, options_for_select(Eleccion.por_tipo(Eleccion::TIPOS[:paso]).collect {|el| [el.descripcion, el.id]}, f.object.eleccion_id),
                                       {:include_blank => 'Eleccion...'}, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= f.select :tipo_incidencia, options_for_select(Incidencia::TIPOS_INCIDENCIAS, f.object.tipo_incidencia), {:include_blank => 'Tipo Incidencia...'}, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= f.text_field :numero_documento, placeholder: "Número documento", class: "form-control", pattern: '[0-9]*'%>
          </div>
        </div>


        <div class="col-md-3">
          <div class="pull-right">
            <%= link_to "Borrar Filtro", incidencias_path , :class => "btn"%>

            <%= button_tag(type: "submit", class: "btn btn-info") do %>
              Buscar <i class='glyphicon glyphicon-search'></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
