<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Listado de Incidencias</h1>
    </div>
  </div>
</div>

<%= render partial: 'filters' %>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to "Borrar Incidencias <i class='fa fa-minus-circle'></i>".html_safe, borrar_incidencias_incidencias_path(incidencia: params[:incidencia]), class: 'btn btn-danger', method: :delete %>
      <%= link_to "Cargar Incidencias <i class='fa fa-plus'></i>".html_safe, new_incidencia_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">

    <% if @incidencias.empty? %>
      <div class="alert alert-info" role="alert">
        No hay incidencias cargadas en el sistema.
      </div>
    <% else %>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th> Nro. </th>
            <th> Tipo Incidencia </th>
            <th> Descripción </th>
            <th> Documento </th>
            <th> Tipo Documento </th>
            <th> Sexo </th>
            <th> Eleccion </th>
            <th style="text-align: center;"> Acciones </th>
          </tr>
        </thead>

        <tbody>
          <% @incidencias.each_with_index do |incidencia, index| %>
            <tr>
              <td> <%= index + 1 %> </td>
              <td> <%= Incidencia::TIPOS_INCIDENCIAS.key(incidencia.tipo_incidencia) %> </td>
              <td> <%= incidencia.descripcion %> </td>
              <td> <%= incidencia.numero_documento %> </td>
              <td> <%= incidencia.tipo_documento %> </td>
              <td> <%= incidencia.sexo %> </td>
              <td> <%= incidencia.eleccion.descripcion %> </td>
              <td style="text-align: center;">
                <%= link_to "<i class='glyphicon glyphicon-remove'></i>".html_safe, incidencia_path(incidencia),
                      data: { confirm: 'Desea borrar la incidencia?' }, :method => :delete, :class => 'btn btn-danger', :rel => 'tooltip', :title => 'Borrar Incidencia' %>
              <td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @incidencias %>
    <% end %>
  </div>
</div>
