<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Cargar Incidencias</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <%= form_for(@incidencia, html: {class: 'form-horizontal', role: 'form', onsubmit: "$('.loading').show();"}) do |f| %>
      <div class="form-group">
        <%= f.label :tipo_incidencia, class: 'col-md-2 control-label' %>
        <div class="col-sm-3">
          <%= f.select :tipo_incidencia, options_for_select(Incidencia::TIPOS_INCIDENCIAS, selected: @incidencia.tipo_incidencia),
                                         {:include_blank => 'Seleccione Incidencia...'}, class: 'form-control', required: true, id: 'select_tipo_incidencia' %>
        </div>
      </div>

      <div class="form-group" id="div_select_cargos">
        <%= f.label :cargo_id, class: 'col-md-2 control-label' %>
        <div class="col-sm-3">
          <%= f.select :cargo_id, options_for_select(Cargo.all.collect {|cargo| [cargo.nombre, cargo.id]}, @incidencia.cargo_id),
                                     {:include_blank => 'Seleccione Cargo...'}, class: 'form-control', id: 'select_cargos' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :eleccion_id, class: 'col-md-2 control-label' %>
        <div class="col-sm-3">
          <%= f.select :eleccion_id, options_for_select(Eleccion.por_tipo(Eleccion::TIPOS[:paso]).collect {|el| [el.descripcion, el.id]}, selected: @incidencia.eleccion_id),
                                     {:include_blank => 'Seleccione Elección...'}, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag 'Datos Implicados', nil, class: 'col-md-2 control-label' %>
        <div class="col-sm-8">
          <div class='<%= "#{'field_with_errors' if @incidencias_invalidas.present? && !@incidencias_invalidas.empty?}" %>'>
            <%= text_area_tag 'datos', @incidencias_invalidas.try(:join, "\n"), rows: 10, class: "form-control", required: true %>
          </div>
          <p class="help-block">
            El formato para la carga de incidencias es el siguiente: <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<b> NUMERO DOCUMENTO, TIPO DOCUMENTO [DNI, LC, ...],SEXO [M,F],DESCRIPCION INCIDENCIA</b> <br/>
            &nbsp;&nbsp;&nbsp;&nbsp; 123456789, DNI, M, DESCRIPCION INCIDENCIA <br/>
            &nbsp;&nbsp;&nbsp;&nbsp; 122377273, DNI, F, DESCRIPCION INCIDENCIA <br/>
          </p>

          <p class="help-block">
            El campo sexo es opcional pero se debe respetar la ubicacion y dejar el espacio vacio por ejemplo: <br>
            &nbsp;&nbsp;&nbsp;&nbsp; 122377273, DNI, , DESCRIPCION INCIDENCIA <br/>
          </p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= button_tag(type: "submit", class: "btn btn-primary") do %>
            Cargar incidencias
          <% end %>

          <%= link_to "Cancelar", :back, :class => "btn"%>
        </div>
      </div>
    <% end %>

  </div>
</div>

<script type="text/javascript">
  function showHideSelectCargos(show) {
    if(show) {
      $('div#div_select_cargos').show();
    } else {
      $('div#div_select_cargos').hide();
    }
  }
  $(document).ready(function() {
    showHideSelectCargos($("#select_tipo_incidencia").find("option:selected").val() === "REINCIDENCIA_CARGO");

    $("#select_tipo_incidencia").on("change", function() {
      showHideSelectCargos($("#select_tipo_incidencia").find("option:selected").val() === "REINCIDENCIA_CARGO");
    });
  });
</script>