<% plantilla_archivo_conformidad_adhesion = SielArchivo.conformidad_adhesion.activos.first %>

<div class="modal-content">
  <%= form_for :archivo_conformidad_adhesion, url: archivo_lista_cargos_path, html: { multipart: true, id: 'formulario_archivo_conformidad_adhesion' } do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Formulario de Firmas</h4>
    </div>

    <div class="modal-body">
      <div class="form-horizontal">
        <%= f.hidden_field :lista_cargo_id, value: lista_cargo.id %>
        <% if lista_cargo.archivo_conformidad_adhesion.present? %>
          <div class="form-group">
            <label class="col-md-4 control-label">Formulario Adjunto</label>
            <div class="col-md-8">
              <%= link_to "#{root_url}/archivos/descargar/#{lista_cargo.archivo_conformidad_adhesion.archivo.id}", class: "btn btn-default js-boton-descarga-archivo-conformidad-adhesiones" do %>
                <i class="glyphicon glyphicon-download"></i>
                Formulario de Firmas
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label 'Agregar Archivo', class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.file_field :archivo, value: 'Seleccione archivo', required: true %>
          </div>
        </div>

        <br>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-8">
            <% if plantilla_archivo_conformidad_adhesion.present? %>
              <%= link_to 'Descargar Formulario Modelo', "#{root_url}/archivos/descargar/#{plantilla_archivo_conformidad_adhesion.archivo.id}"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      <%= f.submit 'Agregar', class: 'btn btn-info'%>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('#formulario_archivo_conformidad_adhesion').on('submit', function(event) {
    event.preventDefault();
    var that = this;

    if(existeArchivoConformidadAdhesion()) {
      swal({
        title: 'Archivo cargado!',
        text: "El documento que desea adjuntar ya esta cargado, desea actualizarlo?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, actualizar!',
        cancelButtonText: 'Cancelar'
      }).then(function() {
        crearActualizarArchivoConformidadAdhesion(new FormData(that));
      });
    } else {
      crearActualizarArchivoConformidadAdhesion(new FormData(this));
    }
  });
</script>
