$(".js-conformidad-adhesiones .modal-dialog").html("<%= escape_javascript(render(partial: 'archivo_lista_cargos/archivo_conformidad_adhesion_modal', locals: { lista_cargo: @lista_cargo })) %>");
$(".js-modal-conformidad-adhesiones").modal('toggle');