
<% if target.errors.any? %>
  <div class="alert alert-danger">
    <strong>No se puede grabar el registro</strong>
    <br/><br/>
      <ul>
        <% target.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>
