<tr class="<%= clase_fila_caso(caso_verificacion) %>" id="caso_verificacion_<%= caso_verificacion.id %>">
	<td><%= dato_o_guion(caso_verificacion.numero_documento) %></td>
	<td><%= dato_o_guion(caso_verificacion.apellido) %></td>
	<td><%= dato_o_guion(caso_verificacion.nombre) %></td>
	<td><%= dato_o_guion(caso_verificacion.sexo) %></td>
	<td><%= caso_verificacion.hoja %></td>
	<td><%= caso_verificacion.fila %></td>
	<td class="detalle_caso"><%= descripcion_error(caso_verificacion) %></td>
	<td>
		<%= boton_firma(caso_verificacion) %>
		<%= boton_no_firma(caso_verificacion) %>
		<button type="button" class="btn btn-sm" onclick="javascript: borrar_caso_verificacion(<%= caso_verificacion.id %>);" title="Quitar caso de la muestra"><i class="glyphicon glyphicon-trash"></i></button>
	</td>
</tr>
