$('#caso_verificacion_<%= @caso_id %>').remove();
$('#edit_caso_form').html('<%= escape_javascript(render(template: "casos_verificacion/edit.html.erb")) %>');
$(document).ready(init_form_caso);
$('#barra_progreso').html('<%= escape_javascript(render(partial: "verificaciones_firmas/barra_progreso", locals: {verificacion: @verificacion})) %>');

<% unless @duplicado.nil? %>
	$('#caso_verificacion_<%= @duplicado.id %>').replaceWith('<%= escape_javascript(render(@duplicado)) %>');
<% end %>
