<%= form_for([@verificacion, @caso], remote: true, html: {class: "form-inline", id: 'form_caso_verificacion'}) do |f| %>

  <div class="row">
    <div class="col-md-12">
      <strong>Hoja</strong>&nbsp;<span class="badge badge-info"><%= @caso.hoja %></span>&nbsp;&nbsp;
      <strong>Fila</strong>&nbsp;<span class="badge badge-info"><%= @caso.fila %></span>&nbsp;&nbsp;
      <div class="input-group">
        <span class="input-group-addon">DNI</span>
        <%= f.number_field :numero_documento, class: 'form-control col-md-6', placeholder: 'DNI', id: 'caso_numero_documento' %>
        <%= f.hidden_field :ilegible, id: 'caso_verificacion_ilegible' %>
        <%= f.hidden_field :fila_vacia, id: 'caso_verificacion_fila_vacia' %>
      </div>

      <button type="button" class="btn" id="btn_agregar_caso">Agregar</button>
      <button type="button" class="btn btn-primary" id="btn_caso_fila_vacia">Fila Vacía</button>
      <button type="button" class="btn btn-danger" id="btn_caso_ilegible">Ilegible</button>
    </div>
  </div>

<% end %>
