$('#caso_verificacion_<%= @caso.id %>').replaceWith('<%= escape_javascript(render(@caso)) %>');
$('#barra_progreso').html('<%= escape_javascript(render(partial: "verificaciones_firmas/barra_progreso", locals: {verificacion: @verificacion})) %>');
