
<table class="table table-condensed table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>DNI</th>
			<th>Apellido</th>
			<th>Nombre</th>
			<th>Sexo</th>
			<th># Hoja</th>
			<th># Fila</th>
			<th>Observaciones</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<%= render @casos %>
	</tbody>
</table>
