$.ajax({ 
	url: '<%= edit_verificacion_firmas_caso_verificacion_path(@verificacion, @verificacion.proximo_caso_a_cargar) %>.js'
});
$.ajax({
	url: '<%= verificacion_firmas_casos_verificacion_path(@verificacion) %>.js?estado=<%= CasosVerificacionController::ESTADOS[:cargados] %>'
});
$('#barra_progreso').html('<%= escape_javascript(render(partial: "verificaciones_firmas/barra_progreso", locals: {verificacion: @verificacion})) %>');
