<% adhesiones_decoradas = AdhesionDecorator.decorate_collection(adhesiones) %>

<div class="row">
  <div class="col-md-8"> ADHERENTES </div>
  <div class="col-md-4">
    <div class="pull-right">
      <b><%= lista_cargo.adhesiones.count %></b>
    </div>
  </div>

  <div class="col-md-8"> ADHERENTES AFILIADOS </div>
  <div class="col-md-4">
    <div class="pull-right">
      <b><%= lista_cargo.cantidad_adherentes_afiliados %> (<%= number_to_currency(lista_cargo.porcentaje_afiliados, unit: "%", separator: ",", delimiter: "", format: "%n%u", precision: 0) %>)</b>
    </div>
  </div>

  <br/><br/><br/>

  <div class="col-md-12">
    <%= form_for adhesiones_search, url: adhesiones_path, method: :get, remote: true, :html => { class: "js-form-filtros-adhesiones form-inline" } do |f| %>
      <%= hidden_field_tag :lista_cargo_id, lista_cargo.id %>
      <div class="row campos-busqueda-adhesiones">
        <div class="col-xs-1 no-padding-right">
          <%= f.text_field :numero_documento_like, class: 'js-input-numero-documento form-control width-100 no-padding-right no-padding-left', placeholder: 'DNI' %>
        </div>
        <div class="col-xs-3 no-padding-right">
          <%= f.text_field :nombre_like, class: 'mayusc-input form-control width-100', placeholder: 'Nombre' %>
        </div>
        <div class="col-xs-3 no-padding-right">
          <%= f.text_field :apellido_like, class: 'mayusc-input form-control width-100', placeholder: 'Apellido' %>
        </div>
        <div class="col-xs-2">
          <label class="checkbox">
            <%= f.check_box :adhesiones_observadas_eq %>
            Observados
          </label>
        </div>
        <div class="col-xs-3 no-padding-right text-right">
          <%= f.submit 'Buscar', class: 'btn btn-success' %>
          <%= f.button 'Limpiar Filtros', class: 'btn btn-danger js-limpiar-filtros-adhesiones' %>
        </div>
      </div>
      <br/>
    <% end %>
  </div>
</div>

<br />

<table id="tabla-adherentes" class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="text-center">Documento</th>
      <th></th>
      <th class="text-center">Sexo</th>
      <th class="text-left">Nombre y Apellido</th>
      <th class="text-left">Domicilio</th>
      <th class="text-right">Observaciones</th>
    </tr>
  </thead>

  <tbody>
    <% AdhesionDecorator.decorate_collection(adhesiones_decoradas).each do |adhesion| %>
      <tr>
        <th class="text-center" scope="row"><%= adhesion.persona_numero_documento %></th>
        <td><%= adhesion.icono_afiliado %></td>
        <td class="text-center"><%= adhesion.persona_sexo %></td>
        <td class="text-left"><%= adhesion.nombre_completo %></td>
        <td class="text-left"><%= adhesion.persona_domicilio_calle_nombre %></td>
        <td class="text-right">
          <% adhesion.observaciones.each do |observacion| %>
            <i class="text-danger <%= observacion.first %>" data-toggle="tooltip" data-placement="top" title="<%= observacion.second %>"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="pull-right">
  [<%= (pagina_adhesiones.to_i - 1) * 30 + 1 %> - <%= (pagina_adhesiones.to_i - 1) * 30 + adhesiones.count %>]
</p>

<br/>

<div class="text-center">
  <%= paginate adhesiones, params: { controller: 'adhesiones', action: 'index', lista_cargo_id: lista_cargo.id }, param_name: :pagina_adhesiones, remote: true %>
</div>