<% adhesiones_decoradas = AdhesionDecorator.decorate_collection(adhesiones) %>

<div class="js-totales-adhesiones">
  <div class="row">
    <div class="col-md-8">
      ADHERENTES
    </div>

    <div class="col-md-4">
      <div class="pull-right">
        <b id="contador_adhesiones"><%= cantidad_adhesiones %></b>
      </div>
    </div>
  </div>
</div>

<hr style="margin: 10px 0px;"/>

<div class="row">
  <div class="col-md-8">
    CANTIDAD MÍNIMA DE ADHERENTES
  </div>
  <div class="col-md-4">
    <div class="pull-right">
      <%= lista_cargo.cargo_cantidad_minima_adherentes %>
    </div>
  </div>
</div>

<hr style="margin: 10px 0px;"/>

<div class="row">
  <div class="col-md-6">
    ADHERENTES AFILIADOS (min <%= number_to_currency(lista_cargo.cargo_porcentaje_minimo_afiliados, unit: "%", separator: ",", delimiter: "", format: "%n%u", precision: 0) %>)
  </div>
  <div class="col-md-6">
    <div class="pull-right js-calculo-afiliados">
      <%= lista_cargo.cantidad_adherentes_afiliados %> (<%= number_to_currency(lista_cargo.porcentaje_afiliados, unit: "%", separator: ",", delimiter: "", format: "%n%u", precision: 0) %>)
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <%= render 'lista_cargos/botonera_lista', tab: tab, objetos: adhesiones_decoradas, lista: lista, lista_cargo: lista_cargo %>
  </div>
</div>

<br/>

<% if File.exist?(lista_cargo.path_archivo_con_errores_importacion('Adhesion')) %>
  <%= link_to "<i class='glyphicon glyphicon-download'></i> Ver errores en la importación".html_safe, descargar_archivo_errores_importacion_lista_lista_cargo_path(lista, lista_cargo, modelo: 'Adhesion'), class: 'js-boton-errores-importacion btn btn-default' %>
  <br/><br/>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h4>Adherentes</h4>
  </div>
</div>

<% if adhesiones_decoradas.empty? && lista_cargo.adhesiones_count == 0 %>
  <div class="alert alert-warning" role="alert">
    Lista de adherentes vacia.
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <%= form_for adhesiones_search, url: adhesiones_path, method: :get, remote: true, :html => { class: "js-form-filtros-adhesiones form-inline" } do |f| %>
        <%= hidden_field_tag :lista_cargo_id, lista_cargo.id %>
        <div class="row campos-busqueda-adhesiones" style="margin-bottom: 5px;">
          <div class="col-xs-4 no-padding-right">
            <%= f.text_field :numero_documento_like, class: 'js-input-numero-documento form-control width-100 no-padding-right no-padding-left', placeholder: 'DNI' %>
          </div>
          <div class="col-xs-4 no-padding-right">
            <%= f.text_field :nombre_like, class: 'mayusc-input form-control width-100', placeholder: 'Nombre' %>
          </div>
          <div class="col-xs-4 no-padding-right">
            <%= f.text_field :apellido_like, class: 'mayusc-input form-control width-100', placeholder: 'Apellido' %>
          </div>
        </div>

        <div class="row campos-busqueda-adhesiones">
          <div class="col-xs-3">
            <label class="checkbox">
              <%= f.check_box :adhesiones_observadas_eq %>
              Observados
            </label>
          </div>

          <div class="col-xs-3">
            <label class="checkbox">
              <%= f.check_box :adhesiones_afiliadas_eq %>
              Afiliados
            </label>
          </div>

          <div class="col-xs-6 no-padding-right">
            <div class="pull-right">
              <%= f.submit 'Buscar', class: 'btn btn-success' %>
              <%= f.button 'Limpiar Filtros', class: 'btn btn-danger js-limpiar-filtros-adhesiones' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br/>
  
  <% if adhesiones_decoradas.empty? %>
    <div class="alert alert-warning" role="alert">
      No hay adherentes que concuerden con los datos de búsqueda
    </div>
  <% else %>
    <table class="table table-condensed table-striped js-tabla-adhesiones" id="tabla_adhesiones">
      <tbody>
        <% adhesiones_decoradas.each do |adhesion| %>
          <tr>
            <th><strong><%= adhesion.persona_numero_documento %></strong></th>
            <td><%= adhesion.icono_afiliado %></td>
            <td><%= adhesion.nombre_completo %></td>
            <td>
              <% adhesion.observaciones.each do |observacion| %>
                <i class="text-danger <%= observacion.first %>" data-toggle="tooltip" data-placement="top" title="<%= observacion.second %>"></i>
              <% end %>
            </td>
            <td style="width: 15%;">
              <%= adhesion.boton_eliminar(pagina_adhesiones, adhesiones_search.options) %>
            </td>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <p class="pull-right">
    <% if adhesiones_decoradas.empty? %>
      [0 - 0]
    <% else %>
      [<%= (pagina_adhesiones.to_i - 1) * 30 + 1 %> - <%= (pagina_adhesiones.to_i - 1) * 30 + adhesiones.count %>]
    <% end %>
  </p>

  <br/>

  <div class="text-center">
    <%= paginate adhesiones, params: { controller: 'adhesiones', action: 'index', lista_cargo_id: lista_cargo.id }, param_name: :pagina_adhesiones, remote: true %>
  </div>

  <% end %>
