<div class="well">
  <%= form_for bitacora_search, url: versiones_lista_lista_cargo_path, method: :get, remote: true, :html => { class: "js-form-filtros-bitacora form-inline" } do |f| %>
    <%= f.hidden_field :lista_cargo_eq, value: lista_cargo.id %>
    <div class="row">
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4">
            <%= f.label :nombre_usuario_like, "Autor" %>
          </div>
          <div class="col-xs-8">
            <%= f.text_field :nombre_usuario_like, class: 'form-control width-100', placeholder: 'Nombre de Usuario' %>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4">
            <%= f.label :event_eq, "Acción" %>
          </div>
          <div class="col-xs-8">
            <%= f.select :event_eq, options_for_select(PaperTrail::Version.eventos.collect { |evento| [I18n.t("papertrail.eventos.#{evento}"), evento] }, selected: bitacora_search.options[:event_eq]), {:include_blank => 'Todos'}, class: 'form-control width-100' %>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4">
            <%= f.label :item_type_eq, "Cambio en" %>
          </div>
          <div class="col-xs-8">
            <%= f.select :item_type_eq, options_for_select(PaperTrail::Version.tipos_lista_cargo.collect { |tipo| [I18n.t("papertrail.tipos_lista_cargo.#{tipo.underscore}"), tipo] }, selected: bitacora_search.options[:item_type_eq]), {:include_blank => 'Todos'}, class: 'form-control width-100' %>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4">
            <%= f.label :fecha_mayor, "Fecha desde" %>
          </div>
          <div class="col-xs-8">
            <div class="input-group date form_datetime-component">
              <%= f.text_field(:created_at_gteq, id: "bitacora_input_fecha_mayor", class: "form-control default-date-picker js-fecha-version-gteq", placeholder: "DD-MM-AAAA", value: bitacora_search.options[:created_at_gteq]) %>
              <span class="input-group-btn vertical-top">
                <button class="btn btn-primary date-set" type="button" onclick="$('#bitacora_input_fecha_mayor').focus().datepicker('show');">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4">
            <%= f.label :fecha_menor, "Fecha hasta" %>
          </div>
          <div class="col-xs-8">
            <div class="input-group date form_datetime-component">
              <%= f.text_field(:created_at_lteq, id: "bitacora_input_fecha_menor", class: "form-control default-date-picker js-fecha-version-lteq", placeholder: "DD-MM-AAAA", value: bitacora_search.options[:created_at_lteq]) %>
              <span class="input-group-btn vertical-top">
                <button class="btn btn-primary date-set" type="button" onclick="$('#bitacora_input_fecha_menor').focus().datepicker('show');">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4 text-right">
        <%= f.submit 'Buscar', class: 'btn btn-success' %>
        <%= f.button 'Limpiar Filtros', class: 'btn btn-danger js-limpiar-filtros-bitacora' %>
      </div>
    </div>
    <br/>
  <% end %>
</div>

<div class="text-right">
  <%= link_to "Exportar a Excel", exportar_versiones_lista_lista_cargo_path(lista_cargo.lista_id, lista_cargo.id, bitacora_search: bitacora_search.options), remote: true, class: "btn btn-default" %>
</div>

<br>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Autor</th>
      <th>Fecha</th>
      <th>Acción</th>
      <th>Cambios</th>
    </tr>
  </thead>

  <tbody>
    <% VersionListaCargoDecorator.decorate_collection(versiones).each do |version| %>
      <tr class="tabla-fila-hover">
        <td><%= version.whodunnit %></td>
        <td><%= version.created_at.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= version.accion %></td>
        <td><%= version.cambios %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate versiones, params: { controller: 'lista_cargos', action: 'versiones' }, param_name: :pagina_versiones, remote: true %>
</div>