<a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="<%= (tab == 'adhesiones') ? '#ImportarAdhesionesModal' : '#ImportarPrecandidatosModal'%>">
  Cargar Lista
  <i class='glyphicon glyphicon-arrow-up'></i>
</a>

<% if tab == 'adhesiones' %>
  <%= link_to "Adjuntar Firmas <i class='fa fa-user'></i>".html_safe, new_archivo_lista_cargo_path(lista_cargo_id: lista_cargo.id), class: "js-boton-archivo-conformidad-adhesiones btn btn-sm #{lista_cargo.archivo_conformidad_adhesion.present? ? 'btn-success' : 'btn-danger'}", remote: true, data: { toggle: "tooltip", placement: "top" }, title: lista_cargo.archivo_conformidad_adhesion.present? ? 'Ver/modificar el documento de firmas' : 'Adjuntar firmas pendiente' %>
<% end %>

<%= link_to validar_lista_lista_cargo_path(lista, lista_cargo, tab: tab), class: 'btn btn-sm btn-success', method: :post, remote: true do %>
  Validar
  <i class="glyphicon glyphicon-ok"></i>
<% end %>

<a href="javascript:;" class="btn btn-sm btn-danger" onclick="eliminar('<%= tab %>', '<%= path_eliminar_personas_en_lista(lista, lista_cargo, tab)%>')">
  Eliminar
  <i class='glyphicon glyphicon-trash'></i>
</a>

<%= link_to cerrar_lista_lista_lista_cargo_path(lista, lista_cargo, tab: tab), class: 'btn btn-sm btn-primary', method: :post, 
    data: { confirm: "#{current_user.externo? ? 'Al cerrar la lista ya no la podrá modificar. ¿Esta seguro de cerrar?' : '¿Esta seguro de cerrar la lista?'}" } do %>
  Cerrar
  <i class="glyphicon glyphicon-lock"></i>
<% end %>

<%= link_to "#{tab == 'candidaturas' ? 'Observaciones' : 'Descargar Lista'} <i class='fa fa-download'></i>".html_safe, path_imprimir_personas_en_lista(lista, lista_cargo, tab), class: "btn btn-sm btn-default", target: '_blank', remote: tab == 'adhesiones' %>

<% if tab == 'candidaturas' && @lista_cargo.cargo_nombre != Cargo::CARGOS[:jefe] %>
  <%= link_to "Ordenar por cupo <i class='fa fa-user'></i>".html_safe, sugerir_orden_candidaturas_path(lista_cargo_id: lista_cargo.id), class: "btn btn-sm btn-default", method: :post, remote: true %>
<% end %>

