<div class="js-totales-candidatos">
  <div class="row">
    <div class="col-md-7"> TITULARES </div>
    <div class="col-md-5">
      <div class="pull-right">
        <span>Cantidad:</span>
        <b id="contador_titulares"><%= lista_cargo.cargo.cantidad_titulares(lista_cargo.candidaturas.count) %></b>/<%= lista_cargo.cargo_cantidad_minima %>
      </div>
    </div>
  </div>

  <% if lista_cargo.cargo_nombre != Cargo::CARGOS[:jefe] %>
    <hr style="margin: 10px 0px;"/>

    <div class="row">
      <div class="col-md-7"> SUPLENTES </div>
      <div class="col-md-5">
        <div class="pull-right">
          <span>Cantidad:</span>
          <b id="contador_suplentes"><%= lista_cargo.cargo.cantidad_suplentes(lista_cargo.candidaturas.count) %></b>/<%= lista_cargo.cargo_cantidad_maxima - lista_cargo.cargo_cantidad_minima %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <%= render 'lista_cargos/botonera_lista', tab: tab, objetos: candidaturas, lista: lista, lista_cargo: lista_cargo %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <% if File.exist?(lista_cargo.path_archivo_con_errores_importacion('Candidatura')) %>
      <%= link_to "<i class='glyphicon glyphicon-download'></i> Ver errores en la importación".html_safe, descargar_archivo_errores_importacion_lista_lista_cargo_path(lista_cargo.lista, lista_cargo, modelo: 'Candidatura'), class: 'js-boton-errores-importacion btn btn-default' %>
      <br/><br/>
    <% end %>

    <% if candidaturas.empty? %>
      <div class="alert alert-warning" role="alert">
        Lista de precandidaturas vacia.
      </div>
    <% else %>
      <% candidaturas.each_slice(lista_cargo.cargo_cantidad_minima).with_index do |listado_candidaturas, index| %>
        <div class="row">
          <div class="col-md-12">
            <h4> <%= (index.zero?) ? 'Titulares' : 'Suplentes'%> </h4>
          </div>
        </div>

        <table class="table table-condensed js-tabla-candidatos" id="tabla_candidaturas_<%=index%>">
          <tbody id="<%= (index.zero?) ? 'titulares' : 'suplentes' %>">
            <% listado_candidaturas.each do |candidatura| %>
              <tr data-id="<%= candidatura.id %>" data-orden="<%= candidatura.object.orden %>" data-persona-id="<%= candidatura.persona.id %>" data-toggle="collapse" data-target="#image-<%= candidatura.id %>" class="accordion-toggle <%= candidatura.color_sexo %> candidatura-row">
                <td class="orden"> <%= candidatura.orden %> </td>
                <td> <strong><%= candidatura.persona_numero_documento %></strong> </td>
                <td>
                  <% if candidatura.existe_registro_candidatura? %>
                    <i class='fa fa-database' data-toggle='tooltip' data-placement='top' title='Precandidato con participación en elecciones pasadas'></i>
                  <% end %>
                </td>
                <%= content_tag :td do %>
                  <!-- <%= truncate(candidatura.nombre_completo, length: 25) %> -->
                  <p style="margin: 0 0 0px;">
                    <font data-toggle="tooltip" data-placement="top" title="Mueva el Precandidato de posición manteniendo presionado el botón izquierdo del ratón">
                      <%= candidatura.nombre_completo %>
                    <font>
                  </p>
                <% end %>
                <td class="js-observaciones">
                  <% candidatura.validador_observaciones.each do |observacion| %>
                    <%= candidatura.boton_editar("<i class='text-danger #{observacion.first} js-observacion-#{observacion.third.downcase}' data-toggle='tooltip' data-placement='top' title='#{observacion.second}'></i>") %>
                  <% end %>
                </td>
                <td style="width: 15%;">
                  <%= candidatura.boton_eliminar %>
                  <%= candidatura.boton_editar %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
</div>
