<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-11">
        <h4>
          <%= lista.nombre %> <br/>
          <small> <%= eleccion.descripcion %> - <%= cargo.nombre.gsub(Cargo::CARGOS[:diputado], 'Legisladores') %> </small>
        </h4>
      </div>

      <div class="col-md-1">
        <h4 class="js-estado-adhesiones-lista-cargo">
          <%= lista_cargo.decorate.icono_estado_adhesiones(false) %>
        </h4>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="js-seccion-adhesiones">
      <%= render 'adhesiones', tab: tab, lista: lista, lista_cargo: lista_cargo, adhesiones: adhesiones.includes(:persona), pagina_adhesiones: pagina_adhesiones, cantidad_adhesiones: cantidad_adhesiones, adhesiones_search: adhesiones_search %>
    </div>
  </div>

</div>
