<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-11">
        <h4>
          <%= @lista.nombre %> <br/>
          <small> <%= @eleccion.descripcion %> - <%= @cargo.nombre.gsub(Cargo::CARGOS[:diputado], 'Legisladores') %> </small> <br/>
        </h4>
      </div>

      <div class="col-md-1">
        <h4 class="js-estado-candidaturas-lista-cargo">
          <%= @lista_cargo.decorate.icono_estado_candidaturas(false) %>
        </h4>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="js-seccion-candidatos">
      <%= render 'candidaturas', tab: tab, lista: @lista, lista_cargo: @lista_cargo, cargo: @cargo, candidaturas: CandidaturaDecorator.decorate_collection(@lista_cargo.candidaturas.includes(:observaciones, persona: { archivos_persona: :archivo })) %>
    </div>
  </div>
</div>
