<div class="modal fade" id="modal-adjuntos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Archivos de <%= "#{persona.nombres} #{persona.apellidos}" %></h4>
      </div>

      <div class="modal-body">
        <%= render 'rows_modal_adjuntos', persona: persona, lista_cargo: @lista_cargo %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>