<td class="<%= observacion.color_estado %>" data-id="<%= observacion.id %>"><%= observacion.descripcion %></td>
<td class="<%= observacion.color_estado %>" data-id="<%= observacion.id %>"><%= observacion.documento_adjunto %></td>
<td class="text-center <%= observacion.color_estado %>" data-id="<%= observacion.id %>">
  <button class="js-subsanar-observacion btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="Subsanar Observación" data-estado="subsanada">
    <i class="fa fa-check text-success"></i>
  </button>
  <button class="js-subsanar-observacion btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="No Subsanar Observación" data-estado="no_subsanada">
    <i class="fa fa-times text-danger"></i>
  </button>
</td>
<td class="<%= observacion.color_estado %>" data-id="<%= observacion.id %>">
  <%= button_to edit_observacion_path(observacion), method: :get, remote: true, form_class: "inline", class: "btn btn-sm btn-default", data: { toggle: "tooltip", placement: "top" }, title: "Añadir Comentarios" do %>
    <i class="fa fa-pencil"></i>
  <% end %>
  <i class="js-icono-comentario fa fa-commenting-o pull-right <%= observacion.object.comentarios.present? ? '' : 'hidden' %>" data-toggle="popover" data-html="true" data-placement="top" data-content="<%= observacion.comentarios %>" title="Comentarios"></i>
</td>