<br>

<div class="js-seccion-notificaciones-observaciones">
  <% if !lista_cargo.alertas[:candidaturas].empty? %>
    <div class="alert alert-warning" id="js-seccion-observaciones" data-toggle="tooltip" data-placement="top" 
         title="Observaciones que deben subsanarse pero no impiden cerrar la lista">
      <h4>
        <strong>Observaciones</strong>
        <i class="fa fa-plus-square-o pull-right" style="display: none;"></i>
        <i class="fa fa-minus-square-o pull-right"></i>
      </h4>
      <ul class="no-list-style">
        <%= lista_cargo.decorate.send("notificaciones_estado_alertas_candidaturas") %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <%= form_for observaciones_search, url: observaciones_path, method: :get, remote: true, :html => { class: "js-form-filtros-observaciones form-inline" } do |f| %>
        <%= hidden_field_tag :lista_cargo_id, lista_cargo.id %>
        <div class="row campos-busqueda-observaciones" style="margin-bottom: 5px;">
          <div class="col-xs-4 no-padding-right">
            <label>Precandidato/a</label>
            <%= f.text_field :nombre_candidato_like, class: 'mayusc-input form-control width-100', placeholder: 'Nombre y/o apellido' %>
          </div>
          <div class="col-xs-4 no-padding-right">
            <label>Observación</label>
            <%= f.select :referencia_observacion_eq, options_for_select(Validators::ValidadorCandidatura::VALIDACIONES_OBSERVABLES.map { |validacion_observable| Validators::ValidadorCandidatura::VALIDACIONES[validacion_observable.to_sym] }.collect { |validacion| [I18n.t("activerecord.attributes.candidaturas.descripcion_observaciones.#{validacion[:NOMBRE].downcase}"), validacion[:NOMBRE]] }, selected: observaciones_search.options[:referencia_observacion_eq]), {:include_blank => 'Todos'}, class: 'form-control width-100' %>
          </div>
          <div class="col-xs-4">
            <label>Subsanado</label>
            <%= f.select :subsanado_eq, options_for_select([['Pendiente', Observacion.estados[:pendiente]], ['Si', Observacion.estados[:subsanada]], ['No', Observacion.estados[:no_subsanada]]], selected: observaciones_search.options[:subsanado_eq]), {:include_blank => 'Todos'}, class: 'form-control width-100' %>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-12">
                <div class="bg-warning caja-muestra-color"></div>
                <p><strong>Observación pendiente de revisión</strong></p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="bg-success caja-muestra-color"></div>
                <p><strong>Observación Subsanada</strong></p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="bg-danger caja-muestra-color"></div>
                <p><strong>Observación NO Subsanada</strong></p>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="pull-right">
              <%= f.submit 'Buscar', class: 'btn btn-success' %>
              <%= f.button 'Limpiar Filtros', class: 'btn btn-danger js-limpiar-filtros-observaciones' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Posición</th>
      <th>Persona</th>
      <th>Observación</th>
      <th>Doc. Adjunto</th>
      <th class="text-center">Subsanado?</th>
      <th>Comentarios</th>
    </tr>
  </thead>

  <tbody>
    <% observaciones.group_by(&:observable_id).each do |grupo_observaciones| %>
      <% observaciones_aux = ObservacionDecorator.decorate_collection(grupo_observaciones.last) %>
      <tr>
        <td rowspan="<%= observaciones_aux.size %>" class="text-center v-align-middle"><%= observaciones_aux.first.orden %></td>
        <td rowspan="<%= observaciones_aux.size %>" class="v-align-middle"><%= observaciones_aux.first.nombre_candidato %></td>
        <%= render 'lista_cargos/observacion', observacion: observaciones_aux.first %>
      </tr>
      <% observaciones_aux[1..-1].each do |observacion| %>
        <tr>
          <%= render 'lista_cargos/observacion', observacion: observacion %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate candidaturas_con_observaciones, params: { controller: 'observaciones', action: 'index', lista_cargo_id: lista_cargo.id }, remote: true %>
</div>