<%= form_for(objeto, html: {class: 'js-persona-form', id: "persona-formulario-#{tab}"}, remote: true, method: :post, url: url) do |f| %>

  <%= hidden_field_tag :editar, editar %>
  <%= hidden_field_tag :tab, tab %>
  <%= hidden_field_tag "#{objeto.class.name.downcase}_id".to_sym, objeto.id %>
  <%= hidden_field_tag :persona_id, objeto.persona.id %>

  <%= f.hidden_field :eleccion_id, value: @eleccion.id %>
  <%= f.hidden_field :cargo_id, value: @cargo.id %>
  <%= f.hidden_field :lista_cargo_id, value: @lista_cargo.id %>

  <%= f.fields_for :persona do |pf| %>
    <%= pf.hidden_field :tipo_documento %>
    <%= pf.hidden_field :numero_documento %>
    <%= pf.hidden_field :sexo %>

    <div class="form-group">
      <%= pf.label :nombres, "#{'*' if tab == 'candidaturas'} Nombres", class: "#{'rojo' if objeto.persona.persisted? && objeto.persona.nombres.blank?}" %>
      <%= pf.text_field(:nombres, class: 'mayusc-input form-control', disabled: objeto.persona.en_padron, placeholder: 'Nombres') %>
    </div>

    <div class="form-group">
      <%= pf.label :apellidos, "#{'*' if tab == 'candidaturas'} Apellidos", class: "#{'rojo' if objeto.persona.persisted? && objeto.persona.apellidos.blank?}" %>
      <%= pf.text_field(:apellidos, class: 'mayusc-input form-control', disabled: objeto.persona.en_padron, placeholder: 'Apellidos') %>
    </div>

    <% if tab == 'candidaturas' %>
      <div class="form-group">
        <%= pf.label :denominacion, 'Conocido Como' %>
        <%= pf.text_field :denominacion, class: 'mayusc-input form-control', placeholder: 'ej: Alberto "Tito" Gonzalez', value: @persona.try(:denominacion), maxlength: 80 %>
      </div>

      <div class="form-group">
        <%= pf.label :fecha_nacimiento, "#{'*' if tab == 'candidaturas'} Fecha Nacimiento", class: "#{'rojo' if objeto.persona.persisted? && objeto.persona.fecha_nacimiento.blank?}" %>
        <div class="input-group date form_datetime-component">
          <%= pf.text_field(:fecha_nacimiento, id: "input_fecha_nacimiento", class: "form-control default-date-picker js-fecha-mascara", placeholder: "DD-MM-AAAA", 
                            value: @persona.try(:fecha_nacimiento).try(:strftime, '%d/%m/%Y')) %>
          <span class="input-group-btn vertical-top">
            <button class="btn btn-primary date-set" type="button" onclick="$('#input_fecha_nacimiento').focus().datepicker('show');">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
      </div>
    <% end %>

    <% if objeto.persona.puede_editar_domicilio? %>
      <div class="js-formulario-domicilio">
        <%= pf.fields_for :domicilio do |df| %>
          <%= df.hidden_field :id %>

          <% if tab == 'adhesiones' %>
            <div class="form-group" title='Número de comuna obtenido del padrón' data-toggle='tooltip' data-placement='top'>
              <%= df.label :comuna, "Comuna" %>
              <%= df.text_field(:comuna, class: 'js-domicilio-comuna form-control', disabled: 'disabled', placeholder: 'COMUNA') %>
            </div>
          <% end %>

          <% if tab == 'candidaturas' %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><strong>Domicilio</strong></h4>
              </div>

              <div class="panel-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-9">
                      <%= df.label :calle_referencia, "*Calle", class: "js-label-domicilio-calle" %>
                    </div>
                    <div class="col-xs-3">
                      <%= df.label :numero, "#{'*' if tab == 'candidaturas'} Número", class: "js-label-domicilio-numero #{'rojo' if tab == 'candidaturas' && objeto.persona.persisted? && (objeto.persona.domicilio_calle_referencia.blank? || objeto.persona.domicilio_numero.blank?)}" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-9">
                      <%= df.select :calle_referencia, (df.object.calle_referencia.present? ? armar_opcion_calle(Callejero.instance.calle(df.object.calle_referencia.to_i)) : "<option value>Seleccione Calle</option>".html_safe), {}, { class: 'js-domicilio-calle form-control', id: 'domicilio_calle_referencia' } %>
                    </div>
                    <div class="col-xs-3">
                      <%= df.number_field :numero, class: 'js-domicilio-numero form-control', placeholder: 'Número', value: df.object.numero, oninput: 'checkLength($(this), 5)' %>
                      <p class="js-limites-altura text-right rojo"></p>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-3">
                      <%= df.label :piso, "Piso" %>
                    </div>

                    <div class="col-xs-3">
                      <%= df.label :depto, "Depto" %>
                    </div>

                    <div class="col-xs-3">
                      <%= df.label :codigo_postal, "CP" %>
                    </div>

                    <div class="col-xs-3">
                      <%= df.label :comuna, "Comuna" %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-3">
                      <%= df.number_field :piso, class: 'form-control', placeholder: 'Piso', value: df.object.piso, oninput: 'checkLength($(this), 2)' %>
                    </div>

                    <div class="col-xs-3">
                      <%= df.number_field :depto, class: 'form-control', placeholder: 'Depto', value: df.object.depto, oninput: 'checkLength($(this), 4)' %>
                    </div>

                    <div class="col-xs-3">
                      <%= df.number_field :codigo_postal, class: 'form-control', placeholder: 'CP', value: df.object.codigo_postal, oninput: 'checkLength($(this), 4)' %>
                    </div>

                    <div class="col-xs-3" title='Número de comuna obtenido del padrón o calculado en base al domicilio ingresado' data-toggle='tooltip' data-placement='top'>
                      <%= df.text_field :comuna, class: 'js-domicilio-comuna form-control', disabled: 'disabled', placeholder: 'COMUNA' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    <% else %>
      <div class="form-group">
        <%= label_tag 'domicilio', 'Domicilio' %>
        <%= text_field_tag 'domicilio', objeto.persona.domicilio.descripcion, class: 'mayusc-input form-control', disabled: 'disabled' %>
      </div>
    <% end %>

    <% if tab == 'candidaturas' %>
      <div class="form-group">
        <%= pf.label :nacionalidad_argentina, '* Nacionalidad Argentina', class: "#{'rojo' if pf.object.nacionalidad_argentina.blank? && pf.object.persisted?}" %>
        <div class="radio" style="margin-top: 0px;">
          <div class="row">
            <div class="col-xs-3">
              <label>
                <%= pf.radio_button :nacionalidad_argentina, 'NATIVO' %>
                Nativo
              </label>
            </div>
 
            <div class="col-xs-9">
              <label>
                <%= pf.radio_button :nacionalidad_argentina, 'POR_OPCION' %>
                Por Opción
              </label>
            </div>
 
            <div class="col-xs-12">
              <label>
                <%= pf.radio_button :nacionalidad_argentina, 'NATURALIZADO' %>
                Naturalizado. (Constar mínimo <%= @cargo.tipo_cargo.anios_ciudadania %> años de ejercicio de la ciudadanía).
                <%= link_estenssoro_jefe_naturalizados if @cargo.tipo_cargo.instance_of?(TiposCargos::TipoCargoJefe) %>
              </label>
            </div>
          </div>
        </div>
      </div>

      <% unless @cargo.tipo_cargo.instance_of?(TiposCargos::TipoCargoComunero) %>
        <div class="form-group">
          <%= pf.label :residencia, '* Residencia en Ciudad de Buenos Aires', class: "#{'rojo' if pf.object.residencia.blank? && pf.object.persisted?}" %>
          <div class="radio" style="margin-top: 0px;">
            <div class="row">
              <div class="col-xs-12">
                <label>
                  <%= pf.radio_button :residencia, 'NATIVO_COMUNA' %>
                  Nativo de la Ciudad de Buenos Aires
                </label>
              </div>
  
              <div class="col-xs-12">
                <label>
                  <%= pf.radio_button :residencia, 'RESIDENCIA_COMUNA' %>
                  No inferior a los (<%= @cargo.tipo_cargo.anios_residencia %>) años anteriores a la fecha de elección.
                </label>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
  <% end %>

<% end %>

<% if objeto.persona.persisted? && tab == 'candidaturas' %>
  <%= render partial: 'archivo_personas/form_archivo_requerido', locals: { lista_cargo: @lista_cargo, persona: objeto.persona, tipo_archivo: ArchivoPersona::TIPO_ARCHIVO['DOCUMENTOS OBLIGATORIOS']['Aceptación Candidatura']} %>
<% end %>

<% if objeto.persona.persisted? && tab == 'candidaturas' %>
  <%= render partial: 'archivo_personas/form_archivo_requerido', locals: { lista_cargo: @lista_cargo, persona: objeto.persona, tipo_archivo: ArchivoPersona::TIPO_ARCHIVO['DOCUMENTOS OBLIGATORIOS']['Copia DNI']} %>
<% end %>

<% if objeto.persona.persisted? && tab == 'candidaturas' %>
  <%= render partial: 'archivo_personas/form_archivo_requerido', locals: { lista_cargo: @lista_cargo, persona: objeto.persona, tipo_archivo: ArchivoPersona::TIPO_ARCHIVO['DOCUMENTOS OBLIGATORIOS']['Certificado Reincidencia Criminal']} %>
<% end %>

<div class="js-formulario-archivos">
  <% if objeto.persona.persisted? && tab == 'candidaturas' %>
    <%= render partial: 'archivo_personas/form_subsanar_observaciones', locals: { lista_cargo: @lista_cargo, persona: objeto.persona } %>
    <%= render partial: 'archivo_personas/index', locals: { archivos_persona: objeto.persona.archivos_persona.select { |ap| ap.lista_cargo_id == @lista_cargo.id && !ap.id.nil? && ap.subsana_observacion? } } %>
  <% end %>
</div>

<div class="form-group">
  <div class="pull-right">
    <%= link_to 'Cancelar <i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, 'javascript:;',
                class: "btn btn-default", onclick: "limpiar_formulario('buscar_persona_#{tab}_form', '#{tab}'); limpiar_formulario_persona('persona-formulario-#{tab}', '#{tab}')" %>

    <%= link_to('javascript:;', class: "btn btn-primary", onclick: "submitPersonaForm('persona-formulario-#{tab}');") do %>
      <%= editar ? 'Guardar ' : 'Agregar ' %> <%= tab == 'candidaturas' ? 'Precandidata/o' : 'Adherente' %> <i class="glyphicon glyphicon-plus-sign"></i>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function checkLength(element, length) {
    var fieldLength = element.val().length;

    if(fieldLength <= length){
        return true;
    } else {
        var str = element.val();
        str = str.substring(0, str.length - 1);
        element.val(str);
    }
  }
</script>