<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 10%;"> # </th>
      <th style="width: 70%;"> Tipo Documento </th>
      <th style="width: 20%;"> Link de Descarga </th>
    </tr>
  </thead>

  <tbody>
    <% persona.archivos_persona.lista_cargo(lista_cargo).each_with_index do |archivo_persona, index| %>
      <tr>
        <td> <%= index + 1%> </td> 
        <td> <%= archivo_persona.archivo.nombre %> <strong>(<%= archivo_persona.tipo_archivo.present? ? I18n.t("activerecord.attributes.archivos_persona.tipo_archivo.#{archivo_persona.tipo_archivo}") : archivo_persona.descripcion %>)</strong> </td>
        <td> <%= link_to "Descargar <i class='glyphicon glyphicon-download'></i>".html_safe, "#{root_url}/archivos/descargar/#{archivo_persona.archivo_id}", class: 'btn btn-default' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
