<div class="alert alert-<%= lista_cargo.color_estado(asociacion) %>" data-toggle="tooltip" data-placement="top" 
     title="Acciones pendientes">
  <ul>
    <%= lista_cargo.send("notificaciones_estado_errores_#{asociacion}") %>
  </ul>
</div>

<% if !lista_cargo.alertas[asociacion.to_sym].empty? %>
  <div class="alert alert-warning" id="js-seccion-observaciones" data-toggle="tooltip" data-placement="top" 
       title="Observaciones que deben subsanarse pero no impiden cerrar la lista">
    <h4>
      <strong>Observaciones</strong>
      <i class="fa fa-plus-square-o pull-right" style="display: none;"></i>
      <i class="fa fa-minus-square-o pull-right"></i>
    </h4>
    <ul class="no-list-style">
      <%= lista_cargo.send("notificaciones_estado_alertas_#{asociacion}") %>
    </ul>
  </div>
<% end %>