$('.js-seccion-adhesiones').html('<%= escape_javascript(render "lista_cargos/adhesiones", tab: @tab, lista: @lista_cargo.lista, lista_cargo: @lista_cargo, adhesiones: @adhesiones, pagina_adhesiones: @pagina_adhesiones, cantidad_adhesiones: @cantidad_adhesiones, adhesiones_search: @adhesiones_search) %>');

inicializar_tooltips();
inicializar_popover();
inicializar_limpiar_filtro_adhesiones();
inicializar_numero_documento_con_mascara();