var icono_estado_candidaturas = '<%= @lista_cargo.decorate.icono_estado_candidaturas(false) %>';
var icono_estado_adhesiones = '<%= @lista_cargo.decorate.icono_estado_adhesiones(false) %>';

$('#<%= @tab %> .js-formulario-persona').html('<%= escape_javascript(render "lista_cargos/persona_form", objeto: @adhesion, tab: @tab, url: adhesiones_path, cantidad: 0, editar: false ) %>');

<% unless @adhesion.persona.try(:persisted?) %>
  $('#formulario_carga_adhesion').hide();
<% end %>

$('.js-seccion-adhesiones').html('<%= escape_javascript(render "lista_cargos/adhesiones", tab: @tab, lista: @lista_cargo.lista, lista_cargo: @lista_cargo, adhesiones: @adhesiones, pagina_adhesiones: @pagina_adhesiones, cantidad_adhesiones: @cantidad_adhesiones, adhesiones_search: @adhesiones_search) %>');

$(".js-estado-candidaturas-lista-cargo").html(icono_estado_candidaturas);
$(".js-estado-adhesiones-lista-cargo").html(icono_estado_adhesiones);

$(".js-seccion-notificaciones-adhesiones").html("<%= escape_javascript(render 'lista_cargos/seccion_notificaciones', lista_cargo: @lista_cargo.decorate, asociacion: 'adhesiones') %>");

inicializar_tooltips();
inicializar_popover();
inicializar_limpiar_filtro_adhesiones();
inicializar_numero_documento_con_mascara();

crear_flying_alertas(<%= alertas_flash_json %>);
