$('.js-seccion-candidatos').html('<%= escape_javascript(render "lista_cargos/candidaturas", tab: "candidaturas", lista: @lista_cargo.lista, lista_cargo: @lista_cargo, candidaturas: CandidaturaDecorator.decorate_collection(@lista_cargo.candidaturas.reload)) %>');
$(".js-seccion-notificaciones-candidaturas").html('<%= escape_javascript(render "lista_cargos/seccion_notificaciones", lista_cargo: @lista_cargo.decorate, asociacion: "candidaturas") %>');
var icono_estado_candidaturas = '<%= @lista_cargo.decorate.icono_estado_candidaturas(false) %>';
$(".js-estado-candidaturas-lista-cargo").html(icono_estado_candidaturas);
$(".js-modal-ordenamiento-sugerido").modal('toggle');

inicializar_boton_editar_candidato();
inicializar_sortable();
inicializar_tooltips();

crear_flying_alertas(<%= alertas_flash_json %>);