<% if @editar %>
  $("#<%= @tab %> .js-busqueda-persona-form").html('<%= escape_javascript(render "lista_cargos/busqueda_persona_form", tab: @tab, persona: Persona.new, eleccion: @eleccion, cargo: @cargo, fuerza: @fuerza, lista_cargo: @lista_cargo) %>');
  inicializar_numero_documento_con_mascara();
<% end %>


$('#<%= @tab %> .js-formulario-persona').html('<%= escape_javascript(render "lista_cargos/persona_form", objeto: @objeto, tab: @tab, url: polymorphic_path(@tab), cantidad: 0, editar: @editar ) %>');

inicializar_validaciones_inputs();
inicializar_fecha_con_mascara();
inicializar_tooltips();

<% if @tab == 'candidaturas' %>
  <% if @persona.extranjero? %>
    $('div#formulario_carga_candidatura').hide();
  <% else %>
    inicializar_select_domicilio();
    $('#select2-domicilio_calle_referencia-container').closest('.select2-container').css('width', '100%');
    inicializar_domicilio_numero_rango();
    $('div#formulario_carga_candidatura').show();
  <% end %>
<% else %>
  <% if @no_encontrado %>
    $('div#formulario_carga_adhesion').hide();
  <% else %>
    $('div#formulario_carga_adhesion').show();
  <% end %>
<% end %>

crear_flying_alertas(<%= alertas_flash_json %>);
