$('.js-seccion-candidatos').html('<%= escape_javascript(render "cargos/candidaturas", tab: @tab, lista: @lista, cargo: @cargo, candidaturas: CandidaturaDecorator.decorate_collection(@lista.candidaturas.cargo(@cargo.id))) %>');
$(".js-tabla-candidatos tr").first().click();

inicializar_tooltips();
inicializar_sortable();

crear_flying_alertas(<%= alertas_flash_json %>);