var icono_estado_candidaturas = '<%= @lista_cargo.decorate.icono_estado_candidaturas(false) %>';
var icono_estado_adhesiones = '<%= @lista_cargo.decorate.icono_estado_adhesiones(false) %>';

$('.js-seccion-candidatos').html('<%= escape_javascript(render "lista_cargos/candidaturas", tab: @tab, lista: @lista_cargo.lista, lista_cargo: @lista_cargo, candidaturas: CandidaturaDecorator.decorate_collection(@lista_cargo.candidaturas)) %>');

$(".js-estado-candidaturas-lista-cargo").html(icono_estado_candidaturas);
$(".js-estado-adhesiones-lista-cargo").html(icono_estado_adhesiones);

$(".js-seccion-notificaciones-candidaturas").html("<%= escape_javascript(render 'lista_cargos/seccion_notificaciones', lista_cargo: @lista_cargo.decorate, asociacion: 'candidaturas') %>");

inicializar_boton_editar_candidato();
inicializar_sortable();
inicializar_tooltips();
inicializar_popover();

crear_flying_alertas(<%= alertas_flash_json %>);
