<% unless @job_completado %>
  <% if @job_error %>
    $(".overlay").remove();

    swal(
      "Falló la importación de <%= (@tab == 'adhesiones') ? 'Adhesiones' : 'Precandidatos'%>",
      'Por favor intente nuevamente.',
      'warning'
    )
  <% else %>
    $("#" + '<%= @tab%>').find(".progress-bar").css('width', "<%=@job_progreso%>%");
    $("#" + '<%= @tab%>').find(".progress-bar span.show").html("<%=@job_progreso%>% Completado");

    inicializar_barra_progreso('<%= @job_id %>', '<%= @tab %>');
  <% end %>

<% else %>
  <% if @tab == 'adhesiones'%>
    $('.js-seccion-adhesiones').html('<%= escape_javascript(render "lista_cargos/adhesiones", tab: @tab, lista_cargo: @lista_cargo, lista: @lista, adhesiones: @adhesiones, pagina_adhesiones: @pagina_adhesiones, cantidad_adhesiones: @cantidad_adhesiones, adhesiones_search: @adhesiones_search) %>');
  <% else %>
    $('.js-seccion-candidatos').html('<%= escape_javascript(render "lista_cargos/candidaturas", tab: @tab, lista_cargo: @lista_cargo,  lista: @lista, candidaturas: CandidaturaDecorator.decorate_collection(@lista_cargo.candidaturas)) %>');

    inicializar_boton_editar_candidato();
    inicializar_fecha_con_mascara();
    inicializar_sortable();
    inicializar_tooltips();
  <% end %>

  $("#" + '<%= @tab%>').find(".progress-bar").css('width', "100%");
  $("#" + '<%= @tab%>').find(".progress-bar span.show").html("100% Completado");

  setTimeout(function() { $(".overlay").remove(); }, 1000);

  crear_flying_alertas(<%= alertas_flash_json %>);
  $("#<%= @tab %> .js-boton-errores-importacion").append('<div style="display: inline;"> <img src="/warning.gif" alt="Errores" height="25" width="25"/> </div>');
<% end %>
