swal('Bitácora exportada correctamente', 'La operación realizada fue exitosa.', 'success');
$(".js-tab-bitacora").append('<%= link_to "click", descargar_exportacion_versiones_lista_lista_cargo_path(@lista_cargo.lista_id, @lista_cargo.id, path: @path), id: "js-bitacora-exportada", class: "hidden" %>');
document.getElementById("js-bitacora-exportada").click();
