swal('Adhesiones exportadas correctamente', 'La operación realizada fue exitosa.', 'success');
$("#adhesiones").append('<%= link_to "click", descargar_exportacion_adhesiones_lista_lista_cargo_path(@lista_cargo.lista_id, @lista_cargo.id, path: @path), id: "js-adhesiones-exportadas", class: "hidden" %>');
document.getElementById("js-adhesiones-exportadas").click();
