<% if @formato_archivo_incorrecto %>
  swal(
        'Archivo para Importar',
        'Solamente estan permitidos archivos con formato XLS.',
        'warning'
      )
<% else %>
  var tab = '<%= (@tipo_importacion.eql? "Adhesion") ? "adhesiones" : "candidaturas"%>'
  $('#' + tab).append("<%= escape_javascript(render 'lista_cargos/barra_progreso_importacion', job_id: @job_id ) %>");

  inicializar_barra_progreso("<%= @job_id %>", tab);
<% end %>
