$('.js-tab-observaciones').html('<%= escape_javascript(render "lista_cargos/observaciones", observaciones: @observaciones, observaciones_search: @observaciones_search, lista_cargo: @lista_cargo, candidaturas_con_observaciones: @candidaturas_con_observaciones) %>');
inicializar_formulario_observaciones();
inicializar_tooltips();
inicializar_popover();
inicializar_seccion_tab(true, 'observaciones');