<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Detalle Precandidatura
        <%= link_to (current_user.lista_partidaria? ? lista_path(current_user.lista) : listas_path(eleccion_id: @eleccion, fuerza_id: @fuerza, lista_id: @lista_filtrada)), class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-circle-arrow-left"></i>
          Ir a Listas de Precandidaturas
        <% end %>
      </h1>
    </div>
  </div>
</div>


<div class="header-lista">
  <%= render 'header', lista: @lista, lista_cargo_seleccionado: @lista_cargo %>
</div>

<div class="row">
  <div class="col-md-12">

    <ul class="nav nav-tabs" role="tablist">
      <li class="<%= (!params[:tab].present? || params[:tab] == 'candidaturas') ? 'active' : '' %>" role="presentation">
        <a id="boton-tab-candidaturas" data-toggle="tab" role="tab" href="#candidaturas"> <b>PRECANDIDATURAS</b> </a>
      </li>

      <li role="presentation" class="<%= (params[:tab].present? && params[:tab] == 'adhesiones') ? 'active' : '' %>">
        <a id="boton-tab-adhesiones" data-toggle="tab" role="tab" href="#adhesiones"> <b>ADHESIONES</b> </a>
      </li>

      <!--<% if current_user.administrador? %>
        <li role="presentation">
          <a id="boton-tab-bitacora" class="js-boton-tab-bitacora" data-toggle="tab" role="tab" href="#bitacora"> <b>BITÁCORA DE CAMBIOS</b> </a>
        </li>
      <% end %>-->

      <% if can?(:manage, Observacion) %>
        <li role="presentation">
          <a id="boton-tab-observaciones" class="js-boton-tab-observaciones" data-toggle="tab" role="tab" href="#observaciones"> <b>OBSERVACIONES</b> </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">

      <div id="adhesiones" class="tab-pane fade <%= (params[:tab].present? && params[:tab] == 'adhesiones') ? 'active in' : '' %>">
        <% if @lista_cargo.estado_adhesiones_cerrada? %>
          <%= render 'lista_cargos/cerrada/tab_adhesiones', lista: @lista, eleccion: @eleccion, cargo: @cargo, lista_cargo: @lista_cargo, adhesiones: @adhesiones, adhesiones_search: @adhesiones_search, pagina_adhesiones: @pagina_adhesiones %>
        <% else %>
          <%= render 'lista_cargos/abierta/tab_adhesiones', importar_adherentes_id: @importar_adherentes_id, lista_cargo: @lista_cargo, eleccion: @eleccion, cargo: @cargo, fuerza: @fuerza, adhesion: @adhesion, editar: @editar, lista: @lista, cantidad_adhesiones: @cantidad_adhesiones, adhesiones: @adhesiones, pagina_adhesiones: @pagina_adhesiones, adhesiones_search: @adhesiones_search %>
        <% end %>
      </div>

      <div id="candidaturas" class="tab-pane fade <%= (!params[:tab].present? || params[:tab] == 'candidaturas') ? 'active in' : '' %>">
        <% if @lista_cargo.estado_candidaturas_cerrada? %>
          <%= render 'lista_cargos/cerrada/tab_candidaturas', lista: @lista, eleccion: @eleccion, cargo: @cargo, lista_cargo: @lista_cargo %>
        <% else %>
          <%= render 'lista_cargos/abierta/tab_candidaturas', importar_precandidatos_id: @importar_precandidatos_id, lista_cargo: @lista_cargo, cargo: @cargo, eleccion: @eleccion, fuerza: @fuerza, candidatura: @candidatura, editar: @editar %>

          <% if params[:origin].present? && params[:origin].eql?('cerrar_lista') %>
            <script>
              var errores = '<%= (@lista_cargo.errores[params[:tab].to_sym].unshift("<strong>Errores encontrados:</strong>").join("\\n")).html_safe %>';
              swal({title: "Lista de <%= params[:tab] == 'candidaturas' ? 'Precandidaturas' : 'Adhesiones' %> Inválida", text: errores, type: 'error', confirmButtonText: 'Cerrar'});
            </script>
          <% end %>
        <% end %>
      </div>

      <!--<div id="bitacora" class="js-tab-bitacora tab-pane fade">
        <%#= render 'bitacora', versiones: @versiones, lista_cargo: @lista_cargo, bitacora_search: BitacoraSearch.new %>
      </div>-->

      <div id="observaciones" class="js-tab-observaciones tab-pane fade">
        <%= render 'observaciones', observaciones: @observaciones, observaciones_search: @observaciones_search, lista_cargo: @lista_cargo, candidaturas_con_observaciones: @lista_cargo.candidaturas.page(@pagina_observaciones), pagina_observaciones: @pagina_observaciones %>
      </div>

    </div>
  </div>
</div>

<%= render 'lista_cargos/modals/edit_observacion_modal', observacion: @observacion %>

<% if @lista_cargo.estado_candidaturas_cerrada? %>
  <%= render 'modal_adjuntos', persona: @lista_cargo.candidaturas.first.persona, lista_cargo: @lista_cargo %>
<% else %>
  <!-- Modal para importar precandidatos -->
  <%= render 'lista_cargos/modals/importar_precandidatos_modal' %>

  <div class="js-tabla-ordenamiento-sugerido">
    <div class="modal fade js-modal-ordenamiento-sugerido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width: 80%;"></div>
    </div>
  </div>
<% end %>

<% unless @lista_cargo.estado_adhesiones_cerrada? %>
  <!-- Modal para importar adhesiones -->
  <%= render 'lista_cargos/modals/importar_adhesiones_modal' %>

  <div class="js-conformidad-adhesiones">
    <div class="modal fade js-modal-conformidad-adhesiones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document"></div>
    </div>
  </div>
<% end %>