<% if @observacion.valid? %>
  var icono = $("#observaciones table td[data-id='" + '<%= @observacion.id %>' + "'] .js-icono-comentario");
  icono.attr("data-content", '<%= @observacion.decorate.comentarios.html_safe %>').data('popover');

  <% if @observacion.comentarios.present? %>
    icono.removeClass('hidden');
  <% else %>
    icono.addClass('hidden');
  <% end %>

  $("#modal-observacion").modal("toggle");
  swal('Guardado exitoso', 'El comentario ha sido añadido correctamente', 'success');
<% else %>
  swal('Hubo un error al guardar', 'No se ha podido añadir el comentario', 'error');
<% end %>
