<% if @tab == 'candidaturas' %>
  var icono_estado_candidaturas = '<%= @lista_cargo.decorate.icono_estado_candidaturas(false) %>';
  $(".js-estado-candidaturas-lista-cargo").html(icono_estado_candidaturas);
  $(".js-seccion-notificaciones-candidaturas").html('<%= escape_javascript(render "lista_cargos/seccion_notificaciones", lista_cargo: @lista_cargo.decorate, asociacion: "candidaturas") %>');
<% else %>
  var icono_estado_adhesiones = '<%= @lista_cargo.decorate.icono_estado_adhesiones(false) %>';
  $(".js-estado-adhesiones-lista-cargo").html(icono_estado_adhesiones);
  $(".js-seccion-notificaciones-adhesiones").html('<%= escape_javascript(render "lista_cargos/seccion_notificaciones", lista_cargo: @lista_cargo.decorate, asociacion: "adhesiones") %>');
<% end %>

<% if @errores.empty? && @alertas.empty? %>
  swal({title: '<%= @titulo_alerta %>', text: "No se encontró ninguna observación", type: 'success', confirmButtonText: 'Cerrar'});
<% elsif !@errores.empty? %>
  <% errores = @errores.map { |error| "- #{error.second}" } %>
  var errores = "<%= (errores.unshift('<strong>Errores encontrados:</strong>').join('\\n')).html_safe %>";
  swal({title: '<%= @titulo_alerta %>', text: errores, type: 'error', confirmButtonText: 'Cerrar'});
<% else %>
  swal({title: '<%= @titulo_alerta + " con observaciones" %>', text: '', type: 'success', confirmButtonText: 'Cerrar'});
<% end %>

inicializar_tooltips();
inicializar_popover();
inicializar_seccion_observaciones(false);