$(".modal-title").html('Archivos de <%= "#{@persona.nombres} #{@persona.apellidos}" %>');

$(".modal-body").html('<%= escape_javascript(render "lista_cargos/rows_modal_adjuntos", persona: @persona, lista_cargo: @lista_cargo) %>');

$("#modal-adjuntos").modal('toggle');
