$('.js-tab-bitacora').html('<%= escape_javascript(render "lista_cargos/bitacora", lista_cargo: @lista_cargo, versiones: @versiones, bitacora_search: @bitacora_search, pagina: @pagina) %>');
inicializar_limpiar_filtro_bitacora();
inicializar_datepickers_versiones();