<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filtros</h3>
  </div>
  <div class="panel-body">
    <%= form_for @filtro_mesa_extranjero, url: mesa_extranjeros_path, method: "get", html: {class: "form-inline", role: "form"} do |f| %>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.select :eleccion_id, options_for_select(Eleccion.por_tipo(Eleccion::TIPOS[:paso]).collect {|el| [el.descripcion, el.id]}, 
                (f.object.eleccion_id || Eleccion.actual.paso.id)), {}, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-10">
          <div class="pull-right">
            <%= link_to "Borrar Filtro", mesa_extranjeros_path , :class => "btn"%>

            <%= button_tag(type: "submit", class: "btn btn-info") do %>
              Buscar <i class='glyphicon glyphicon-search'></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
