<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Listado de Mesas Extranjeros</h1>
    </div>
  </div>
</div>

<%= render partial: 'filters' %>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <% if @mesa_extranjeros.empty? %>
        <%= link_to "Importar Mesas Extranjeros <i class='glyphicon glyphicon-arrow-down'></i>".html_safe, 
          importar_mesas_extranjeros_mesa_extranjeros_path(eleccion_id: @eleccion.try(:id)), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">

    <% if @mesa_extranjeros.empty? %>
      <div class="alert alert-info" role="alert">
        No hay mesas de extranjeros cargadas en el sistema.
      </div>
    <% else %>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th> Nro. </th>
            <th> Elección </th>
            <th> Número Mesa </th>
            <th> Comuna </th>
            <th> Cantidad Inscriptos </th>
            <th style="text-align: center;"> Acciones </th>
          </tr>
        </thead>

        <tbody>
          <% @mesa_extranjeros.each_with_index do |mesa_extranjero, index| %>
            <tr>
              <td> <%= index + 1 %> </td>
              <td> <%= mesa_extranjero.eleccion.descripcion.upcase %> </td>
              <td> <%= mesa_extranjero.numero_mesa %> </td>
              <td> <%= mesa_extranjero.comuna %> </td>
              <td> <%= mesa_extranjero.cantidad_inscriptos %> </td>
              <td style="text-align: center;">
                <%= link_to "<i class='fa fa-pencil-square-o'></i>".html_safe, mesa_extranjero_path(mesa_extranjero),
                    :class => 'btn btn-info', :rel => 'tooltip', :title => 'Editar Mesa Extranjeros' %>
              <td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @mesa_extranjeros %>
    <% end %>
  </div>
</div>
