<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Mesa de Extrnjeros

        <%= link_to mesa_extranjeros_path(mesa_extranjero: @mesa_extranjero), class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-circle-arrow-left"></i>
          Ir a Listado de Mesas de Extranjeros
        <% end %>
      </h1>
    </div>
  </div>
</div>