<%= form_for([@fuerza, @infraccion]) do |f| %>
  <% if @infraccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infraccion.errors.count, "error") %> prohibited this infraccion from being saved:</h2>

      <ul>
      <% @infraccion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :expediente %><br />
    <%= f.text_field :expediente %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br />
    <%= f.text_field :observaciones %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
