
<tr>
  <td><%=best_in_place infraccion, :fecha, path: [@fuerza, infraccion] %></td>
  <td><%=best_in_place infraccion, :expediente, path: [@fuerza, infraccion] %></td>
  <td><%=best_in_place infraccion, :observaciones, path: [@fuerza, infraccion] %></td>
  <td nowrap>
    <%= link_to "<i class='glyphicon glyphicon-remove'></i> Borrar".html_safe, {action: 'destroy', id: infraccion.id }, method: :delete, data: { confirm: '¿Está seguro?' }, remote: true, class: 'btn btn-danger' %>
  </td>
</tr>
