<% unless @infraccion.errors.empty? %>
  swal('No se ha podido agregar la infraccion', 'Los campos "Fech" y "Expediente" son requeridos', 'error');
<% else %>
  $('#infracciones_tbody').html('<%= escape_javascript(render(@infracciones)) %>');
<% end %>

