<div class="row">
  <div class="col-md-12">
    <h2>Infracciones de <%= @fuerza.nombre %></h2>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <%= form_for([@fuerza, @infraccion], html: {class: 'infracciones-form well form-inline', id: 'form_infraccion'}, remote: true) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.hidden_field :fuerza_id, {value: @fuerza.id} %>
          <div class="input-group col-xs-12 col-md-12">
            <span class="input-group-addon">Fecha</span>
            <%= f.text_field :fecha, class: 'form-control datepicker js-fecha-mascara' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="expediente-group input-group col-xs-12 col-md-12">
            <span class="input-group-addon">Expediente TSJ</span>
            <div class="input-group col-xs-12 col-md-12">
              <%= f.text_field :expediente, class: 'form-control js-input-expediente' %>
              <span class="input-group-btn">
                <%= link_to "<i class='glyphicon glyphicon-search'></i> Buscar".html_safe, "#busqueda_expedientes", {class: "btn btn-block btn-default", id: "modal_button", role: "button", :"data-toggle" => "modal", onclick: "$('#numero').focus();"} %>
              </span>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-12">
          <div class="input-group col-xs-12 col-md-12">
            <span class="observaciones-addon input-group-addon">Observaciones</span>
            <%= f.text_field :observaciones, class: 'form-control' %>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-2">
          <%= link_to "<i class='glyphicon glyphicon-plus'></i> Agregar".html_safe, '#', class: 'btn btn-block btn-success', id: 'agregar_infraccion' %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="15%">Fecha</th>
          <th width="15%">Expediente TSJ</th>
          <th width="69%">Observaciones</th>
          <th width="1%">&nbsp;</th>
        </tr>
      </thead>
      <tbody id="infracciones_tbody">
        <%= render @infracciones %>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <%= back_button %>
  </div>
</div>

<%= render "busqueda_expedientes" %>
