<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @infraccion.fecha %>
</p>

<p>
  <b>Expediente:</b>
  <%= @infraccion.expediente %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @infraccion.observaciones %>
</p>


