<% if job_id.present? %>
  <div class="overlay">
    <div class="progress barra-progreso">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= Sidekiq::Status::at(job_id) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= Sidekiq::Status::at(job_id) %>%" data-job-id="<%= job_id %>">
        <span class="show"><%= Sidekiq::Status::at(job_id) %>% Completado</span>
      </div>
    </div>
  </div>
<% end %>
