<tr id="<%= eleccion.id %>" <%= (eleccion.vigente?) ? '': "class=warning" %>>
  <td><%= eleccion.fecha.year %></td>
  <td><%= eleccion.descripcion %></td>
  <td><%= eleccion.tipo %></td>
  <td><%= eleccion.cargos_seleccionados_concatenados %></td>
  <td class="text-center"><%= importacion_escrutinio.try(:cantidad_registros) || 0 %></td>
  <td style="text-align: right;">
    <% if importacion_escrutinio.present? %>
      <%= link_to "<i class='fa fa-trash'></i>".html_safe, importacion_escrutinio_path(importacion_escrutinio), method: :delete, 
          data: { confirm: 'Está seguro que desea borrar la importación?' }, class: 'btn btn-danger', title: 'Borrar' %>
    <% end %>
    <%= link_to "<i class='fa fa-arrow-up'></i>".html_safe, new_importacion_escrutinio_path(eleccion_id: eleccion.id), remote: true, 
          class: 'btn btn-info', title: 'Importar' %>
    <% if importacion_escrutinio.present? %>
      <% if eleccion.paso? %>
        <%= link_to "<i class='fa fa-list-alt'></i>".html_safe, importacion_escrutinio_path(importacion_escrutinio), class: 'btn btn-success', 
            title: 'Detalle' %>
      <% end%>

      <%= link_to "<i class='fa fa-sitemap'></i>".html_safe, reparto_cargos_importacion_escrutinio_path(importacion_escrutinio), class: 'btn btn-warning', 
          title: 'Reparto de Cargos' %>
    <% end %>
  </td>
</tr>
