<div class="modal fade" id="ImportarEscrutinioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag(importacion_escrutinios_path, method: :post, remote: true, multipart: true, class: 'form-horizontal', id: 'importar_escrutinios_form') do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Importar Escrutinio</h4>
        </div>

        <div class="modal-body">

            <%= hidden_field_tag :eleccion_id %>

            <div class="form-group" style="margin-bottom: 0px;">
              <label for="exampleInputFile" class="js-archivo-importar-escrutinios-label col-md-4 control-label">Archivo a Importar</label>
              <div class="col-md-8">
                <%= file_field_tag :archivo, require: true, class: "js-archivo-importar-escrutinios" %>
                <p class="help-block">Carge el escrutinio que desea importar aquí.</p>
              </div>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <%= submit_tag "Importar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>