<% if @formato_archivo_incorrecto %>
  swal('Archivo para Importar', 'Solamente estan permitidos archivos con formato XLS.', 'warning');
<% else %>
  $("#ImportarEscrutinioModal").modal("toggle");
  $("#js-importacion-escrutinio").append("<%= escape_javascript(render 'importacion_escrutinios/barra_progreso_importacion', job_id: @job_id ) %>");

  inicializar_barra_progreso_importacion_escrutinio("<%= @job_id %>");
<% end %>
