<% unless @job_completado %>
  <% if @job_error %>
    $(".overlay").remove();

    swal("Falló la importación del escrutinio", 'Por favor intente nuevamente.', 'warning')
  <% else %>
    $(".progress-bar").css('width', "<%= @job_progreso %>%");
    $(".progress-bar span.show").html("<%= @job_progreso %>% Completado");

    inicializar_barra_progreso_importacion_escrutinio('<%= @job_id %>');
  <% end %>

<% else %>
  $('.js-tabla-importaciones-escrutinio #<%= @importacion_escrutinio.eleccion_id %>').after('<%= escape_javascript(render "importacion_escrutinios/eleccion", eleccion: @importacion_escrutinio.eleccion.decorate, importacion_escrutinio: @importacion_escrutinio) %>');
  $('.js-tabla-importaciones-escrutinio #<%= @importacion_escrutinio.eleccion_id %>').remove();

  $(".progress-bar").css('width', "100%");
  $(".progress-bar span.show").html("100% Completado");

  setTimeout(function() { $(".overlay").remove(); }, 1000);

  crear_flying_alertas(<%= alertas_flash_json %>);
<% end %>
