<div id="js-importacion-escrutinio" data-job-id="<%= @job_id %>">
  <%= render 'barra_progreso_importacion', job_id: @job_id %>

  <div class="col-md-12">
    <h2>Listado de Elecciones</h2>
    <hr/>
  </div>

  <div class="col-md-12 well">
    <%= form_tag({controller: :elecciones, action: :filtrar},{remote: true, class: "form-inline form-horizontal"}) do %>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label>A&ntilde;o</label>
            <%= select_tag "anio", options_for_select(@anios), class: "form-control" %>
          </div>
        </div>
        <div class="col-md-1">
          <%= submit_tag "Filtrar", class: "btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-12 no-padding-right no-padding-left">

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>A&ntilde;o</th>
          <th>Descripci&oacute;n</th>
          <th>Tipo</th>
          <th>Cargos Elegidos</th>
          <th class="text-center">Cantidad Registros</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody class="js-tabla-importaciones-escrutinio">
        <% EleccionDecorator.decorate_collection(@elecciones).each do |eleccion| %>
          <%= render 'eleccion', eleccion: eleccion, importacion_escrutinio: ImportacionEscrutinio.find_by(eleccion_id: eleccion.id) %>
        <% end %>
      </tbody>
    </table>

  </div>

</div>

<%= render 'importar_escrutinio_modal', importacion_escrutinio: @importacion_escrutinio %>