<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <div align="center">
      <h4> <b>DISTRITO CAPITAL FEDERAL <small> <%= Time.now.strftime('%d/%m/%Y')%> </small></b> </h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div align="center">
      <h5> <b>DISTRIBUCION DE CARGOS</b> </h5>
    </div>
  </div>
</div>

<div class="row">
  <div align="center">
    <table>
      <tbody>
        <tr>
          <td style="width: 250px;"> <b>Cargo: <%= cargo.nombre.upcase %></b> </td>
          <td> <b>Zona: 01 - CAPITAL FEDERAL</b> </td>
        </tr>
        <tr>
          <td style="width: 250px;"> <b>Método: D'HONT</b> </td>
          <td> <b>Umbral: <%= fuerza.fuerza_elecciones.eleccion(importacion_escrutinio.eleccion).first.umbral %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cantidad: <%= lista_sugerida_ganadora.count %></b> </td>
        </tr>
      <tbody>
    <table>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <% if importacion_escrutinio.eleccion.paso? %>
      <table class="table table-striped">
        <thead>
          <tr style="border-bottom: 1px;">
            <th class="text-center">Posición</th>
            <th>Candidato</th>
            <th>Lista Nombre</th>
            <th class="text-center">Votos</th>
            <th class="text-center">Divisor</th>
            <th>Cociente</th>
          </tr>
        </thead>
        <tbody>
          <% lista_sugerida_ganadora.each do |candidato_sugerido| %>
            <% unless candidato_sugerido[:candidatura].blank? %>
              <tr>
                <td class="text-center"><%= candidato_sugerido[:posicion] %></td>
                <td><%= candidato_sugerido[:candidatura].persona.nombre_completo %></td>
                <td><%= candidato_sugerido[:lista].nombre %></td>
                <td class="text-center"><%= candidato_sugerido[:total_votos] %></td>
                <td class="text-center"><%= candidato_sugerido[:divisor] %></td>
                <td><%= number_with_precision(candidato_sugerido[:cociente], strip_insignificant_zeros: true, precision: 4, delimiter: '') %></td>
              </tr>
            <% end %>  
          <% end %>
        </tbody>
      </table>

    <% else %>
      <table class="table table-striped">
        <thead>
          <tr style="border-bottom: 1px;">
            <th>Còdigo</th>
            <th>Descripciòn</th>
            <th class="text-center">Votos</th>
            <th class="text-center">Divisor</th>
            <th class="text-center">Cociente</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <% lista_sugerida_ganadora.each_with_index do |candidato_sugerido, index| %>
            <% unless candidato_sugerido[:candidatura].blank? %>
              <tr>
                <td><%= candidato_sugerido[:lista].fuerza.numero %></td>
                <td><%= candidato_sugerido[:lista].fuerza.nombre %></td>
                <td class="text-center"><%= candidato_sugerido[:total_votos] %></td>
                <td class="text-center"><%= candidato_sugerido[:divisor] %></td>
                <td class="text-center"><%= number_with_precision(candidato_sugerido[:cociente], strip_insignificant_zeros: true, precision: 4, delimiter: '') %></td>
                <td> <%= (index <= (cargo.cantidad_minima -1)) ? '1' : '0' %> </td>
              </tr>
            <% end %>  
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>