<div class="row">
  <div class="col-md-12">
    <h2>
      Reparto Cargos Elección: <%= @importacion_escrutinio.eleccion_descripcion %> <small>
      <%= link_to "<i class='glyphicon glyphicon-circle-arrow-left'></i> Volver".html_safe, importacion_escrutinios_path, class: "btn btn-default" %></small>
    </h2>
    <hr>
  </div>
</div>

<div class="row">
  <%= form_tag({controller: "importacion_escrutinios", action: "reparto_cargos"}, method: :get) do %>
    <% if @importacion_escrutinio.eleccion.paso? %>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">Partido / Alianza</span>
          <%= select_tag("fuerza_id", options_for_select(Fuerza.partidos_y_alianzas(@importacion_escrutinio.eleccion).collect{ |f| [f.nombre, f.id] }, params[:fuerza_id]),
                        {class: "form-control select2", prompt: "Seleccione...", onchange: "this.form.submit();", disabled: current_user.apoderado?})%>
        </div>
      </div>
    <% end %>

    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">Cargo</span>
        <%= select_tag("cargo_id", options_for_select((@fuerza.present? ? @importacion_escrutinio.cargos_ganadores_fuerza(@fuerza) : @importacion_escrutinio.eleccion.cargos_seleccionados).collect { |c| [c.nombre, c.id] }, params[:cargo_id]),
                       class: "form-control select2", prompt: "Seleccione...", onchange: "this.form.submit();" )%>
      </div>
    </div>
  <% end %>
</div>

<% if @fuerza.present? && @importacion_escrutinio.eleccion.paso? %>
  <br/><br/>

  <div class="row">
    <div class="col-md-4 col-md-offset-6" align="right">
      <strong>Umbral %</strong>
    </div>
    <div class="col-md-2">
      <%= best_in_place @fuerza_eleccion, :umbral, display_with: -> (umbral) { umbral.to_f.to_s.gsub('.', ',') }, as: :input, class: 'form-control js-umbral-escrutinio', inner_class: 'js-input-umbral-escrutinio' %>
    </div>
  </div>
<% end %>

<br/><br/>

<div class="row">
  <div class="col-md-12">

    <% if @fuerza.present? && @cargo.present? %>
      <% if @importacion_escrutinio.eleccion.paso? %>
        <table class="table table-striped js-tabla-umbral">
          <thead>
            <tr>
              <th>Lista</th>
              <th class="text-center">Votos Obtenidos</th>
              <th class="text-center">Porcentaje (%)</th>
            </tr>
          </thead>
          <tbody>
            <% @importacion_escrutinio.listas_con_totales(@fuerza, @cargo).each do |lista_totales| %>
              <tr data-porcentaje="<%= lista_totales[:porcentaje] %>">
                <td><%= lista_totales[:lista].nombre %></td>
                <td class="text-center"><%= lista_totales[:total_votos] %></td>
                <td class="text-center"><%= number_to_percentage(lista_totales[:porcentaje], precision: 2, strip_insignificant_zeros: true) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <hr/>
      <% end %>

      <table class="table table-striped js-tabla-umbral">
        <thead>
          <tr>
            <th>Posición</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <% if @importacion_escrutinio.eleccion.paso? %>
              <th>Lista</th>
              <th class="text-center">Divisor</th>
              <th class="text-center">Cociente</th>
            <% else %>
              <th>Partido o Alianza</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          
          <% @lista_candidaturas.each do |candidatura| %>
            <% unless candidatura[:candidatura].blank? %>
            <tr class="<%= (candidatura[:candidatura].persona.sexo == 'M') ? 'info' : 'danger' %>">
              <td><%= candidatura[:posicion] %></td>
              <td><%= candidatura[:candidatura].persona.apellidos %></td>
              <td><%= candidatura[:candidatura].persona.nombres %></td>
              <% if @importacion_escrutinio.eleccion.paso? %>
                <td><%= candidatura[:lista].nombre %></td>
                <td class="text-center"><%= candidatura[:divisor] %></td>
                <td class="text-center"><%= number_with_precision(candidatura[:cociente], strip_insignificant_zeros: true, precision: 4, delimiter: '') %></td>
              <% else %>
                <td><%= candidatura[:fuerza].nombre %></td>
              <% end %>
            </tr>
            <% end %>  
          <% end %>
        </tbody>
      </table>

      <div class="row well">
        <div class="col-md-10">
          <div class="pull-right">
            <%= link_to "Imprimir Lista", imprimir_reparto_cargos_importacion_escrutinio_path(@importacion_escrutinio, fuerza_id: @fuerza.try(:id), cargo_id: @cargo.id, format: "pdf"), target: "_blank", class: "btn btn-info", title: 'Imprimir Reparto de Cargos' %>
          </div>
        </div>
        <% if @importacion_escrutinio.eleccion.paso? %>
          <div class="col-md-2">
            <div class="pull-right">
              <%= button_to "Generar Lista", generar_lista_eleccion_general_importacion_escrutinio_path(fuerza_id: @fuerza.id, cargo_id: @cargo.id), class: "btn btn-success", onclick: "$('.loading').show();" %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-info">
        <strong> Debe seleccionar Fuerza y cargo para mostrar los resultados! </strong>
      </div>
    <% end %>

  </div>
</div>
