<div class="row">
  <div class="col-md-12">
    <h2>Resultados Elección: <%= @importacion_escrutinio.eleccion_descripcion %> <small><%= link_to "<i class='glyphicon glyphicon-circle-arrow-left'></i> Volver".html_safe, importacion_escrutinios_path, class: "btn btn-default" %></small></h2>

    <hr>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-12">

    <div class="well">
      <h4>Totalización de votos</h4>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <h5>Cantidad de registros totales: <strong><%= @importacion_escrutinio.cantidad_registros %></strong></h5>
          <h5>Cantidad de votos totales: <strong><%= @importacion_escrutinio.total_votos %></strong></h5>
          <h5>Cantidad de votos positivos: <strong><%= @importacion_escrutinio.votos_positivos.total_votos %></strong></h5>
        </div>

        <div class="col-md-6">
          <h5>Votos en Blanco: <strong><%= @importacion_escrutinio.total_votos_codigo(:blanco) %></strong></h5>
          <h5>Votos en Impugnados: <strong><%= @importacion_escrutinio.total_votos_codigo(:impugnado) %></strong></h5>
          <h5>Votos en Nulos: <strong><%= @importacion_escrutinio.total_votos_codigo(:nulo) %></strong></h5>
          <h5>Votos en Recurridos: <strong><%= @importacion_escrutinio.total_votos_codigo(:recurrido) %></strong></h5>
        </div>
      </div>
    </div>

    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-10 col-md-2">
    <div class="pull-right">
      <label>Umbral (%):</label>
      <%= text_field_tag :umbral, '1,5', class: 'form-control js-input-umbral-escrutinio', disabled: true %>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped js-tabla-umbral">
      <thead>
        <tr>
          <th colspan="2"></th>
          <% @cargos_seleccionados_eleccion.each do |cargo| %>
            <th class="text-center" colspan="3" style="color: #ac1F27;"><%= I18n.t("codigo_cargos_escrutinio.#{cargo.downcase}").upcase %></th>
          <% end %>
        </tr>
        <tr>
          <th>Número</th>
          <th>Partido / Alianza</th>
          <% @cargos_seleccionados_eleccion.each do |cargo| %>
            <th class="text-center">Votos</th>
            <th class="text-center">Positivos (%)</th>
            <th class="text-center">Válidos (%)</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @partidos_con_totales.each_with_index do |partido_con_totales, index| %>
          <tr>
            
            <td><%= partido_con_totales[:partido].numero %></td>
            <td><%= partido_con_totales[:partido].nombre %></td>
            <% @cargos_seleccionados_eleccion.each do |cargo| %>
              <% total_votos_partido = partido_con_totales[:votos_categoria][cargo.downcase.to_sym][:total_votos] %>

              <td class="text-center <%= celda_color_umbral(partido_con_totales[:votos_categoria][cargo.downcase.to_sym][:porcentaje_validos]) %>" style="border-left: 3px solid #b3b3b9;"><%= total_votos_partido %></td>
              <td class="text-center <%= celda_color_umbral(partido_con_totales[:votos_categoria][cargo.downcase.to_sym][:porcentaje_validos]) %>"><%= number_to_percentage(partido_con_totales[:votos_categoria][cargo.downcase.to_sym][:porcentaje_positivos], strip_insignificant_zeros: true) %></td>
              <td class="text-center <%= celda_color_umbral(partido_con_totales[:votos_categoria][cargo.downcase.to_sym][:porcentaje_validos]) %>" style="border-right: 3px solid #b3b3b9;"><%= number_to_percentage(partido_con_totales[:votos_categoria][cargo.downcase.to_sym][:porcentaje_validos], strip_insignificant_zeros: true) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="row">
      <div class="col-md-8">
        <h2> Asociación listas SIEL-Escrutinio </h2>
      </div>

      <div class="col-md-4">
        <div class="pull-right" style="margin-top: 22px;">
          <%= button_to "Calcular Resultados", calcular_resultados_importacion_escrutinio_path(@importacion_escrutinio), class: "btn btn-success", onclick: "$('.loading').show();" %>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6" align="center">
        <h4>Listas SIEL</h4>
      </div>

      <div class="col-md-6" align="center">
        <h4>Listas ESCRUTINIO</h4>
      </div>
    </div>

    <div class="well well-info">
      <% @fuerzas_en_eleccion.each do |fuerza| %>
        <div class="container">
          <h4><strong><%= "#{fuerza.nombre} - #{fuerza.numero}" %></strong></h4>

          <br>

          <% fuerza.listas.por_eleccion(@importacion_escrutinio.eleccion).each do |lista| %>
            <div class="row">
              <div class="col-md-offset-1 col-md-5">
                <p><strong>&bull; <%= lista.nombre %></strong></p>
              </div>

              <div class="col-md-6">
                <%= best_in_place lista, :numero, as: :select, collection: @listas_en_escrutinio.unshift(RenglonEscrutinio.new(codigo_partido: nil, descripcion_partido: "Vacio")).map { |lista_escrutinio| [lista_escrutinio.codigo_partido, "#{lista_escrutinio.codigo_partido} - #{lista_escrutinio.descripcion_partido}"] }, inner_class: "select2", url: asignar_numero_escrutinio_lista_path(lista) %>
              </div>
            </div>

            <br>
          <% end %>

        </div>

        <hr>
      <% end %>
    </div>

    <%= link_to "<i class='glyphicon glyphicon-circle-arrow-left'></i> Volver".html_safe, importacion_escrutinios_path, class: "btn btn-default" %>

  </div>
</div>
