<div class="modal fade" id="BusquedaPersonasModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 50%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar Candidatura</h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-danger" style="display: none;" id="errores_agregar_candidatura">
        </div>
        <%= form_for(persona, html: {id: "buscar_persona_form"}, remote: true, method: :get, url: busqueda_persona_personas_path) do |f| %>
          <div class="row">
            <div class="form-group col-md-3">
              <%= hidden_field_tag :lista_cargo_id, lista_cargo.id %>
              <%= hidden_field_tag :tab, "candidaturas" %>

              <%= f.label :tipo_documento, 'Tipo Documento' %>
              <%= f.select :tipo_documento, options_from_collection_for_select(Persona::DOCUMENTO_TIPOS, :first, :last), {}, {class: 'form-control', id: 'tipo_documento'}  %>
            </div>

            <div class="form-group col-md-3">
              <%= f.label :numero_documento, 'Nro. Documento' %>
              <%= f.text_field :numero_documento, class: "js-input-numero-documento form-control", id: "input_numero_documento", placeholder: "Número" %>
            </div>

            <div class="form-group col-md-3">
              <%= f.label :sexo, 'Sexo' %>
              <%= f.select :sexo, options_from_collection_for_select(PadronApi::GENEROS.to_a.map { |genero| [genero.last, genero.first.capitalize] }, :first, :last), {}, {class: 'form-control selectpicker', id: 'genero'} %>
            </div>

            <div class="form-group col-md-3">
              <br>
              <%= f.submit "Buscar", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>

        <br>

        <div class='js-formulario-persona'>
          <%= render 'persona_form', lista_cargo: lista_cargo, candidatura: candidatura, persona: persona %>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>