<div class="well well-sm well-primary" style="font-size: 16px;">
  <div class="row">
    <div class="col-md-7" style="margin-top: 6px;">
      <strong><%= "#{lista.eleccion_descripcion.mb_chars.upcase} - #{lista.fuerza_nombre.mb_chars.upcase} - #{lista.nombre.mb_chars.upcase}"%></strong>
    </div>

    <div class="col-md-2" style="margin-top: 6px;">
      <div class="pull-right">
        <strong>CARGO:</strong>
      </div>
    </div>

    <div class="col-md-3">
      <%= select_tag("cargo_id", options_for_select(cargos_ganadores.collect { |lc| [lc.cargo_nombre.capitalize.gsub(Cargo::CARGOS[:diputado], 'Legisladores'), lc.id] if lc.cargo_nombre != Cargo::CARGOS[:vicejefe] }.compact, lista_cargo_seleccionado.id), class: "form-control") %>
    </div>
  </div>
</div>
