<%= form_for(candidatura, html: {class: 'js-persona-form', id: "persona-formulario-candidatura"}, remote: true, method: :post, url: candidaturas_path) do |f| %>

  <%= hidden_field_tag :candidatura_id, candidatura.id %>
  <%= hidden_field_tag :persona_id, candidatura.persona.id %>

  <%= f.hidden_field :eleccion_id, value: lista_cargo.eleccion.id %>
  <%= f.hidden_field :cargo_id, value: lista_cargo.cargo_id %>
  <%= f.hidden_field :lista_cargo_id, value: lista_cargo.id %>

  <%= f.fields_for :persona do |pf| %>
    <%= pf.hidden_field :tipo_documento %>
    <%= pf.hidden_field :numero_documento %>
    <%= pf.hidden_field :sexo %>

    <div class="form-group">
      <%= pf.label :nombres, "* Nombres", class: "#{'rojo' if candidatura.persona.persisted? && candidatura.persona.nombres.blank?}" %>
      <%= pf.text_field(:nombres, class: 'mayusc-input form-control', disabled: !candidatura.persona.nombres.blank?, placeholder: 'Nombres') %>
    </div>

    <div class="form-group">
      <%= pf.label :apellidos, "* Apellidos", class: "#{'rojo' if candidatura.persona.persisted? && candidatura.persona.apellidos.blank?}" %>
      <%= pf.text_field(:apellidos, class: 'mayusc-input form-control', disabled: !candidatura.persona.apellidos.blank?, placeholder: 'Apellidos') %>
    </div>

    <div class="form-group">
      <%= pf.label :denominacion, 'Conocido Como' %>
      <%= pf.text_field :denominacion, class: 'mayusc-input form-control', placeholder: 'ej: Alberto "Tito" Gonzalez', value: persona.try(:denominacion), maxlength: 80 %>
    </div>
  <% end %>

  <%= f.submit "Agregar Candidatura", class: "btn btn-primary" %>
<% end %>