<br/>
<div class="row">
  <div class="col-md-12" data-spy="scroll">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-11">
            <h4>
              <%= lista.nombre %> <br/>
              <small> <%= eleccion.descripcion %> - <%= cargo.nombre.gsub(Cargo::CARGOS[:diputado], 'Legisladores') %> </small> <br/>
            </h4>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <%= link_to "Imprimir <i class='glyphicon glyphicon-print'></i>".html_safe, 
                    imprimir_lista_general_listas_generales_lista_cargos_generales_path(lista, lista_cargo, format: 'pdf'), class: "btn btn-sm btn-default",
                    target: '_blank' %>

        <a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="#BusquedaPersonasModal">
          Agregar Candidatura
          <i class='glyphicon glyphicon-arrow-up'></i>
        </a>

        <% if lista_cargo.cargo_nombre != Cargo::CARGOS[:jefe] %>
          <%= link_to "Ordenar por cupo <i class='fa fa-user'></i>".html_safe, sugerir_orden_candidaturas_path(lista_cargo_id: lista_cargo.id), class: "btn btn-sm btn-default", method: :post, remote: true %>
        <% end %>

        <br>
        <br>

        <div class="js-totales-candidatos">
          <div class="row">
            <div class="col-md-7"> TITULARES </div>
            <div class="col-md-5">
              <div class="pull-right">
                <span>Cantidad:</span>
                <b id="contador_titulares"><%= lista_cargo.cargo.cantidad_titulares(lista_cargo.candidaturas.count) %></b>/<%= lista_cargo.cargo_cantidad_minima %>
              </div>
            </div>
          </div>

          <% if lista_cargo.cargo_nombre != Cargo::CARGOS[:jefe] %>
            <hr style="margin: 10px 0px;"/>

            <div class="row">
              <div class="col-md-7"> SUPLENTES </div>
              <div class="col-md-5">
                <div class="pull-right">
                  <span>Cantidad:</span>
                  <b id="contador_suplentes"><%= lista_cargo.cargo.cantidad_suplentes(lista_cargo.candidaturas.count) %></b>/<%= lista_cargo.cargo_cantidad_maxima - lista_cargo.cargo_cantidad_minima %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <br />
        <br />

        <%= lista_cargo.candidaturas.each_slice(lista_cargo.cargo_cantidad_minima).with_index do |listado_candidaturas, index|%>

          <div class="row">
            <div class="col-md-12">
              <h4> <%= (index.zero?) ? 'Titulares' : 'Suplentes'%> </h4>
            </div>
          </div>

          <table class="table table-condensed js-tabla-candidatos" id="tabla_candidaturas_<%=index%>">
            <thead>
              <tr>
                <th class="text-center">N°</th>
                <th class="text-center">DNI</th>
                <th class="text-center">Sexo</th>
                <th class="text-center">Nombre y Apellido</th>
                <th class="text-center">Fecha Nac.</th>
                <th class="text-center">Domicilio</th>
                <th class="text-center">Lista</th>
                <th></th>
              </tr>
            </thead>

            <tbody id="<%= (index.zero?) ? 'titulares' : 'suplentes' %>">

              <% CandidaturaDecorator.decorate_collection(listado_candidaturas).each do |candidatura| %>

                <tr class="accordion-toggle <%= candidatura.color_sexo %> candidatura-row" data-id="<%= candidatura.id %>" data-orden="<%= candidatura.object.orden %>" data-persona-id="<%= candidatura.persona.id %>">
                  <td class="text-center orden"> <%= candidatura.orden %> </td>
                  <th class="text-center" scope="row"><%= candidatura.persona_numero_documento %></th>
                  <td class="text-center"><%= candidatura.persona_sexo %></td>
                  <td class="text-center"><%= candidatura.nombre_completo.try(:upcase) %></td>
                  <td class="text-center"><%= candidatura.persona_fecha_nacimiento.try(:strftime, '%d-%m-%Y') %></td>
                  <td class="text-center"><%= candidatura.persona_domicilio_calle_nombre %></td>
                  <td class="text-center">
                    <%= "#{candidatura.lista_cargo_paso_lista_numero} - #{candidatura.lista_cargo_paso_lista_nombre}" if candidatura.lista_cargo_paso.eleccion_paso? %>
                  </td>
                  <td>
                    <%= button_to candidatura_path(candidatura), method: :delete, data: { confirm: "Está seguro que desea eliminar la candidatura de la Lista?" }, class: 'pull-right boton-icono no-padding-left' do
                      '<i class="glyphicon glyphicon-remove text-danger pull-right" style="margin: 0 3px" data-toggle="tooltip" data-placement="top" title="Eliminar"></i>'.html_safe
                    end %>
                  </td>
                </tr>

              <% end %>

            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= form_for(lista_cargo.candidaturas.first.persona, url: cargar_avatar_personas_path, method: :put, html: { id: 'js-form-avatar', multipart: true }) do |form| %>
  <%= hidden_field_tag :tab, 'candidaturas' %>
  <%= hidden_field_tag :lista_cargo_id, lista_cargo.id %>
  <%= form.hidden_field :id %>
  <%= form.file_field :avatar, class: 'hidden' %>
<% end %>