<% if @persona.errors.empty? %>
  $('#BusquedaPersonasModal').modal('hide');
  $('#errores_agregar_candidatura').hide();
<% else %>
  $('#BusquedaPersonasModal').modal('show');
  $('#errores_agregar_candidatura').html("<ul> <%= @persona.errors.full_messages.collect {|e| "<li>" + e + "</li>"}.join(' ').html_safe %> </ul>")
  $('#errores_agregar_candidatura').show();
<% end %>

$('.js-formulario-persona').html('<%= escape_javascript(render "lista_cargos_generales/persona_form", lista_cargo: @lista_cargo, candidatura: @candidatura, persona: @persona ) %>');

$('#candidaturas').html('<%= escape_javascript(render "lista_cargos_generales/tab_candidaturas", lista: @lista_cargo.lista, eleccion: @eleccion, cargo: @cargo, lista_cargo: @lista_cargo) %>');

inicializar_carga_avatar();
inicializar_sortable();

crear_flying_alertas(<%= alertas_flash_json %>);
