$(".js-modal-ordenamiento-sugerido").modal('toggle');

$('#candidaturas').html('<%= escape_javascript(render "lista_cargos_generales/tab_candidaturas", lista: @lista_cargo.lista, eleccion: @lista_cargo.eleccion, cargo: @lista_cargo.cargo, lista_cargo: @lista_cargo) %>');

inicializar_carga_avatar();
inicializar_sortable();

crear_flying_alertas(<%= alertas_flash_json %>);
