<% unless @persona.extranjero? %>
  $('.js-formulario-persona').html('<%= escape_javascript(render "lista_cargos_generales/persona_form", lista_cargo: @lista_cargo, candidatura: @objeto, persona: @persona ) %>');
<% end %>

crear_flying_alertas(<%= alertas_flash_json %>);
