<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <div align="center">
      <h2> <b>TITULARES</b> </h2>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered" border="1">
      <thead>
        <tr>
          <th>Nº Orden</th>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th>DNI, LE o LC</th>
          <th>Sexo</th>
        </tr>
      </thead>
      <tbody>
        <% lista_cargo.candidaturas.each do |candidatura| %>
          <tr>
            <td class="text-center"> <%= candidatura.orden %> </td>
            <td class="text-center"> <%= candidatura.persona_nombres %> </td>
            <td class="text-center"> <%= candidatura.persona_apellidos %> </td>
            <td class="text-center"> <%= candidatura.persona_numero_documento %> </td>
            <td class="text-center"> <%= candidatura.persona_sexo %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>