<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Nomina de Diputados por Partido/Alianza
        <%= link_to listas_generales_index_path(eleccion_id: @eleccion.id, fuerza_id: @fuerza.id), class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-circle-arrow-left"></i>
          Ir a Listas de Candidaturas
        <% end %>
      </h1>
    </div>
  </div>
</div>


<div class="header-lista">
  <%= render 'header', lista: @lista, cargos_ganadores: @cargos_ganadores, lista_cargo_seleccionado: @lista_cargo %>
</div>

<div class="row">
  <div class="col-md-12">

    <ul class="nav nav-tabs" role="tablist">
      <li class="active" role="presentation">
        <a id="boton-tab-candidaturas" data-toggle="tab" role="tab" href="#candidaturas"> <b>CANDIDATURAS</b> </a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="candidaturas" class="tab-pane fade active in">
        <%= render 'tab_candidaturas', lista: @lista, eleccion: @eleccion, cargo: @cargo, lista_cargo: @lista_cargo %>
      </div>
    </div>
  </div>
</div>

<%= render 'busqueda_persona_modal', persona: @persona, lista_cargo: @lista_cargo, candidatura: @candidatura %>

<div class="js-tabla-ordenamiento-sugerido">
  <div class="modal fade js-modal-ordenamiento-sugerido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 80%;"></div>
  </div>
</div>