<% if !@mantiene_ordenamiento %>
  $(".js-tabla-ordenamiento-sugerido .modal-dialog").html("<%= escape_javascript(render(partial: 'lista_cargos/modals/tabla_comparativa', locals: { lista_cargo: @lista_cargo, ordenadas: @ordenadas, originales: @originales })) %>");
  limpiar_flying_alerts();
  swal({
    title: 'Hay conflictos con el cupo',
    text: 'La lista NO cumple con el cupo. Revisar ordenamiento o hacer click en el botón para ver la sugerencia del sistema',
    type: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Ver sugerencia',
    cancelButtonText: 'Cancelar',
    confirmButtonClass: 'btn btn-success',
    cancelButtonClass: 'btn btn-danger',
    buttonsStyling: false
  }).then(function() {
    $(".js-modal-ordenamiento-sugerido").modal('toggle');
  });
<% else %>
  crear_flying_alertas(<%= alertas_flash_json %>);
<% end %>
