<%= form_for(@renglon_padron) do |f| %>
  <% if @renglon_padron.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@renglon_padron.errors.count, "error") %> prohibited this renglon_padron from being saved:</h2>

      <ul>
      <% @renglon_padron.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :padron %><br />
    <%= f.text_field :padron %>
  </div>
  <div class="field">
    <%= f.label :matricula %><br />
    <%= f.text_field :matricula %>
  </div>
  <div class="field">
    <%= f.label :clase %><br />
    <%= f.text_field :clase %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :profesion %><br />
    <%= f.text_field :profesion %>
  </div>
  <div class="field">
    <%= f.label :domicilio %><br />
    <%= f.text_field :domicilio %>
  </div>
  <div class="field">
    <%= f.label :analfabeto %><br />
    <%= f.text_field :analfabeto %>
  </div>
  <div class="field">
    <%= f.label :tipo_documento %><br />
    <%= f.text_field :tipo_documento %>
  </div>
  <div class="field">
    <%= f.label :seccion %><br />
    <%= f.text_field :seccion %>
  </div>
  <div class="field">
    <%= f.label :circuito %><br />
    <%= f.text_field :circuito %>
  </div>
  <div class="field">
    <%= f.label :mesa %><br />
    <%= f.text_field :mesa %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br />
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :desfor %><br />
    <%= f.text_field :desfor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
