<tr>
	<td><%= renglon_padron.clase %></td>
	<td><%= renglon_padron.apellido %></td>
	<td><%= renglon_padron.nombre %></td>
	<td><%= renglon_padron.profesion %></td>
	<td><%= renglon_padron.domicilio %></td>
	<td><%= renglon_padron.analfabeto %></td>
	<td><%= renglon_padron.tipo_documento %></td>
	<td><%= renglon_padron.seccion %></td>
	<td><%= renglon_padron.circuito %></td>
	<td><%= renglon_padron.mesa %></td>
	<td><%= renglon_padron.sexo %></td>
	<td><%= renglon_padron.matricula %></td>
</tr>
