
<div class="row">
    <div class="col-md-12">
        <%= titulo_con_linea "B&uacute;squeda del Padr&oacute;n Electoral" %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <%= form_tag({action: :index}, {class: 'form-search well', method: 'get'}) do %>
            <div class="row">
                <label class="col-md-1 col-lg-1">Matr&iacute;cula</label>
                <div class="col-md-4 col-lg-2">
                    <%= text_field_tag "filtro[matricula]", params[:filtro].try(:[], :matricula), class: 'form-control' %>&nbsp;&nbsp;
                </div>

                <label class="col-md-1 col-lg-1">Nombre</label> 
                <div class="col-md-6 col-lg-2">
                    <%= text_field_tag "filtro[nombre]", params[:filtro].try(:[], :nombre), class: 'form-control' %>&nbsp;&nbsp;
                </div>

                <label class="col-md-1 col-lg-1">Apellido</label>
                <div class="col-md-6 col-lg-2">
                    <%= text_field_tag "filtro[apellido]", params[:filtro].try(:[], :apellido), class: 'form-control' %>
                </div>
                <div class="col-md-5 col-lg-3">
                    <%= submit_tag 'Buscar', class: 'btn btn-default' %>
                    <!-- <%= link_to "<i class='glyphicon glyphicon-search'></i> Buscar".html_safe, '#', class: 'btn btn-default', id: 'link_search_padron' %> -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <em class="pull-right">Cantidad de registros encontrados: <strong><%= @renglones_padron.size %></strong></em>
                </div>
            </div>
        <% end %>

    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <table class="table table-hover table-striped">
            <thead>
                <th>Clase</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Profesi&oacute;n</th>
                <th>Domicilio</th>
                <th>Analfabeto</th>
                <th>Tipo Documento</th>
                <th>Secci&oacute;n</th>
                <th>Circuito</th>
                <th>Mesa</th>
                <th>Sexo</th>
                <th>Matr&iacute;cula</th>
            </thead>
            <tbody id="tbody_renglones_padron">
                <%= render @renglones_padron %>
            </tbody>
            <tfoot>
                <tr class="well">
                    <td colspan="12"><em>Cantidad de registros encontrados: <strong><%= @renglones_padron_sin_paginar.count %></strong></em></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-center" id="js_paginador">
          <%= paginate @renglones_padron if params[:filtro].present? %>
        </div>
    </div>
</div>
<script>
    $('#criterio').focus();
</script>
