<p id="notice"><%= notice %></p>

<p>
  <b>Padron:</b>
  <%= @renglon_padron.padron %>
</p>

<p>
  <b>Matricula:</b>
  <%= @renglon_padron.matricula %>
</p>

<p>
  <b>Clase:</b>
  <%= @renglon_padron.clase %>
</p>

<p>
  <b>Apellido:</b>
  <%= @renglon_padron.apellido %>
</p>

<p>
  <b>Nombre:</b>
  <%= @renglon_padron.nombre %>
</p>

<p>
  <b>Profesion:</b>
  <%= @renglon_padron.profesion %>
</p>

<p>
  <b>Domicilio:</b>
  <%= @renglon_padron.domicilio %>
</p>

<p>
  <b>Analfabeto:</b>
  <%= @renglon_padron.analfabeto %>
</p>

<p>
  <b>Tipo documento:</b>
  <%= @renglon_padron.tipo_documento %>
</p>

<p>
  <b>Seccion:</b>
  <%= @renglon_padron.seccion %>
</p>

<p>
  <b>Circuito:</b>
  <%= @renglon_padron.circuito %>
</p>

<p>
  <b>Mesa:</b>
  <%= @renglon_padron.mesa %>
</p>

<p>
  <b>Sexo:</b>
  <%= @renglon_padron.sexo %>
</p>

<p>
  <b>Desfor:</b>
  <%= @renglon_padron.desfor %>
</p>


<%= link_to 'Edit', edit_renglon_padron_path(@renglon_padron) %> |
<%= link_to 'Back', renglones_padron_path %>
