
<div class="row">
  <div class="col-md-12">
    <%= titulo_con_linea "Reparto de Cargos para las elecciones '#{@eleccion_cargo.eleccion.descripcion}'" %>

    <% unless @eleccion_cargo.eleccion.resultados_completos? %>   
        <div class="alert">
          <strong>Advertencia</strong> - <%= t('messages.eleccion_sin_resultados_completos') %>
        </div>
      <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <% @cargos.each do |c| %>
        <li class="<%= (@eleccion_cargo.cargo_id == c.id) ? 'active': '' %>">
                <a href="#"><%= c.nombre %></a> 
              </li>
      <% end %>
        </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
      <thead>
              <tr>
                  <th colspan="2" width="75%">Partido o Alianza</th>
                  <th>Votos</th>
                  <th>Adjudicados</th>
              </tr>
            </thead>
            <tbody>
              <% @fuerzas.each do |f| %>
                <tr>
                    <td><%= f.numero %></td>
                    <td><%= f.nombre %></td>
                    <td><%= f.cantidad_votos(@eleccion_cargo) %></td>
                    <td><%= f.cantidad_escanios_adjudicados(@eleccion_cargo) %></td>
                </tr>
              <% end %>
            </tbody>
        </table>

  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
            <thead>
              <tr>
                  <th>Orden</th>
                  <th>Apellido</th>
                  <th>Nombre</th>
                  <th>Partido o Alianza</th>
                  <th>Lista</th>
          <th>Votos</th>
          <th>Divisor</th>
          <th>Cociente</th>
          <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <% @candidaturas.each do |c| %>
                <tr>
                    <td><%= c.orden %></td>
                    <td><%= c.persona.apellidos %></td>
                    <td><%= c.persona.nombres %></td>
                    <td><%= c.fuerza.nombre %></td>
                    <td><%= c.fuerza.numero %></td>
                    <td><%= c.fuerza.cantidad_votos(@eleccion_cargo) %></td>
                    <td><%= c.divisor %></td>
                    <td style="text-align: right;"><%= number_with_precision(c.cociente, precision: 4, separator: ',', delimiter: '.') %></td>
                    <td>1</td>
                </tr>
              <% end %>
            </tbody>
    </table>

  </div>
</div>
<div class="row well">
  <div class="col-md-5">
    <%= boton 'arrow-left', 'Volver al Listado', repartos_elecciones_path, '' %>
    <%= boton('pencil', 'Editar', cargar_reparto_eleccion_path(@eleccion_cargo.eleccion), 'btn-primary', method: :post) %>
  </div>
  <div class="col-md-7 right">
    <%= boton('list-alt', 'ANEXO II', reparto_anexo_2_2009_eleccion_path(@eleccion_cargo.eleccion, format: :pdf), 'btn-success') %>
    <%= boton('list-alt', 'ANEXO III', reparto_anexo_3_2009_eleccion_path(@eleccion_cargo.eleccion, format: :pdf), 'btn-success') %>
    <%= boton('list-alt', 'ANEXO IV', reparto_anexo_4_2009_eleccion_path(@eleccion_cargo.eleccion, format: :pdf), 'btn-success') %>
    <%= boton('list-alt', 'ANEXO V', reparto_anexo_5_2009_eleccion_path(@eleccion_cargo.eleccion, format: :pdf), 'btn-success') %>
  </div>
</div>
