<%= paginator.render do -%>
  <ul class="pagination">
    <%= first_page_tag %>
    <%= prev_page_tag %>
    <% each_page do |page| -%>
      <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
        <%= page_tag page %>
      <% end -%>
    <% end -%>
    <%= next_page_tag %>
    <%= last_page_tag %>
  </ul>
<% end -%>
