<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Consulta de Reincidencia</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <%= form_tag({controller: "antecedentes_penales", action: "index"}, method: :get, remote: true) do %>
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1">Agrupación Política</span>
            <%= select_tag("fuerza_id", options_for_select(@fuerzas.collect{ |f| [f.nombre, f.id] }, @fuerza.try(:id)),
                           {class: "form-control select2", prompt: "Seleccione...", onchange: "$('#select_lista_antecedentes_penales').empty() ;this.form.submit();", disabled: current_user.externo?})%>
          </div>
        </div>

        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1">Lista</span>
            <%= select_tag("lista_id", options_for_select(@fuerza.present? ? Lista.por_fuerza(@fuerza).por_eleccion(@eleccion).collect { |l| [l.nombre, l.id] } : [], @lista.try(:id)),
                           class: "form-control select2", prompt: "Seleccione...", onchange: "this.form.submit();", disabled: current_user.lista_partidaria?, id: 'select_lista_antecedentes_penales' )%>
          </div>
        </div>
      <% end %>
    </div>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <% if @fuerza.blank? || @lista.blank? %>
      <div class="alert alert-info" role="alert">
        Debe seleccionar un partido y una lista
      </div>
    <% else %>
      <% if @antecedentes_penales.empty? %>
        <div class="alert alert-info" role="alert">
          No hay consultas de antecedentes penales cargadas en el sistema.
        </div>
      <% else %>
        <div class="row">
          <div class="pull-right">
            <%= link_to "Actualizar", antecedentes_penales_index_path(fuerza_id: @fuerza.id, lista_id: @lista.id), class: 'btn btn-primary' %>
          </div>
        </div>
        <br/><br/>
        <table id="lista_antecedentes_penales" class="table table-striped table-condensed">
          <thead>
            <tr>
              <th style="text-align: center;"> Orden </th>
              <th> Nombre </th>
              <th> Nro. Documento </th>
              <th style="text-align: center;"> Tipo Documento </th>
              <th style="text-align: center;"> Sexo </th>
              <th> Estado </th>
              <th> Inicio Trámite </th>
              <th> Ultima Consulta </th>
              <th> Acciones </th>
            </tr>
          </thead>

          <tbody>
            <% @antecedentes_penales.each_with_index do |antecedente_penal, index| %>
              <tr>
                <td style="text-align: center;"> <%= (index > 29) ?  "Suplente #{(index + 1) - 30}" : index + 1 %> </td>
                <td> <%= antecedente_penal.persona.nombre_completo %> </td>
                <td> <%= antecedente_penal.persona.numero_documento %> </td>
                <td style="text-align: center;"> <%= antecedente_penal.persona.tipo_documento %> </td>
                <td style="text-align: center;"> <%= antecedente_penal.persona.sexo %> </td>
                <td>
                  <% if (antecedente_penal.estado_en_proceso? && !antecedente_penal.resultado.blank?) || antecedente_penal.estado_error_solicitud? %>
                    <span class="label label-<%= label_estado_antecedente_penal(antecedente_penal)%>" data-toggle="popover" data-html="true" data-placement="top" data-content="<%= antecedente_penal.resultado %>" title="Observación">
                  <% else %>
                    <span class="label label-<%= label_estado_antecedente_penal(antecedente_penal)%>">
                  <% end %>
                   <%= antecedente_penal.estado.to_s.gsub('_', ' ').camelize %>
                  </span>
                </td>
                <td> <%= antecedente_penal.fecha_inicio_solicitud.try(:strftime, '%d-%m-%Y %H:%M') %> </td>
                <td> <%= antecedente_penal.fecha_ultima_consulta.try(:strftime, '%d-%m-%Y %H:%M') %> </td>
                <td>
                  <% if antecedente_penal.estado_finalizado? && !antecedente_penal.archivo_pdf.blank?%>
                    <%= link_to "Descargar Certificado".html_safe, descargar_antecedente_penal_pdf_antecedentes_penales_path(antecedente_penal), class: 'btn btn-primary', targuet: '_blank' %>
                  <% elsif antecedente_penal.estado_no_solicitado? %>
                    <%= button_to 'Solicitar', enviar_solicitud_antecedentes_penales_path(id: antecedente_penal.id, fuerza_id: @fuerza.id, lista_id: @lista.id), class: 'btn btn-info' %>
                  <% else %>
                    <%= link_to 'Solicitado', 'javascript:;', class: 'btn btn-default', disabled: true %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    inicializar_popover();
  });
</script>