
<tr>
	<td><%=l candidatura.eleccion_fecha %></td>
	<td nowrap><%= descripcion_cargo(candidatura) %></td>
	<td><%= candidatura.fuerza_tipo %></td>
	<td><%= candidatura.fuerza_nombre %></td>
	<td>
		<% if candidatura.fecha_renuncia.nil? and candidatura.oficializada? %>
			<%= form_for(candidatura, remote: true, html: {class: 'form-inline', id: "form_renuncia_#{candidatura.id}"}) do |f| %>
				<%= f.text_field :fecha_renuncia, class: 'js-fecha-mascara datepicker', placeholder: 'DD/MM/YYYY', id: "fecha_renuncia_#{candidatura.id}" %>
				<%= link_to "<i class='glyphicon glyphicon-ban-circle'></i> Renunciar".html_safe, "#", class: 'btn btn-danger', onclick: "renunciar(#{candidatura.id});" %>
			<% end %>
		<% else %>
			<%= l(candidatura.fecha_renuncia.to_date) if candidatura.fecha_renuncia.present? %>
		<% end %>
	</td>
	<td nowrap><%= link_to "<i class='glyphicon glyphicon-file'></i> Generar Constancia".html_safe, candidatura_path(candidatura, format: 'pdf'), class: 'btn btn-info' %></td>
</tr>
