
<div class="row">
	<div class="page-header">
		<h3>
			Editando Persona
		</h3>
	</div>
</div>

<%= form_for(@persona, html: {multipart: true, class: 'form-horizontal', id: 'form_persona'}) do |f| %>

	<%= render "shared/error_messages", :target => @persona %>

	<div class="row">
		<div class="col-xs-4">
			<div class="form-group">
				<%= f.label :apellidos, 'Apellidos', class: 'control-label' %>
				<div class="controls"><%= f.text_field :apellidos, class: 'form-control' %></div>
			</div>
		</div>
		<div class="col-xs-offset-1 col-xs-4">
			<div class="form-group">
				<%= f.label :numero_documento, 'DNI', class: 'control-label' %>
				<div class="controls"><%= f.text_field :numero_documento, class: 'form-control' %></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<div class="form-group">
				<%= f.label :nombres, class: 'control-label' %>
				<div class="controls"><%= f.text_field :nombres, class: 'form-control' %></div>
			</div>
		</div>
		<div class="col-xs-offset-1 col-xs-4">
			<div class="form-group">
				<%= f.label :sexo, class: 'control-label' %>
				<div class="controls"><%= f.select :sexo, [['Masculino', 'M'], ['Femenino', 'F']], {}, {class: 'form-control'} %></div>
			</div>
		</div>
	</div>
	<%= fields_for(@persona.domicilio) do |df| %>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label class="control-label">Domicilio Constitu&iacute;do</label>

					<div class="controls">
						<%= render partial: 'domicilios/form', locals: {f: df} %>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
					<%= df.label :fecha, 'Fecha de Domicilio', class: 'control-label' %>
					<div class="controls"><%= df.text_field :fecha, value: (df.object.fecha.nil?)? nil: l(df.object.fecha), class: 'js-fecha-mascara form-control datepicker' %></div>
				</div>
			</div>
			<div class="col-xs-offset-1 col-xs-4">
				<div class="form-group">
					<%= f.label :lugar_nacimiento, 'Lugar de Nacimiento', class: 'control-label' %>
					<div class="controls"><%= f.text_field :lugar_nacimiento, class: 'form-control' %></div>
				</div>
			</div>
		</div>
	<% end %>
	<div class="row">
		<div class="col-xs-4">

			<div class="form-group">
				<%= f.label :nombre_padre, 'Nombre del Padre', class: 'control-label' %>
				<div class="controls"><%= f.text_field :nombre_padre, class: 'form-control' %></div>
			</div>
			<div class="form-group">
				<%= f.label :nombre_madre, 'Nombre de la Madre', class: 'control-label' %>
				<div class="controls"><%= f.text_field :nombre_madre, class: 'form-control' %></div>
			</div>
		</div>
		<div class="col-xs-offset-1 col-xs-4">
			<div class="form-group">
				<%= f.label :fecha_nacimiento, 'Fecha de Nacimiento', class: 'control-label' %>
				<div class="controls"><%= f.text_field :fecha_nacimiento, value: (@persona.fecha_nacimiento.nil?)? nil: l(@persona.fecha_nacimiento), class: 'js-fecha-mascara form-control datepicker' %></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4>Candidaturas</h4>
			<hr/>

			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th width="1%" nowrap>Fecha Elecci&oacute;n</th>
						<th width="1%" nowrap>Cargo</th>
						<th>Tipo</th>
						<th>Agrupación Pol&iacute;tica</th>
						<th width="21%">Fecha Renuncia</th>
						<th width="1%" nowrap>Aceptaci&oacute;n Candidatura</th>
					</tr>
				</thead>
				<tbody id="candidaturas_tbody">
					<%= render(partial: 'candidatura_persona', collection: @persona.candidaturas, as: 'candidatura') %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">

			<h4>Archivos Adjuntos</h4>
			<hr/>

			<%= f.fields_for :archivos_persona do |b| %>
				<%= render "archivo_persona_fields", f: b %>
			<% end %>
			<label><%= link_to_add_fields "<i class='glyphicon glyphicon-plus'></i> Agregar Archivo".html_safe, f, :archivos_persona %></label>

		</div>
	</div>
<% end %>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="form-actions">
			<%= link_to "<i class='glyphicon glyphicon-ok'></i> Grabar".html_safe, '#', class: 'btn btn-primary', id: 'grabar_persona' %>
			<%= back_button %>
		</div>
	</div>
</div>
