<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Configuraciones del Sistema</h1>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-3 control-label">Renaper API</label>
        <div class="col-sm-3">
          <%= best_in_place @configuracion, :habilitar_renaper_api, as: :select, collection: [[true, 'Habilitada'], [false, 'Deshabilitada']], classes: 'form-control', inner_class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Antiguedad Registro Candidaturas</label>
        <div class="col-sm-3">
          <%= best_in_place @configuracion, :antiguedad_registro_candidaturas, as: :input, classes: 'form-control', inner_class: 'form-control' %>
        </div>
        <p class="help-block">Años</p>
      </div>
      
    </form>
  </div>
</div>