<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filtros</h3>
  </div>
  <div class="panel-body">
    <%= form_for filtro_usuarios, url: usuarios_path, method: "get", html: {class: "form-inline", role: "form"} do |f| %>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.text_field :nombre_usuario, class: 'form-control', placeholder: 'Nombre de Usuario' %>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <%= f.select :eleccion_id, options_for_select(Eleccion.por_tipo(Eleccion::TIPOS[:paso]).collect {|el| [el.descripcion, el.id]}, filtro_usuarios.eleccion_id), {}, class: 'form-control', disabled: current_user.apoderado? %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= f.select :fuerza_id, options_for_select(Fuerza.partidos_y_alianzas(Eleccion.find(f.object.eleccion_id)).collect {|fuerza| [fuerza.nombre, fuerza.id]}, filtro_usuarios.fuerza_id), {include_blank: "Seleccione Agrupación..."}, class: 'select2 form-control', style: 'width: 250px !important;', disabled: current_user.apoderado? %>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <%= f.select :perfil, options_for_select(Usuario.perfiles_permitidos.values.collect {|perfil| [I18n.t("perfiles_usuario.#{perfil}"), perfil]}, filtro_usuarios.perfil), {include_blank: "Seleccione Perfil..."}, class: 'form-control', disabled: current_user.apoderado? %>
          </div>
        </div>


        <div class="col-md-3">
          <div class="pull-right">
            <%= link_to "Borrar Filtro", usuarios_path(borrar_filtros: true), :class => "btn"%>

            <%= button_tag(type: "submit", class: "btn btn-info") do %>
              Buscar <i class='glyphicon glyphicon-search'></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
