
<%= form_for(@usuario, html: {class: 'form-horizontal', id: 'form_usuario'}) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for(:usuarios_fuerzas) do |fu| %>
    <div class="form-group">
      <%= fu.label :fuerza_id, 'Partido / Alianza', class: 'col-xs-3 col-sm-2 control-label' %>
      <div class="controls col-xs-8 col-sm-6 col-md-3">
        <%= fu.select :fuerza_id, options_from_collection_for_select(@fuerzas, :id, :nombre, fu.object.fuerza_id), {}, {class: 'form-control'} %>
      </div>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :email, 'e-mail', class: 'col-xs-3 col-sm-2 control-label' %>
    <div class="controls col-xs-8 col-sm-6 col-md-3">
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nombre_usuario, 'Nombre de Usuario', class: 'col-xs-3 col-sm-2 control-label' %>
    <div class="controls col-xs-8 col-sm-6 col-md-3">
      <%= f.text_field :nombre_usuario, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "habilitado", "Usuario Habilitado", class: "control-label col-md-3" %>
    <div class="col-md-3">
      <%= f.check_box :habilitado, class: 'form-control', id: 'usuario_habilitado', 'data-toggle': 'toggle' %>
    </div>
  </div>
  <br>
  <div class="form-actions col-xs-offset-2">
    <%= boton('ok', 'Grabar', '#', 'btn-primary', id: 'link_grabar_usuario') %>
    <%= back_button %>
  </div>
<% end %>
