<div class="form-group">
  <label class='col-xs-3 col-sm-2 control-label'>Lista</label>
  <div class="controls col-xs-8 col-sm-6 col-md-4">
    <%= select_tag "usuario[lista_id]", options_from_collection_for_select(@listas, :id, :nombre, @usuario.try(:lista_id)), class: 'select2 form-control' %>
  </div>
</div>
