<%= form_for(usuario, html: {class: 'form-horizontal', id: 'form_usuario'}) do |f| %>
  <%= f.hidden_field :id %>

  <div class="form-group">
    <%= f.label :eleccion_id, 'Eleccion', class: 'col-xs-3 col-sm-2 control-label' %>
    <div class="controls col-xs-8 col-sm-6 col-md-4">
      <%= f.select :eleccion_id, options_from_collection_for_select(elecciones, :id, :descripcion, (usuario.eleccion_id || eleccion.id)), {}, {class: "js-select-eleccion form-control", disabled: cannot?(:asignar_eleccion, Usuario)} %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :perfiles, 'Perfil', class: 'col-xs-3 col-sm-2 control-label' %>
    <div class="controls col-xs-8 col-sm-6 col-md-4">
      <%= f.select :perfiles, options_for_select(perfiles.collect {|perfil| [I18n.t("perfiles_usuario.#{perfil.second}"), perfil.second]}, (usuario.perfiles.present? ? usuario.perfiles : (current_user.apoderado? ? 'lista_partidaria' : 'apoderado'))), {}, {class: "form-control", disabled: cannot?(:asignar_rol, Usuario)} %>
    </div>
  </div>

  <%= f.fields_for(:usuarios_fuerzas) do |fu| %>
    <%= fu.hidden_field :id %>
    <div class="form-group">
      <%= fu.label :fuerza_id, 'Partido / Alianza', class: 'col-xs-3 col-sm-2 control-label' %>
      <div class="controls col-xs-8 col-sm-6 col-md-4">
        <%= fu.select :fuerza_id, options_from_collection_for_select(fuerzas, :id, :nombre, fu.object.fuerza_id), {}, {class: "js-select-fuerza select2 form-control", disabled: cannot?(:asignar_fuerza, Usuario)} %>
      </div>
    </div>
  <% end %>

  <% if current_user.apoderado? || usuario.lista_partidaria? %>
    <div id="js-select-lista">
      <%= render 'select_lista', f: f %>
    </div>
  <% else %>
    <div id="js-select-lista">
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, 'e-mail', class: 'col-xs-3 col-sm-2 control-label' %>
    <div class="controls col-xs-8 col-sm-6 col-md-4">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nombre_usuario, 'Nombre de Usuario', class: 'col-xs-3 col-sm-2 control-label' %>
    <div class="controls col-xs-8 col-sm-6 col-md-4">
      <%= f.text_field :nombre_usuario, autocomplete: :off, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "habilitado", "Usuario Habilitado", class: "col-xs-3 col-sm-2 control-label" %>
    <div class="col-md-3">
      <%= f.check_box :habilitado, class: 'form-control', id: 'usuario_habilitado', 'data-toggle': 'toggle' %>
    </div>
  </div>

  <% unless usuario.persisted? %>
    <div class="form-group">
      <%= f.label :password, 'Contraseña', class: 'col-xs-3 col-sm-2 control-label' %>
      <div class="controls col-xs-8 col-sm-6 col-md-4">
        <%= f.password_field :password, autocomplete: :off, class: 'form-control', minlength: '6' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirmar Contraseña', class: 'col-xs-3 col-sm-2 control-label' %>
      <div class="controls col-xs-8 col-sm-6 col-md-4">
        <%= f.password_field :password_confirmation, autocomplete: :off, class: 'form-control', minlength: '6' %>
      </div>
    </div>
  <% end %>
  <br>
  <div class="form-actions col-xs-offset-2">
    <%= link_to "<i class='glyphicon glyphicon-ok'></i> Grabar".html_safe, '#', class: 'btn btn-primary', id: 'link_grabar_usuario' %>
    <%= back_button %>
  </div>
<% end %>