
<tr>
	<td><%= usuario.nombre_usuario %></td>
	<td><%= usuario.email %></td>
	<td><%= usuario.usuarios_fuerzas.first.fuerza.nombre unless usuario.usuarios_fuerzas.empty? %></td>
  <td><%= usuario.perfiles.strip.gsub('apoderado', 'junta_electoral') %></td>
	<td nowrap>
    <% if can?(:manage, Usuario) %>
  		<%= boton('adjust', 'Blanquear Contraseña', blanqueo_clave_usuario_path(usuario), '', data: { confirm: "¿Está seguro que desea blanquear la contraseña de #{usuario.nombre_usuario}?" }, method: :put) %>
  		<%= boton('pencil', 'Editar', edit_usuario_path(usuario)) %>
  		<%= boton('remove', 'Borrar', usuario, 'btn-danger', method: :delete, data: { confirm: '¿Está seguro?' }) %>
    <% end %>
	</td>
</tr>
