<div class="row">
	<div class="col-md-12">
		<h3>Cambiar Contraseña</h3>
		<hr/>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<%= form_for(@usuario, url: usuario_cambiar_contrasenia_path, method: :post, html: {class: 'form-horizontal', id: 'form_usuario'}) do |f| %>
			<div class="form-group">
				<%= f.label :old_password, 'Contraseña Actual', class: 'col-xs-3 col-sm-2 control-label' %>
				<div class="controls col-xs-8 col-sm-6 col-md-4">
					<%= f.password_field :old_password, autocomplete: :off, class: 'form-control', required: true %>
					<p class="rojo"><%= @usuario.errors[:wrong_password].try(:first) %></p>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :new_password, 'Nueva Contraseña', class: 'col-xs-3 col-sm-2 control-label' %>
				<div class="controls col-xs-8 col-sm-6 col-md-4">
					<%= f.password_field :new_password, autocomplete: :off, class: 'form-control', required: true %>
					<em>* La contraseña tiene que tener un mínimo de 6 caracteres</em>
					<p class="rojo"><%= @usuario.errors[:password_validations].try(:first) %></p>
				</div>
			</div>
			<br>
			<div class="form-actions col-xs-offset-2">
				<%= link_to "<i class='glyphicon glyphicon-ok'></i> Grabar".html_safe, '#', class: 'btn btn-primary', id: 'link_grabar_usuario' %>
				<%= back_button %>
			</div>
		<% end %>

	</div>
</div>
