<div class="row">
  <div class="col-md-12">
    <h3>Editar Usuario</h3>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <%= render 'usuario_form', usuario: @usuario, elecciones: @elecciones, eleccion: @eleccion, perfiles: @perfiles, fuerzas: @fuerzas %>
  </div>
</div>
