<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><%= current_user.interno? ? 'Usuarios Externos' : 'Usuarios Apoderados de Lista' %></h1>
    </div>
  </div>
</div>

<%= render 'filters', filtro_usuarios: @filtro_usuarios %>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <% if can?(:create, Usuario) %>
        <%= link_to "Crear Usuario <i class='fa fa-plus'></i>".html_safe, new_usuario_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nombre de Usuario</th>
          <th>e-mail</th>
          <th>Partido / Alianza</th>
          <th>Perfil</th>
          <th width="1%"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @usuarios %>
      </tbody>
    </table>

    <div class="text-center">
      <%= paginate @usuarios unless @usuarios.empty? %>
    </div>
  </div>
</div>
