<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Nombre usuario:</b>
  <%= @usuario.nombre_usuario %>
</p>

<p>
  <b>Password digest:</b>
  <%= @usuario.password_digest %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
