<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filtros</h3>
  </div>

  <div class="panel-body">
    <%= form_for @filtro_registro_candidaturas, url: registro_candidaturas_path, method: "get", html: {class: "form-inline", role: "form"} do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.text_field :numero_documento, placeholder: "Número documento", class: "form-control", pattern: '[0-9]*' %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= f.text_field :anio_candidatura, placeholder: "Año candidatura", class: "form-control", pattern: '[0-9]*' %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="pull-right">
            <%= link_to "Borrar Filtro", registro_candidaturas_path , :class => "btn"%>

            <%= button_tag(type: "submit", class: "btn btn-info") do %>
              Buscar <i class='glyphicon glyphicon-search'></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
