<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Listado Registros de Candidaturas</h1>
    </div>
  </div>
</div>

<%= render partial: 'filters' %>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to "Borrar Registros de Candidaturas <i class='fa fa-minus-circle'></i>".html_safe, 'javascript:;',
                  class: 'btn btn-danger', onclick: "borrarRegistrosCandidatura();" %>
      <%= link_to "Cargar Registros de Candidaturas <i class='fa fa-plus'></i>".html_safe, new_registro_candidatura_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">

    <% if @registro_candidaturas.empty? %>
      <div class="alert alert-info" role="alert">
        No hay registro de candidaturas cargadas en el sistema.
      </div>
    <% else %>
      <table id="lista_registro_candidaturas" class="table table-striped table-condensed">
        <thead>
          <tr>
            <th> Nro. </th>
            <th> <input name="borrar_registros_candidaturas" id="borrar_registros_candidaturas" type="checkbox" value="" onclick="seleccioneMultipleRegistrosCandidaturas();" /> </th>
            <th> Número Documento </th>
            <th> Tipo Documento </th>
            <th> Sexo </th>
            <th> Año Candidatura </th>
            <th style="text-align: center;"> Acciones </th>
          </tr>
        </thead>

        <tbody>
          <% @registro_candidaturas.each_with_index do |registro_candidatura, index| %>
            <tr>
              <td> <%= index + 1 %> </td>
              <td> <%= check_box_tag 'borrar_registros_candidaturas', registro_candidatura.id, false %> </td>
              <td> <%= registro_candidatura.numero_documento %> </td>
              <td> <%= registro_candidatura.tipo_documento %> </td>
              <td> <%= registro_candidatura.sexo %> </td>
              <td> <%= registro_candidatura.anio_candidatura %> </td>
              <td style="text-align: center;">
                <%= link_to "<i class='glyphicon glyphicon-remove'></i>".html_safe, registro_candidatura_path(registro_candidatura),
                      data: { confirm: 'Desea borrar el registro de la candidatura?' }, :method => :delete, :class => 'btn btn-danger', 
                      :rel => 'tooltip', :title => 'Borrar Registro de Candidatura' %>
              <td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @registro_candidaturas %>
    <% end %>
  </div>
</div>
