<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Cargar Registros de Candidturas</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <%= form_for(@registro_candidatura, html: {class: 'form-horizontal', role: 'form', onsubmit: "$('.loading').show();"}) do |f| %>
      <div class="form-group">
        <%= label_tag 'Datos Implicados', nil, class: 'col-md-2 control-label' %>
        <div class="col-sm-8">
          <div class='<%= "#{'field_with_errors' if @registro_candidaturas_invalidas.present? && !@registro_candidaturas_invalidas.empty?}" %>'>
            <%= text_area_tag 'datos', @registro_candidaturas_invalidas.try(:join, "\n"), rows: 10, class: "form-control", required: true %>
          </div>
          <p class="help-block">
            El formato para la carga de registro de candidaturas es la siguiente: <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<b> NUMERO DOCUMENTO, TIPO DOCUMENTO [DNI, LC, ...],SEXO [M,F], AÑO ELECCION [2015]</b> <br/>
            &nbsp;&nbsp;&nbsp;&nbsp; 123456789, DNI, M, 2013 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp; 122377273, DNI, F, 2015 <br/>
          </p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= button_tag(type: "submit", class: "btn btn-primary") do %>
            Cargar Registros de Candidaturas
          <% end %>

          <%= link_to "Cancelar", registro_candidaturas_path, :class => "btn"%>
        </div>
      </div>
    <% end %>

  </div>
</div>
