<p>
	Se ha modificado con &eacute;xito la informaci&oacute;n de su usuario de la extranet del sistema SIEL del Tribunal Superior de Justicia de la Ciudad Aut&oacute;noma de Buenos Aires.

	<dl>
		<dt>Nueva contrase&ntilde;a</dt>
		<dd><%= @usuario.password %></dd>
	</dl>
</p>
