<p>
	Se ha creado con &eacute;xito su acceso a la extranet del sistema SIEL del Tribunal Superior de Justicia de la Ciudad Aut&oacute;noma de Buenos Aires.

	<dl>
		<dt>URL de acceso al sistema</dt>
		<dd><%= link_to URL_EXTRANET, URL_EXTRANET %></dd>
		<dt>Nombre de Usuario</dt>
		<dd><%= @usuario.nombre_usuario %></dd>
		<dt>Contrase&ntilde;a</dt>
		<dd><%= @usuario.password %></dd>
	</dl>
</p>
