﻿Se ha creado con éxito su acceso a la extranet del sistema SIEL del Tribunal Superior de Justicia de la Ciudad Autónoma de Buenos Aires.

URL de acceso al sistema: 	<%= URL_EXTRANET %>
Nombre de Usuario:			<%= @usuario.nombre_usuario %>
Contraseña:		 			<%= @usuario.password %>
