<br/>
<div class="row">
  <div class="col-md-12" data-spy="scroll">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-11">
            <h4>
              <%= lista.nombre %> <br/>
              <small> <%= eleccion.descripcion %> - <%= cargo.nombre.gsub(Cargo::CARGOS[:diputado], 'Legisladores') %> </small> <br/>
            </h4>
          </div>

          <div class="col-md-1">
            <h4 align="right">
              <%= lista_cargo.decorate.icono_estado_candidaturas(false) %>
            </h4>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="js-seccion-notificaciones-candidaturas">
          <% if !lista_cargo.alertas[:candidaturas].empty? %>
            <div class="alert alert-warning" id="js-seccion-observaciones" data-toggle="tooltip" data-placement="top" 
                 title="Observaciones que deben subsanarse pero no impiden cerrar la lista">
              <h4>
                <strong>Observaciones</strong>
                <i class="fa fa-plus-square-o pull-right" style="display: none;"></i>
                <i class="fa fa-minus-square-o pull-right"></i>
              </h4>
              <ul class="no-list-style">
                <%= lista_cargo.decorate.send("notificaciones_estado_alertas_candidaturas") %>
              </ul>
            </div>
          <% end %>
        </div>

        <%= link_to "Observaciones <i class='fa fa-download'></i>".html_safe, path_imprimir_personas_en_lista(lista, lista_cargo, 'candidaturas'), class: "btn btn-sm btn-default" %>
        <% if current_user.interno? || (current_user.apoderado? && !lista.oficializada?) %>
          <%= link_to "Abrir Cargo <i class='fa fa-unlock'></i>".html_safe, abrir_lista_lista_lista_cargo_path(lista, lista_cargo, tab: 'candidaturas'), method: :post, class: "btn btn-sm btn-info", data: { confirm: 'Está seguro que desea continuar?' } %>
        <% end %>
        <% if current_user.administrador? %>
          <%= link_to "Abrir Cargo Lista <i class='fa fa-unlock'></i>".html_safe, abrir_lista_lista_lista_cargo_path(lista, lista_cargo, tab: 'candidaturas', abierta_lista: true), method: :post, class: "btn btn-sm btn-info", data: { confirm: 'Está seguro que desea continuar?' } %>
        <% end %>
        <br />
        <br />

        <div class="js-totales-candidatos">
          <div class="row">
            <div class="col-md-7"> TITULARES </div>
            <div class="col-md-5">
              <div class="pull-right">
                <span>Cantidad:</span>
                <b id="contador_titulares"><%= lista_cargo.cargo.cantidad_titulares(lista_cargo.candidaturas.count) %></b>/<%= lista_cargo.cargo_cantidad_minima %>
              </div>
            </div>
          </div>

          <% if lista_cargo.cargo_nombre != Cargo::CARGOS[:jefe] %>
            <hr style="margin: 10px 0px;"/>

            <div class="row">
              <div class="col-md-7"> SUPLENTES </div>
              <div class="col-md-5">
                <div class="pull-right">
                  <span>Cantidad:</span>
                  <b id="contador_suplentes"><%= lista_cargo.cargo.cantidad_suplentes(lista_cargo.candidaturas.count) %></b>/<%= lista_cargo.cargo_cantidad_maxima - lista_cargo.cargo_cantidad_minima %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <br />
        <br />

        <%= lista_cargo.candidaturas.each_slice(lista_cargo.cargo_cantidad_minima).with_index do |listado_candidaturas, index|%>

          <div class="row">
            <div class="col-md-12">
              <h4> <%= (index.zero?) ? 'Titulares' : 'Suplentes'%> </h4>
            </div>
          </div>

          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="text-center">N°</th>
                <th class="text-center">DNI</th>
                <th class="text-center">Sexo</th>
                <th class="text-center">Nombre y Apellido</th>
                <th class="text-center">Fecha Nac.</th>
                <th class="text-center">Domicilio</th>
                <th class="text-center">Observaciones</th>
                <th></th>
              </tr>
            </thead>

            <tbody>

              <% CandidaturaDecorator.decorate_collection(listado_candidaturas).each do |candidatura| %>

                <tr class="accordion-toggle <%= candidatura.color_sexo %>">
                  <td class="text-center"> <%= candidatura.orden %> </td>
                  <th class="text-center" scope="row"><%= candidatura.persona_numero_documento %></th>
                  <td class="text-center"><%= candidatura.persona_sexo %></td>
                  <td class="text-center"><%= candidatura.nombre_completo %></td>
                  <td class="text-center"><%= candidatura.persona_fecha_nacimiento.try(:strftime, '%d-%m-%Y') %></td>
                  <td class="text-center"><%= candidatura.persona_domicilio_calle_nombre %></td>
                  <td class="text-center">
                    <% candidatura.validador_observaciones.each do |observacion| %>
                      <i class="text-danger <%= observacion.first %> <%= 'js-observacion-' + observacion.third.downcase %>" data-toggle="tooltip" data-placement="top" title="<%= observacion.second %>"></i>
                    <% end %>
                  </td>
                  <td>
                    <% unless candidatura.persona.archivos_persona.lista_cargo(lista_cargo).empty? %>
                      <%= link_to '<i class="glyphicon glyphicon-paperclip"></i>'.html_safe, ver_adjuntos_persona_path(candidatura.persona_id, lista_cargo_id: lista_cargo.id),  { class: 'btn btn-sm btn-default', remote: true, title: "Ver documentos adjuntos", data: { toggle: "tooltip", placement: "top" } }  %>
                    <% end %>
                  </td>
                </tr>

              <% end %>

            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>