<br/>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-11">
            <h4>
              <%= lista.nombre %> <br/>
              <small> <%= eleccion.descripcion %> - <%= cargo.nombre.gsub(Cargo::CARGOS[:diputado], 'Legisladores') %> </small> <br/>
            </h4>
          </div>

          <div class="col-md-1">
            <h4>
              <%= lista_cargo.decorate.icono_estado_adhesiones(false) %>
            </h4>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="js-seccion-notificaciones-adhesiones">
          <% if !lista_cargo.alertas[:adhesiones].empty? %>
            <div class="alert alert-warning" id="js-seccion-observaciones" data-toggle="tooltip" data-placement="top" 
                 title="Observaciones que deben subsanarse pero no impiden cerrar la lista">
              <h4>
                <strong>Observaciones</strong>
                <i class="fa fa-plus-square-o pull-right" style="display: none;"></i>
                <i class="fa fa-minus-square-o pull-right"></i>
              </h4>
              <ul class="no-list-style">
                <%= lista_cargo.decorate.send("notificaciones_estado_alertas_adhesiones") %>
              </ul>
            </div>
          <% end %>
        </div>

        <%= link_to "Imprimir <i class='glyphicon glyphicon-print'></i>".html_safe, path_imprimir_personas_en_lista(lista, lista_cargo, 'adhesiones'), class: "btn btn-sm btn-default", remote: true %>
        <% if lista_cargo.archivo_conformidad_adhesion.present? %>
          <%= link_to "#{root_url}/archivos/descargar/#{lista_cargo.archivo_conformidad_adhesion.archivo.id}", class: "btn btn-default js-boton-descarga-archivo-conformidad-adhesiones" do %>
            <i class="glyphicon glyphicon-download"></i>
            Formulario de Firmas
          <% end %>
        <% end %>
        <% if current_user.interno? || (current_user.apoderado? && !lista.oficializada?) %>
          <%= link_to "Abrir Adhesiones <i class='fa fa-unlock'></i>".html_safe, abrir_lista_lista_lista_cargo_path(lista, lista_cargo, tab: 'adhesiones'), method: :post, class: "btn btn-sm btn-info", data: { confirm: 'Está seguro que desea continuar?' } %>
        <% end %>
        <% if current_user.administrador? %>
          <%= link_to "Abrir Cargo Lista <i class='fa fa-unlock'></i>".html_safe, abrir_lista_lista_lista_cargo_path(lista, lista_cargo, tab: 'adhesiones', abierta_lista: true), method: :post, class: "btn btn-sm btn-info", data: { confirm: 'Está seguro que desea continuar?' } %>
        <% end %>
        <br />
        <br />

        <div class="js-seccion-adhesiones">
          <%= render 'adhesiones_cerrada', lista_cargo: lista_cargo, adhesiones: adhesiones, adhesiones_search: adhesiones_search, pagina_adhesiones: pagina_adhesiones %>
        </div>
        
      </div>
    </div>
  </div>
</div>