<tr <%= (eleccion.vigente?)? '': "class=warning" %>>
  <td><%= eleccion.fecha.year %></td>
  <td><%= eleccion.descripcion %></td>
  <td><%= eleccion.tipo %></td>
  <td><%= eleccion.cargos_seleccionados_concatenados %></td>
  <td nowrap>
    <%= eleccion.link_nombres_archivos_expedientes %>
  </td>
  <td>
  <%= link_to("<i class='glyphicon glyphicon-download'></i> #{eleccion.archivo.nombre}".html_safe, eleccion_descargar_resolucion_path(eleccion), class: "btn btn-default") if eleccion.tiene_resolucion? %>
  </td>
  <td><%= eleccion.eleccion_vigente %></td>
  <td style="text-align: right;">
    <%= link_to "<i class='glyphicon glyphicon-pencil'></i> Detalle".html_safe, edit_eleccion_path(eleccion), class: 'btn btn-default' %>
  </td>
</tr>
