<%= form_for(@eleccion, html: {class: "form-horizontal", multipart: true, id: 'form_eleccion'}) do |f| %>

  <div class="row">
    <div class="col-md-9">

      <div class="form-group">
        <%= f.label "Tipo", class: "control-label col-md-3" %>
        <div class="col-md-3">
          <%= f.select :tipo, options_for_select([["PASO", "paso"], ["GENERAL", "general"]], f.object.persisted? ? f.object.tipo : "paso"), {}, disabled: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Descripción", class: "control-label col-md-3" %>
        <div class="col-md-8">
          <%= f.text_area :descripcion, cols: 2, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "fecha", class: "control-label col-md-3" %>
        <div class="col-md-3">
          <%= f.text_field :fecha, class: 'form-control', id: 'fecha', value: f.object.fecha.try(:strftime, '%d/%m/%Y') %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "fecha_posesion", "Fecha Posesión", class: "control-label col-md-3" %>
        <div class="col-md-3">
          <%= f.text_field :fecha_posesion, class: 'form-control', id: 'fecha_posesion', value: f.object.fecha_posesion.try(:strftime, '%d/%m/%Y') %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "fecha_limite_carga_candidaturas", "Fecha Límite Carga Candidaturas", class: "control-label col-md-3" %>
        <div class="col-md-3">
          <%= f.text_field :fecha_limite_carga_candidaturas, class: 'form-control', id: 'fecha_limite_carga_candidaturas',
              value: f.object.fecha_limite_carga_candidaturas.try(:strftime, '%d/%m/%Y %H:%M') %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "habilitar_carga_candidaturas", "Habilitar Carga Candidaturas", class: "control-label col-md-3" %>
        <div class="col-md-3">
          <%= f.check_box :habilitar_carga_candidaturas, class: 'form-control', id: 'habilitar_carga_candidaturas', 'data-toggle': 'toggle' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :expediente, class: "control-label col-md-3" %>

        <div class="col-md-8">
          <div class="col-xs-8 col-md-9 no-padding-left">
            <%= f.text_field :expediente, class: "form-control", validate: false %>
          </div>
          <div class="col-xs-3 col-md-3 no-padding-right">
            <%= link_to "Buscar <i class='glyphicon glyphicon-search'></i>".html_safe, "#busqueda_expedientes", {class: "col-md-12 btn btn-info", id: "modal_button", role: "button", :"data-toggle" => "modal", onclick: "$('#numero').focus();"} %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Decreto", class: "control-label col-md-3" %>
        <div class="col-md-4">
          <%= file_field_tag :archivo %>
          <%= link_to("<i class='glyphicon glyphicon-download'></i> #{@eleccion.archivo.nombre}".html_safe, eleccion_descargar_resolucion_path(@eleccion), class: 'btn btn-default') unless @eleccion.archivo.nil? %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "notas", class: "control-label col-md-3" %>
        <div class="col-md-8">
          <%= f.text_area "notas", rows: 4, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :observaciones, class: "control-label col-md-3" %>
        <div class="col-md-8">
          <%= f.text_area :observaciones, rows: 4, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
          <%= link_to "Grabar <i class='glyphicon glyphicon-ok'></i>".html_safe, '#', class: 'btn btn-primary', id: 'grabar_eleccion' %>
          <%= back_button %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 style="margin: 0px;">Cargos</h3>
        </div>

        <div class="panel-body">
            <%= f.fields_for :eleccion_cargos, @eleccion.eleccion_cargos.sort do |ecf| %>
              <div class="row">
                <div class="col-xs-12 <%= 'js-checkbox-comunero hidden' if ecf.object.cargo.nombre.match(/comuna/i) %>">
                  <%= ecf.hidden_field :cargo_id %>
                  <label class="checkbox cargos-checkbox">
                    <%= ecf.check_box :seleccionado %><%= ecf.object.cargo.nombre unless ecf.object.cargo.nil? %>
                  </label>
                </div>
              </div>
            <% end %>

            <div class="row">
              <div class="col-xs-12">
                <label class="checkbox cargos-checkbox">
                  <%= check_box_tag("eleccion_comuna", "1", @eleccion.eleccion_cargos.detect { |ec| ec.cargo.nombre.match(/comuna/i).present? }.seleccionado) %>
                  Comunero
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<% end %>

<%= render "busqueda_expedientes" %>

<script type="text/javascript">
  $(function () {
    $('#eleccion_descripcion').focus();
    $('#fecha').datetimepicker({
      format: 'L'
    });
    $('#fecha_posesion').datetimepicker({
      format: 'L'
    });
    $('#fecha_limite_carga_candidaturas').datetimepicker();
  });
</script>
