
<div class="row">
  <div class="col-md-12">
    <%= titulo_con_linea "Reparto de Cargos para las elecciones '#{@eleccion.descripcion}'" %>
  </div>
</div>
<%= form_for(@eleccion, url: grabar_reparto_eleccion_path(@eleccion), method: :post, html: {class: '', id: 'form_resultados'}) do |f| %>

  <%= render "shared/error_messages", :target => @eleccion %>

  <div class="row well">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :porcentaje_exclusion, 'Umbral (%)', class: 'col-xs-3 control-label' %>
        <div class="controls col-xs-5">
          <%= f.text_field :porcentaje_exclusion, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

        <ul class="nav nav-tabs">
          <% @comunas.each do |comuna| %>
            <li <%= tab_css(comuna, @comuna) %>>
              <%= link_to tab_label(comuna, @comuna), '#', onclick: "change_tab_comuna('#{cargar_reparto_eleccion_path(@eleccion)}', #{comuna.id});" %>
            </li>
          <% end %>
          <li <%= tab_css(nil, @comuna) %>>
            <%= link_to 'Distrito Único', '#', onclick: "change_tab_comuna('#{cargar_reparto_eleccion_path(@eleccion)}', null);" %>
          </li>
        </ul>
        <%= hidden_field_tag :comuna, (@comuna.nil? ? nil : @comuna.id), id: 'comuna_id' %>

      </div>
    </div>
    <div class="row">
      <div class="col-md-3">&nbsp;</div>
      <%= f.fields_for :resultados_comunas, @resultados_comunas do |frc| %>
        <% if frc.object.comuna == @comuna %>
          <div class="col-md-3">
            <div class="form-group">
            <%= frc.label :cantidad_mesas, 'Cantidad de Mesas', class: 'control-label' %>
            <div class="controls"><%= frc.text_field :cantidad_mesas, class: 'form-control' %></div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
            <%= frc.label :cantidad_inscriptos, 'Cantidad de Inscriptos', class: 'control-label' %>
            <div class="controls"><%= frc.text_field :cantidad_inscriptos, class: 'form-control' %></div>
          </div>
        </div>
        <% else %>
          <%= frc.hidden_field :cantidad_mesas %>
        <% end %>
      <% end %>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-12">

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th colspan="2">Partido o Alianza</th>
            <%= f.fields_for :eleccion_cargos, @eleccion_cargos do |fec| %>
              <th width="20%">
                <%= fec.object.cargo.nombre %><br/>
                (cant. esca&ntilde;os <%= fec.text_field :cantidad_escanios, class: 'form-control' %>)
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @fuerzas.each do |fuerza| %>
                <tr>
                  <td><%= fuerza.numero %></td>
                  <td><%= fuerza.nombre %></td>
                  <% @eleccion_cargos.each do |ec| %>
                    <%= f.fields_for :resultados_elecciones, @resultados_comuna.select { |r| r.fuerza_id == fuerza.id } do |fre| %>
                      <td><%= fre.text_field :cantidad_votos, class: 'form-control' %></td>
                    <% end %>
                  <% end %>
                </tr>
          <% end %>

          <%= f.fields_for :resultados_elecciones, @blancos_nulos do |fnulos| %>
            <tr>
              <td>&nbsp;</td>
              <td><%= descripcion_resultado(fnulos.object) %></td>
              <td><%= fnulos.text_field :cantidad_votos, class: 'form-control' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= f.fields_for :resultados_elecciones, @otros_resultados do |fre| %>
        <%= fre.hidden_field :cantidad_votos, class: 'form-control' %>
      <% end %>

    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12 well">
    <%= boton 'arrow-left', 'Volver al Listado', repartos_elecciones_path, '' %>
    <%= boton 'ok', 'Grabar', '#', 'btn btn-primary', id: 'link_grabar_resultados' %>
  </div>
</div>
