<div class="row">
	<div class="col-xs-12">
		<h3>Partidos / Alianzas Electorales</h3>
		<hr/>
	</div>
</div>

<%= form_tag({action: :fuerzas}, {class: 'form-inline'}) do %>
	<div class="row well">
		<div class="col-xs-6">
			<label>Elecci&oacute;n</label>
			<%= select_tag :id, options_from_collection_for_select(@elecciones, :id, :descripcion, params[:id]), id: 'eleccion_id', class: 'form-control' %>
			<%= link_to "<i class='glyphicon glyphicon-filter'></i> Filtrar".html_safe, '#', class: 'btn btn-default', id: 'link_filtrar_fuerzas' %>
		</div>
		<div class="col-xs-6 text-right">
					<em>Cantidad de partidos / alianzas encontrados: <strong class="cantidad_partidos"><%= @fuerzas.size %></strong></em>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="col-xs-12">

		<table class="table table-striped table-hover">
				<caption>
						<i class='glyphicon glyphicon-flag'></i> - El partido es miembro de una alianza
				</caption>
				<thead>
					<tr>
						<th width="1%">N&uacute;mero</th>
						<th width="1%" nowrap># Expediente</th>
						<th>Nombre</th>
						<th>Expediente Digitalizado</th>
						<th>Estado</th>
						<th>Tipo</th>
						<th width="1%">&nbsp;</th>
					</tr>
				</thead>

				<tbody id="body_table_fuerzas">
					<%= render partial: 'fuerzas/fuerza_eleccion', collection: @fuerzas, as: :fuerza %>
				</tbody>

				<tfoot>
					<tr class="well">
						<td>&nbsp;</td>
					<td colspan="2">
								<em>Cantidad de partidos / alianzas encontrados: <strong class="cantidad_partidos"><%= @fuerzas.size %></strong></em>
					</div>
						<td colspan="4" style="text-align: right">
						<%= link_to "<i class='glyphicon glyphicon-list-alt'></i> Descargar Excel Apoderados".html_safe, "#{exportar_apoderados_eleccion_path(params[:id])}.xls", class: 'btn btn-success', target: '_blank' %>
							<%= link_to "<i class='glyphicon glyphicon-plus'></i> Nuevo".html_safe, new_fuerza_path, class: 'btn btn-success' %>
						</td>
					</tr>
				</tfoot>
		</table>

	</div>
</div>
