
<div class="row">
	<div class="col-md-12">
		<h2>Listado de Elecciones</h2>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col-md-12 well">
		<%= form_tag({controller: :elecciones, action: :filtrar},{remote: true, class: "form-inline form-horizontal"}) do %>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label>A&ntilde;o</label>
						<%= select_tag "anio", options_for_select(@anios), class: "form-control" %>
					</div>
				</div>
				<div class="col-md-1">
					<%= submit_tag "Filtrar", class: "btn btn-default" %>
				</div>
				<div class="col-md-offset-8 col-md-1">
					<%= link_to "<i class='glyphicon glyphicon-plus'></i> Nuevo".html_safe, new_eleccion_path, class: "btn btn-success pull-right" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-12 no-padding-right no-padding-left">

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>A&ntilde;o</th>
					<th>Descripci&oacute;n</th>
          <th>Tipo</th>
					<th>Cargos Elegidos</th>
					<th>Expediente</th>
					<th>Resoluci&oacute;n</th>
					<th>Vigente</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody id="body_table_elecciones">
				<%= render EleccionDecorator.decorate_collection(@elecciones) %>
			</tbody>
		</table>

	</div>
</div>
<div class="row">
	<div class="col-md-12 well">
		<%= link_to "<i class='glyphicon glyphicon-plus'></i> Nuevo".html_safe, new_eleccion_path, class: "btn btn-success pull-right" %>
	</div>
</div>
