
<div class="row">
	<div class="col-xs-12">
		<%= titulo_con_linea 'Reparto de Cargos' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">

		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Elecci&oacute;n</th>
					<th>Total de Mesas</th>
					<th>Total de Inscriptos</th>
					<th width="1%">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<% @elecciones.each do |e| %>
					<tr class="<%= css_tr_reparto(e) %>">
						<td><%= descripcion_reparto(e) %></td>
						<td><%= e.cantidad_mesas %></td>
						<td><%= e.cantidad_inscriptos %></td>
						<td nowrap>
							<%= boton('pencil', 'Editar', cargar_reparto_eleccion_path(e), '', method: :post) %>
							<%= boton('list', 'Ver Resultados', eleccion_cargo_path(e.primer_eleccion_cargo), 'btn-primary') %>
							<%= boton('remove', 'Borrar', destroy_reparto_eleccion_path(e), 'btn-danger', method: :delete, data: { confirm: '¿Está seguro que desea borrar el reparto cargado para esta elección?' } ) %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>
<div class="row">
	<div class="col-xs-12 well right">
		<%= boton('plus', 'Nuevo Reparto', '#', 'btn btn-success', id: 'link_nuevo_reparto') %>
		para las elecciones
		<div class="col-xs-2 pull-right">
			<%= select_tag :eleccion, options_from_collection_for_select(@elecciones_sin_resultados, :id, :descripcion), class: 'form-control' %>
		</div>
	</div>
</div>

<%= form_tag({}, {id: 'form_nuevo_reparto'}) do |f| %>
<% end %>
