<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @eleccion.descripcion %>
</p>

<p>
  <b>Fecha:</b>
  <%= @eleccion.fecha %>
</p>

<p>
  <b>Notas:</b>
  <%= @eleccion.notas %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @eleccion.observaciones %>
</p>


<%= link_to 'Edit', edit_eleccion_path(@eleccion) %> |
<%= link_to 'Back', elecciones_path %>
