<%= render 'barra_progreso_importacion', job_id: importar_adherentes_id %>
<br/>

<div class="row">
  <div class="col-md-12 js-seccion-notificaciones-adhesiones">
    <h3 style="color: #31708f"> Registro y validación de adhesiones</h3>
    <br>
    <%= render 'seccion_notificaciones', lista_cargo: lista_cargo.decorate, asociacion: 'adhesiones' %>
  </div>

  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <h3 style="color: #31708f"> Carga individual de adhesión</h3>

        <div class="js-busqueda-persona-form">
          <%= render 'busqueda_persona_form', tab: 'adhesiones', persona: Persona.new, eleccion: eleccion, cargo: cargo, fuerza: fuerza, lista_cargo: lista_cargo %>
        </div>
      </div>
    </div>

    <br/>
    <div class="row">
      <div class="col-md-12" style="display: <%= (adhesion.persona.try(:persisted?)) ? '' : 'none' %>;" id="formulario_carga_adhesion">
        <div class="page-header">
          <h4>Datos personales</h4>
        </div>

        <div class='js-formulario-persona'>
          <%= render 'persona_form', objeto: adhesion, tab: 'adhesiones', url: adhesiones_path, cantidad: 0, editar: editar %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7" data-spy="scroll">
    <%= render 'carga_adhesiones', tab: 'adhesiones', eleccion: eleccion, cargo: cargo, lista: lista, lista_cargo: lista_cargo, cantidad_adhesiones: cantidad_adhesiones, adhesiones: adhesiones, pagina_adhesiones: pagina_adhesiones, adhesiones_search: adhesiones_search %>
  </div>
</div>