<%= render 'barra_progreso_importacion', job_id: importar_precandidatos_id %>
<br/>

<div class="row">
  <div class="col-md-12 js-seccion-notificaciones-candidaturas">
    <h3 style="color: #31708f"> Registro y validación de precandidaturas</h3>
    <br>
    <%= render 'seccion_notificaciones', lista_cargo: lista_cargo.decorate, asociacion: 'candidaturas' %>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <h3 style="color: #31708f"> Carga individual de precandidatura</h3>

        <div class="js-busqueda-persona-form">
          <%= render 'busqueda_persona_form', tab: 'candidaturas', persona: Persona.new, eleccion: eleccion, cargo: cargo, fuerza: fuerza, lista_cargo: lista_cargo %>
        </div>
      </div>
    </div>


    <br/>
    <div class="row">
      <div class="col-md-12" style="display: <%= (candidatura.persona.try(:persisted?)) ? '' : 'none' %>;" id="formulario_carga_candidatura">
        <div class="page-header">
          <h4>Datos personales</h4>
          <p>* Campo obligatorio</p>
        </div>

        <div class='js-formulario-persona'>
          <%= render 'persona_form', objeto: candidatura, tab: 'candidaturas', url: candidaturas_path, cantidad: 0, editar: editar %>
        </div>
      </div>
    </div>
  </div>
  

  <div class="col-md-7" data-spy="scroll">
    <%= render 'carga_precandidatos', tab: 'candidaturas' %>
  </div>
</div>