/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require bootstrap-datetimepicker
 *= require ../../../vendor/assets/stylesheets/select2.css
 *= require ../../../vendor/assets/stylesheets/jquery-ui.css
 *= require ../../../vendor/assets/stylesheets/sweetalert2.css
 *= require bootstrap/glyphicons
 *= require font-awesome
 */

 .well-primary {
     background-image: linear-gradient(to bottom, #337ab7 0px, #2e6da4 100%);
     background-repeat: repeat-x;
     background-color: #337ab7;
     border-color: #337ab7;
     color: #fff;
 }
 .well-success {
     background-image: linear-gradient(to bottom, #337ab7 0px, #2e6da4 100%);
     background-repeat: repeat-x;
     background-color: #337ab7;
     border-color: #337ab7;
     color: #fff;
 }

 .well-info {
     background-image: linear-gradient(to bottom, #d9edf7 0px, #c4e3f3 100%);
     background-repeat: repeat-x;
     background-color: #d9edf7;
     border-color: #bce8f1;
     color: #31708f;
 }

 .well-warning {
     background-image: linear-gradient(to bottom, #fcf8e3 0px, #faf2cc 100%);
     background-repeat: repeat-x;
     background-color: #fcf8e3;
     border-color: #faebcc;
     color: #8a6d3b;
 }

 .well-danger {
     background-image: linear-gradient(to bottom, #f2dede 0px, #ebcccc 100%);
     background-repeat: repeat-x;
     background-color: #f2dede;
     border-color: #ebccd1;
     color: #a94442;
 }

.field_with_errors {
  display: inline;
}
.field_with_errors input[type=text], .field_with_errors input[type=email], .field_with_errors input[type=password], .field_with_errors select, .field_with_errors textarea {
 border: 1px solid #B94A48;
}
.error_message {
  color: #B94A48;
  margin-top: 0px;
}

.bip-flash-error {
  position: fixed;
  top: 60px;
  right: 100px;
  width: auto;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  z-index: 1000;
  &:first-letter { text-transform: uppercase; }
}