#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 20px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

.clockdivred{
	background: #C00000 !important;
}

.clockdivorange{
	background: #f3a943 !important;
}

#clockdiv div > span{
	padding: 10px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.clockspanred{
	background: #830000  !important;
}

.clockspanorange{
	background: #f37e21  !important;
}

.smalltext{
	padding-top: 5px;
	font-size: 14px;
}