
body
{
	margin-top: 55px;
	background: image-url("urna_watermark.png") no-repeat right bottom;
	min-height: 600px;
}

/* Absolute Center Spinner */
.loading {
	p {
		margin: 0 0 10px;
		color: black;
		font-size: 20px;
	}
	display: none;
	position: fixed;
	z-index: 9999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: 25% 45%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Transparent Overlay */
.loading:before {
	content: 'Cargando...';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

.navbar a.icon-brand
{
	padding-right: 0px;
	padding-top: 5px;
}

div.miniform div
{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.miniform div label
{
	display: inline-block;
	min-width: 80px;
	text-align: right;
	margin-right: 5px;
}


// client_side_validations
.field_with_errors input, .field_with_errors textarea
{
	border-color: #D00 !important;
	background-color: #FFDBDB !important;
}
.field_with_errors .message
{
	color: #D00;
	padding-left: 5px;
	font-size: 11px;
}


span.best_in_place
{
	color: blue;
}

#windowDialog
{
		width: 1150px;
		margin-top: -50px !important;
		margin-left:  -600px !important;
}

#windowDialog .modal-body
{
		max-height: 550px;
}

.swal2-modal {
	.swal2-confirm {
		margin-right: 1%;
	}

	.swal2-content {
		margin-top: 20px !important;
	}

	h2 {
		line-height: 35px !important;
	}
}

span.spacer
{
	display: inline-block;
	width: 20px;
}

.tabla-fila-hover {
	&:hover {
		td {
			background-color: #d9edf7;
		}
	}
}

table.table tbody tr td.error
{
	color: white;
	background-color: rgb(192, 12, 12);
}

.right, td.right
{
	text-align: right;
}

table.table tbody tr.linea_destacada td
{
	background-color: #FFC7FB;
}

.justificado {
	text-align: justify;
}

.gris-claro {
	background-color: #e0e0e0;
}

.rojo
{
	color: red;
}

.amarillo-patito {
	color: #f7a820;
}

.blanco {
	color: white;
}

.bg-inherit {
	background-color: inherit;
}

.bg-rojo {
	background-color: red !important;
}

.bg-verde {
	background-color: green !important;
}

.border-none {
	border: none;
}

.borde-rojo {
	border: 1px solid #B94A48;
}

.borde-tabla-umbral {
	border-color: red !important;
	border-width: 2px !important;
}

.caja-muestra-color {
	float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
}

@media print
{
	div.navbar, ul.nav, ul.nav li,  ul.nav li a
	{
		visibility: hidden !important;
		}
}

div.formula
{
	float: left;
	text-align: center;
}
div.formula.variable
{
	width: 25px;
	margin-left: 2px;
	margin-right: 2px;
}
div.formula.variable_doble
{
	width: 50px;
	margin-left: 2px;
	margin-right: 2px;
}
div.formula.variable_triple
{
	width: 75px;
}
div.formula.variable_sextuple
{
	width: 140px;
	margin-left: 2px;
	margin-right: 2px;
}
div.formula.dividido
{
	border-bottom: solid 1px;
}
.formula.color1
{
	color: #F08811;
}
.formula.color2
{
	color: #08D1CE;
}
.formula.color3
{
	color: #BB00CC;
}
.formula.color4
{
	color: #000AAA;
}

.radio-errores {
	border: 1px solid #B94A48;
  background-color: #FFDBDB;
}

.vertical-top {
	vertical-align: top;
}

.remarcado-verde {
	border-color: green;
  border-style: solid;
  border-width: 3px;
}

.remarcado-rojo {
  border-color: red;
  border-style: solid;
  border-width: 3px;
}

td.detalle_caso
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-style: italic;
	text-align: center;
}
tr.fila_vacia td
{
	color: #999999;
}

p.cantidad_requeridas
{
	display: inline;
	font-weight: bold;
}

.inline {
	display: inline !important;
}

.width-100 {
	width: 100% !important;
}

.v-align-middle {
	vertical-align: middle !important;
}

.v-align-top {
	vertical-align: top;
}

.padding-left-15 {
	padding-left: 15px;
}

.no-padding-right {
	padding-right: 0px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-margin-right {
	margin-right: 0px;
}

.no-margin-left {
	margin-left: 0px;
}

.mayusc-input {
	text-transform: uppercase;
}

.no-list-style {
	list-style: none;
}

.date-input {
	display: inline;
	width: 32.98%;
}

#CargarFiscalesModal {
	span.select2.select2-container {
		width: 100% !important;
	}
}

.js-imagen-candidato {
	margin-bottom: 15px;
}

.columna-comunas {
	padding-left: 0px;
}

.boton-comunas {
	min-width: 175px !important;
}

.boton-icono {
	border: none;
	background: none;

	&:focus {
		border: none;
	}
}

.boton-observacion-candidato {
	display: inline;
}

.campos-busqueda-adhesiones {
	margin-right: 0px;
}

.popover {
	width: 250px;
	min-width: 250px;

	.observaciones-lista-popover {
		padding-left: 15px;
	}
}

.overlay {
  opacity: 1;
  filter: alpha(opacity = 0);
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 15px;
  right: 15px;
  display: block;
  z-index: 99999999;
  background: rgba(0, 0, 0, 0.45);
}

.candidatura-row:hover {
	cursor: pointer;
}

#candidaturas .barra-progreso {
  margin-top: 25%;
}

#adhesiones .barra-progreso {
  margin-top: 25%;
}

.barra-progreso {
	span {
	  position: absolute;
	  display: block;
	  width: 80%;
	  color: white;
	}
  width: 80%;
  margin-top: 30%;
  margin-left: 10%;
  background-color: rgba(51, 51, 51, 0.80);
}

.fuerza-infraccion-boton {
	min-width: 46%;
}

.fuerzas-form {

	.input-group-addon {
		width: 120px !important;
		min-width: 120px;
		text-align: left;
	}
}

#js-seccion-observaciones {
	cursor: pointer;
	cursor: hand;
}

.fuerzas-new-form {
	.apoderado-domicilio-label {
		text-align: left;
	}
}

.candidaturas-form {
	.input-group-addon {
		width: 75px;
		min-width: 75px;
	}
}

.infracciones-form {
	.input-group-addon {
		width: 124px !important;
		min-width: 124px;
		text-align: left;
	}

	.expediente-group {
		.form-control {
			border-radius: 0;
		}
	}
}

.alert {
	font-weight: bold;
	font-size: 17px;
}

#flash-alerts {
	width: 750px;
}

#fixed_alert {
	position: fixed;
	top: 52px;
	right: 0px;
	z-index: 9999;
	width: inherit;
}

.archivo-campo {
	input[type="file"] {
		display: inline;
	}
}

// float-label
.float-label-form {
	.well {
    margin-bottom: 0px;
	}

  .float-input {
    display: block;

    & + label {
      position: absolute;
      top: 10px;
      transition: top 0.7s ease, opacity 0.7s ease;
      opacity: 0;
      font-size: 13px;
      font-weight: 600;
      color: #ccc;
    }
    
    &:valid + label {
      opacity: 1;
      top: 35px;
    	left: 30px;
    }

    &:focus + label {
      color: #2c8efe;
    }
  }
}

@media (max-width: 1906px) {
	.infracciones-form {
	}
}

@media (min-width: 1100px) {
	.logout-button-collapse {
		display: none !important;
	}
}

@media (max-width: 1100px) {
	.logout-button-collapse {
		display: block;
	}
	.logout-button {
		display: none;
	}
	.navbar-header {
			float: none;
	}
	.navbar-toggle {
			display: block;
	}
	.navbar-collapse {
			border-top: 1px solid transparent;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
			display: none!important;
	}
	.navbar-nav {
			float: none!important;
			margin: 7.5px -15px;
	}
	.navbar-nav>li {
			float: none;
	}
	.navbar-nav>li>a {
			padding-top: 10px;
			padding-bottom: 10px;
	}
	.navbar-text {
			float: none;
			margin: 15px 0;
	}
	.navbar-collapse.collapse.in {
			display: block!important;
	}
	.collapsing {
			overflow: hidden!important;
	}
}

.select2-selection.select2-selection--single {
	height: 34px !important;

	.select2-selection__rendered {
		line-height: 33px !important;
		margin-left: 8px;
	}
}

.select2-container--default.select2-container--open {
	.select2-selection.select2-selection--single {
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	}
}

.checkbox.cargos-checkbox input[type="checkbox"] {
	position: relative;
	margin-left: 0px;
	margin-right: 3%;
}

@media (max-width: 991px) {
	.fuerzas-form {
		.col-xs-12 {
			margin-bottom: 1%;
		}

		.btn {
			margin-bottom: 3%;
		}
	}
}

@media (max-width: 1200px) {
	.fuerzas-new-form {
		.input-group-addon {
			width: 78px !important;
			min-width: 78px;
			text-align: left;
		}
	}
}
