
<!-- Modal -->
<div id="busqueda_expedientes" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="myModalLabel">B&uacute;squeda de expedientes</h3>
			</div>
			<div class="modal-body">
        <%= form_tag({controller: "expedientes", action: "buscar"}, {method: :get, remote: true, authenticity_token: true}) do %>
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group">
								<%= hidden_field_tag :from_controller, params[:controller] %>
								<%= text_field_tag :be_numero, nil, placeholder: 'Número', class: "form-control" %>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								<%= text_field_tag :be_caratula, nil, placeholder: 'Carátula', class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-4">
							<%= submit_tag "Buscar", class: "btn btn-block btn-default" %>
						</div>
					</div>
				<% end %>

				<br>

				<div class="js-tabla-expedientes">
					<%= render 'expedientes/tabla_expedientes', expedientes: [] %>
				</div>

			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<script>
	$('#busqueda_expedientes').on('shown', function ()
	{
		$('#be_numero').focus();
	});
</script>
