<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<%= verificacion.casos_cargados.size %> firmas cargadas de <%= verificacion.casos_verificacion.size %> (<%= porcentaje_carga_completado(verificacion).to_i %> %)
		<div class="progress">
			<div class="progress-bar" style="width: <%= porcentaje_carga_completado(verificacion) %>%;"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<%= verificacion.casos_a_firmar.size %> firmas por verificar
		<div class="progress">
			<div class="progress progress-success" style="width: <%= porcentaje_firmas_verificadas(verificacion) %>%;"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<% unless verificacion.cantidad_firmas_total == verificacion.rango_confianza[0] && verificacion.cantidad_firmas_total == verificacion.rango_confianza[1] %>
			Rango Confianza: (<strong><%= number_with_delimiter(verificacion.rango_confianza[0]) %></strong>, <strong><%= number_with_delimiter(verificacion.rango_confianza[1]) %></strong>)
		<% else %>
			-
		<% end %>
	</div>
	<div class="col-md-5">
		Firmas Requeridas: <%= estado_requeridas(verificacion) %>
	</div>
</div>
