<%= form_for(@verificacion, html: {class: "form-horizontal", multipart: true, id: 'form_verificacion'}) do |f| %>

  <%= render "shared/error_messages", :target => @verificacion %>

  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="form-group">
          <%= f.label "Descripción", class: "col-xs-2 control-label" %>
          <div class="col-xs-5">
            <div class="controls"><%= f.text_field :descripcion, class: "form-control" %></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">

          <div class="form-group">
            <%= f.label :cantidad_hojas, 'Cantidad Hojas', class: 'col-xs-offset-1 col-xs-3 control-label' %>
            <div class="controls col-xs-4"><%= f.number_field :cantidad_hojas, class: 'form-control' %></div>
          </div>
          <div class="form-group">
            <%= f.label :cantidad_firmas_hoja, 'Firmas por Hoja', class: 'col-xs-offset-1 col-xs-3 control-label' %>
            <div class="controls col-xs-4"><%= f.number_field :cantidad_firmas_hoja, class: 'form-control' %></div>
          </div>
          <div class="form-group">
            <%= f.label :cantidad_firmas_total, 'Cant. Total Firmas', class: 'col-xs-offset-1 col-xs-3 control-label formula color3' %>
            <div class="controls col-xs-4"><%= f.number_field :cantidad_firmas_total, class: 'form-control', id: 'verif_cantidad_firmas_total' %></div>
          </div>
          <div class="form-group">
            <%= f.label :cantidad_firmas_requeridas, 'Firmas Requeridas', class: 'col-xs-offset-1 col-xs-3 control-label' %>
            <div class="controls col-xs-4">
              <%= f.number_field :cantidad_firmas_requeridas, class: 'form-control', id: 'verif_cantidad_firmas_requeridas' %>
            </div>
          </div>

        </div>
        <div class="col-xs-6">

          <div class="form-group">
            <label class="col-xs-3 control-label formula color1" id="confianza_label" data-toggle="tooltip" data-placement="top" data-original-title="Parámetro utilizado para calcular la variable t de la ecuación. Se recomienda utilizar el valor por defecto: 90%">
              <i class="glyphicon glyphicon-question-sign"></i>
              Confianza
            </label>
            <div class="controls col-xs-3">
              <%= f.select :confianza, confianzas_posibles, {}, {class: 'form-control', id: 'verif_confianza'} %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label formula color2" id="error_label" data-toggle="tooltip" data-placement="right" data-original-title="Error relativo de la estimación.">
              <i class="glyphicon glyphicon-question-sign"></i>
              Error
            </label>
            <div class="controls col-xs-3">
              <%= f.select :error, VerificacionFirmas::ERRORES_RELATIVOS, {}, {class: 'form-control', id: 'verif_error'} %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label formula color4" id="p_label" data-toggle="tooltip" data-placement="bottom", data-original-title="Error de estimación de la proporción de firmas legítimas. Para poblaciones grandes, como iniciativa popular, se recomienda usar un p de 0.8. Para poblaciones pequeñas, como la presentación de firmas de partidos políticos (1000 items aprox.), el valor recomandado de p es 0.9">
              <i class="glyphicon glyphicon-question-sign"></i>
              Variable p
            </label>
            <div class="controls col-xs-3">
              <%= f.select :variable_p, VerificacionFirmas::VALORES_P, {}, {class: 'form-control', id: 'verif_variable_p'} %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :cantidad_firmas_muestra, 'Tamaño de la Muestra', class: 'col-xs-3 control-label' %>
            <div class="controls col-xs-3">
              <%= f.number_field :cantidad_firmas_muestra, readonly: true, class: 'form-control', id: 'verif_cantidad_firmas_muestra' %>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-xs-4">
        <%= link_uba_doc %>
        <br/>
        <br/>
        <%= f.label :observaciones %><br/>
        <%= f.text_area :observaciones, class: 'form-control', rows: '7' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-11 col-xs-offset-1" id="formulas_verificacion">

      <%= render partial: 'formulas_verificacion', locals: {v: @verificacion} %>

    </div>
  </div>
  <div class="form-actions">
    <%= link_to "<i class='glyphicon glyphicon-ok'></i> Grabar".html_safe, 'javascript: return false;', class: 'btn btn-primary', id: 'btn_grabar_verificacion' %>
    <%= back_button %>      
  </div>

<% end %>

<script>
  $('#verificacion_firmas_descripcion').focus();
  $('#confianza_label').tooltip();
  $('#error_label').tooltip();
  $('#p_label').tooltip();
</script>
