<div class="well">
  <div class="row">
    <div class="col-md-1">
      <strong style="margin-left: 30px;">F&oacute;rmulas</strong>
    </div>
    <div class="col-md-5 text-center">
      <em>Tama&ntilde;o de la muestra</em>
    </div>
    <div class="col-md-4 text-center">
      <em>Correcci&oacute;n por poblaci&oacute;n finita</em>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="row">
        <div class="formula variable_doble">n</div>
        <div class="formula variable">=</div>
        <div class="formula variable_triple dividido">
          <span class="formula color1">t</span><sup>2</sup>
        </div>
        <div class="formula variable_triple dividido">
          ( 1 - <span class="formula color4">p</span> )
        </div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="formula variable_doble">&nbsp;</div>
        <div class="formula variable">&nbsp;</div>
        <div class="formula variable_triple">
          <span class="formula color2">e</span><sup>2</sup>
        </div>
        <div class="formula variable_triple color4">p</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="formula variable_doble">m</div>
        <div class="formula variable">=</div>
        <div class="formula variable_sextuple dividido">n</div>
      </div>
      <div class="row">
        <div class="formula variable">&nbsp;</div>
        <div class="formula variable_doble">&nbsp;</div>
        <div class="formula variable_triple">( 1 + n / </div>
        <div class="formula variable_triple">
          <span class="formula color3">N</span> )
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="row">
        <div class="formula variable_doble"><%= variable(v.calcular_tamanio_muestra, 'n') %></div>
        <div class="formula variable">=</div>
        <div class="formula variable_triple dividido"><span class="formula color1"><%= variable(v.variable_t, 't') %></span><sup>2</sup></div>
        <div class="formula variable_triple dividido">
          ( 1 - <span class="formula color4"><%= variable(v.variable_p, 'p') %></span> )
        </div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="formula variable_doble">&nbsp;</div>
        <div class="formula variable">&nbsp;</div>
        <div class="formula variable_triple">
          <span class="formula color2"><%= variable(v.variable_e, 'e') %></span><sup>2</sup>
        </div>
        <div class="formula variable_doble color4"><%= variable(v.variable_p, 'p') %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="formula variable_doble">
          <span class="badge badge-success"><%= variable(v.calcular_cantidad_firmas_muestra, 'm') %></span>
        </div>
        <div class="formula variable">=</div>
        <div class="formula variable_sextuple dividido"><%= variable(v.calcular_tamanio_muestra, 'n') %></div>
      </div>
      <div class="row">
        <div class="formula variable">&nbsp;</div>
        <div class="formula variable_doble">&nbsp;</div>
        <div class="formula variable_triple">
          ( 1 + <%= variable(v.calcular_tamanio_muestra, 'n') %> /
        </div>
        <div class="formula variable_triple"> 
          <span class="formula color3"><%= variable(v.cantidad_firmas_total, 'N') %></span> )
        </div>
      </div>
    </div>
  </div>
</div>
