<tr>
    <td><%= verificacion_firmas.descripcion %></td>
    <td><%= verificacion_firmas.cantidad_firmas_total %></td>
    <td>
        <%= verificacion_firmas.cantidad_firmas_muestra %>
        (<%= verificacion_firmas.confianza %>% de confianza, <%= verificacion_firmas.error %>% de error)
    </td>
    <td>
        <%= verificacion_firmas.casos_cargados.size %> firmas (<%= porcentaje_carga_completado(verificacion_firmas).to_i unless verificacion_firmas.casos_cargados.empty? %> %)
        <div class="progress">
            <div class="progress-bar" style="width: <%= porcentaje_carga_completado(verificacion_firmas) %>%;"></div>
        </div>
    </td>
    <td nowrap><%= link_to '<i class="glyphicon glyphicon-list"></i> Detalle'.html_safe, verificacion_firmas, class: 'btn btn-default' %></td>
</tr>
