console.log('El objeto recibido: <%= @verificacion.inspect %>');

$('#formulas_verificacion').html('<%= escape_javascript(render(partial: "formulas_verificacion", locals: {v: @verificacion})) %>');
$('#verif_cantidad_firmas_muestra').val(<%= @verificacion.cantidad_firmas_muestra %>);
