<div class="row">
  <div class="col-md-12">
    <%= titulo_con_linea 'Verificación de Firmas' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row well">
      <div class="col-md-6 col-md-offset-1"><%= link_uba_doc %></div>
      <div class="col-md-5">
        <%= link_to "<i class='glyphicon glyphicon-plus'></i> Nuevo".html_safe, new_verificacion_firmas_path, class: "btn btn-success pull-right" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Descripci&oacute;n</th>
          <th>Firmas</th>
          <th>Muestra</th>
          <th>Progreso de carga</th>
          <th width="1"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @verificaciones %>
      </tbody>
    </table>

  </div>
</div>
<div class="row well">
  <div class="col-md-12">
    <%= link_to "<i class='glyphicon glyphicon-plus'></i> Nuevo".html_safe, new_verificacion_firmas_path, class: "btn btn-success pull-right" %>
  </div>
</div>
