<div class="row">
	<div class="col-md-12">

		<h2>
			<%= @verificacion.descripcion %>
			<%= link_to '<i class="glyphicon glyphicon-arrow-left"></i> Volver'.html_safe, verificaciones_firmas_path, class: 'btn btn-default pull-right' %>
		</h2>
		<hr/>

	</div>
</div>
<div class="row">
	<div class="col-md-6 well">

		<div class="row">
			<div class="col-md-6 col-md-offset-1">
				Cant. Total Firmas: <strong><%= number_with_delimiter(@verificacion.cantidad_firmas_total) %></strong><br/>
			</div>
			<div class="col-md-5">
				Muestra: <strong><%= number_with_delimiter(@verificacion.cantidad_firmas_muestra) %></strong><br/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				<em>confianza: <%= number_with_delimiter(@verificacion.confianza) %> % - p: <%= number_with_delimiter(@verificacion.variable_p) %> - error: <%= number_with_delimiter(@verificacion.error) %> %</em>
			</div>
		</div>

	</div>
	<div class="col-md-6">

		<div id="barra_progreso">
			<%= render partial: 'barra_progreso', locals: {verificacion: @verificacion} %>
		</div>

	</div>
</div>
<div class="row">
	<div class="col-md-12">

		<hr/>
		<div id="edit_caso_form" class="text-center">
		</div>
		<br>
		<div id="casos_table">
		</div>

	</div>
</div>

<script>
	$(document).ready(function() {
		$.ajax({url: '<%= edit_verificacion_firmas_caso_verificacion_path(@verificacion, @verificacion.proximo_caso_a_cargar) %>.js'});
		$.ajax({url: '<%= verificacion_firmas_casos_verificacion_path(@verificacion) %>.js?estado=<%= CasosVerificacionController::ESTADOS[:cargados] %>'});
	});
</script>
