
<!-- Modal -->
<div id="errorDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="errorDialogHeader" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="errorDialogHeader">Atenci&oacute;n</h3>
			</div>
			<div class="modal-body">
				<p id="errorDialogMessage">One fine body…</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
		</div>
	</div>
</div>
