
	<footer class="footer">
		<hr/>
			
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<p><small><strong>SIEL</strong> versi&oacute;n <%= APP_VERSION %></small></p>
				</div>
				<div class="col-md-4">				
					<p class="text-center"><em>&copy; TSJ CABA - Direcci&oacute;n de Inform&aacute;tica y Tecnolog&iacute;a</em></p>
				</div>
				<div class="col-md-4">
					<p class="text-right">
						<small>locale: <strong><%= I18n.locale %></strong></small>
						<small>&nbsp;|&nbsp;</small>
						<small>Usuario logueado: <strong title="<%= user_groups %>"><%= current_user.nombre_usuario %></strong></small>
					</p>
				</div>
			</div>
		</div>
	</footer>
