<div class="navbar <%= clase_navegador %> navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex6-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to root_path, class: "navbar-brand icon-brand" do %>
          <%= image_tag "logo.png" %>
        <% end %>
        <%= link_to "SIEL", root_path, class: "navbar-brand" %>
      </div>

      <ul class="nav navbar-nav navbar-collapse navbar-ex6-collapse in">
        <% if can?(:manage, Eleccion) %>
          <%= menu_item "Elecciones", elecciones_path, 'elecciones', 'index' %>
        <% end %>

        <% if can?(:manage, Fuerza) || can?(:manage, Fiscal) %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Agrupaciones Pol&iacute;ticas</a>
            <ul class="dropdown-menu" role="menu">
              <% if can?(:manage, Fuerza) %>
                <% if current_user.apoderado? %>
                  <%= menu_item current_user.fuerza.nombre, fuerza_path(current_user.fuerza), 'fuerzas', 'index' %>
                <% else %>
                  <%= menu_item "Registro de Partidos", fuerzas_path, 'fuerzas', 'index' %>
                <% end %>
                <% eleccion_actual = Eleccion.actual %>
                <!-- <%= menu_item("Partidos / Alianzas Electorales", fuerzas_eleccion_path(eleccion_actual), 'elecciones', 'fuerzas') if eleccion_actual.present? %> -->
                <%= menu_item "Afiliaciones", afiliaciones_path, 'afiliacion', 'index' if can?(:manage, Afiliacion)  %>
              <% end %>
              <%= menu_item "Fiscales", fiscales_path, 'fiscal', 'index' %>
            </ul>
          </li>
        <% end %>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Candidaturas</a>
          <ul class="dropdown-menu" role="menu">
            <% if can?(:index, Lista) %>
              <%= menu_item "Listas PASO", listas_path, 'listas', 'index' %>
            <% end %>

            <% if can?(:index, :lista_general) %>
              <%= menu_item "Listas GENERALES", listas_generales_index_path, 'listas_generales', 'index' %>
            <% end %>

            <% if can?(:show, Lista) and current_user.lista_partidaria? %>
              <%= menu_item "#{current_user.lista.nombre}", lista_path(current_user.lista), 'listas', 'show' %>
            <% end %>
          </ul>
        </li>

        <% if can?(:manage, Cargo) and can?(:manage, Incidencia) %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Herramientas</a>
            <ul class="dropdown-menu" role="menu">
              <%= menu_item("Incidencias", incidencias_path, 'incidencias', 'index') %>
              <%= menu_item("Mesas Extranjeros", mesa_extranjeros_path, 'mesa_extranjeros', 'index') %>
              <%= menu_item("Registro de Candidaturas", registro_candidaturas_path, 'registro_candidaturas', 'index') %>
              <%= menu_item("Cargar Escrutinio", importacion_escrutinios_path, 'escrutinios', 'index') %>
            </ul>
          </li>
        <% end %>

        <% if can?(:manage, Padron) %>
          <!-- 
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Padr&oacute;n Electoral</a>
            <ul class="dropdown-menu" role="menu">
              <%= menu_item "Importación del Padrón Electoral", padrones_path, 'padrones', 'index' %>
              <%= menu_item "Búsqueda del Padrón Electoral", renglones_padron_path, 'renglones_padron', 'index' %>
            </ul>
          </li>
          -->
        <% end %>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administraci&oacute;n</a>
          <ul class="dropdown-menu" role="menu">
            <% if can?(:read, Usuario) %>
              <%= menu_item "#{current_user.interno? ? 'Usuarios Externos' : 'Usuarios Apoderados de Lista'}", usuarios_path, 'usuarios', 'index' %>
            <% end %>
            <% if can?(:cambiar_contrasenia, Usuario) %>
              <%= menu_item "Cambiar Contraseña", usuario_cambiar_contrasenia_path, 'usuarios', 'cambiar_contrasenia' %>
            <% end %>
            <% if can?(:manage, SielArchivo) %>
              <%= menu_item "Documentos Varios", siel_archivos_path, 'archivos_conformidad', 'index' %>
            <% end %>
            <% if can?(:manage, Configuracion) %>
              <%= menu_item "Configuraciónes", configuracion_path(Configuracion.last), 'configuraciones', 'show' %>
            <% end %>
          </ul>
        </li>

        <li>
          <%= link_to "Reincidencia", antecedentes_penales_index_path %>
        </li>

        <li>
          <%= link_to "Manual de Uso", "#{root_url}/descargas/manual_de_usuario.pdf", target: '_blank' %>
        </li>

        <li class="pull-right logout-button-collapse">
          <a href="/admin/logout">Cerrar sesi&oacute;n de <strong><span><%= current_user.nombre_usuario %></span></strong></a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right logout-button">
        <li class="pull-right">
          <a href="/admin/logout">Cerrar sesi&oacute;n de <strong><span><%= current_user.nombre_usuario %></span></strong></a>
        </li>
      </ul>
    </div>
  </div>
</div>
