﻿<%= params[:flash] %>

<div id="flash-alerts">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert <%= clase_alerta(name) %>" id="fixed_alert">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
</div>
