﻿
<!-- Modal -->
<div id="windowDialog" class="modal fade window" tabindex="-1" role="dialog" aria-labelledby="infoDialogHeader" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="windowDialogHeader">##titulo##</h3>
			</div>
			<div class="modal-body">
				<p id="windowDialogMessage">##cuerpo##</p>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-md-7 text-left" id="windowDialogFooterLeft">
					</div>
					<div class="col-md-7">
						<button class="btn btn-primary" id="windowDialogOkButton"><i class="glyphicon glyphicon-ok"></i> </button>
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
