﻿<!DOCTYPE html>

<html>

	<head>
		<title>SIEL</title>
		<%= favicon_link_tag 'favicon.ico' %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<%= render 'layouts/google_analytics' if Rails.env.production? %>
	</head>
	
	<body>
		
		<div class="container">		

			<div class="row">		
				<div class="col-md-12">
					<%= yield %>
				</div>
			</div>			
		</div>

	</body>
	
</html>
