<!DOCTYPE html>
<html>
	<head>
		<title>SIEL</title>
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
		<%= favicon_link_tag 'favicon.ico' %>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= csrf_meta_tags %>
		<%= javascript_include_tag "application" %>
		<%= render 'layouts/google_analytics' if Rails.env.production? %>
	</head>

	<body>
		<%= render "layouts/menu" %>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%= render 'layouts/messages' %>
					<%= yield %>
				</div>
			</div>
		</div>

		<%= render "layouts/footer" %>

		<%= render "layouts/error_dialog" %>

		<%= render "layouts/info_dialog" %>

		<%= render "layouts/pop_window" %>
	</body>

</html>
