<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      <%= Rails.application.assets.find_asset('application.css').to_s %>
    </style>
  </head>

  <body style="background-color: white;">
    <div class="container">
      <%= yield %>
    </div>  
  </body>
</html>