﻿<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>TSJ - Secretar&iacute;a Electoral</h1>
    <h2>Informa:</h2>

    <%= yield %>
  </body>

</html>